@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.song-guesser {
    width: calc(100% - 10px);
    margin: 5px 0;
    padding: 5px;
    background-color: #555;
    cursor: pointer;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.author {
    color: #ccc;
}

.song-guesser:hover {
    background-color: #777;
}