.playerform {
    margin: 150px 0 0 40px;
}

#id_name {
    margin-top: 40px;
}

#id_info {
    height: 200px;
    width: 70%;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}

@media (max-width: 560px) {
    #id_info {
        margin-top: 0;
    }
}

#id_info:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #BB002D inset;
}

#id_info:focus::placeholder {
    color: transparent;
}

#submit {
    margin: 20px 0 0 20px;
}

#submit:hover {
    box-shadow: 0 0 0 2px #BB002D inset;
    transform: color 0.5s;
}

.tablesection {
    margin: 40px 0 10px 40px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.tableinfo {
    word-break : break-all;
}

table tr {
    margin: 5px;
}

table tr th {
    padding: 5px;
}

table tr td {
    padding: 5px;
}

.fa-trash-alt {
    color: #BB002D;
}