section p {
    margin: 0 40px 0 0;
}

.raidsection {
    margin: 130px 0 0 40px;
}

#raidform {
    margin-top: 20px;
}

#submit {
    margin-top: 20px;
}

#submit:hover {
    box-shadow: 0 0 0 2px #BB002D inset;
    transform: color 0.5s;
}

#raidwarning {
    margin: 10px 20px;
}

.filtersection {
    margin: 40px 0 0 40px;
}

.tablesection {
    margin: 40px 0 10px 40px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.tableinfo {
    word-break : break-all;
}

table tr {
    margin: 5px;
}

table tr th {
    padding: 5px;
}

table tr td {
    padding: 5px;
}

.name {
    display: inline-block;
    cursor: pointer;
}

.map:hover {
    color: #BB002D;
    transition: color 0.5s;
}