.photo_info {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 200px;
    padding: 2.5px 10px;
    border-radius: 5px;
    color: #bbb;
    background-color: #00000055;
}

@media (max-width: 640px) {
    .photo_info {
        bottom: 15px;
        right: 15px;
    }
}

.info_flag {
    display: block;
    width: 150px;
    margin: 70px auto 0 auto;
}

#dynmap {
    display: block;
    height: 65vh;
    width: 65vw;
    margin: 0 auto;
}

#links {
    margin-bottom: 60px;
}