* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}


/* ヘッダー */
header {
    z-index: 9999;
    height: 64px;
    width: 100%;
    background-color: #000;
    border-bottom: solid 4px #fff;
    position: fixed;        /* 最上部に固定 */
    top: 0px        /*0pxに*/
}

.header-left {
    margin-left: 8px;
    float: left;
}

.header-left p {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    vertical-align: top; 
    margin-top: 20px;
    font-size: 25px;
    line-height: 25px;
    color: #FFF;
}

.logo {
    display: inline-block;
    height: 45px;
    margin-top: 10px;
    border-radius:50%;
}

.header-right {
    margin: 8px 8px 0 0;
    float: right;
}

.header-right nav a {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-right: 8px;
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
    transition: color 0.5s;
    vertical-align: top;
}

.header-right nav a i {
    font-size: 48px;
}

.header-right nav a:hover {
    text-decoration: underline #ddd;
    text-underline-offset: 3px;
    transition: color 0.5s;
}

@media (max-width: 640px) {
    header {
        height: 128px;
        margin-bottom: 128px;
        position: absolute;
        top: 0px;
    }

    .header-left {
        position: relative;
        top: 6px;
        margin-top: 4px;
        float: none;
        text-align: center;
    }

    .header-right {
        float: none;
        text-align: center;
    }

    .header-right nav a {
        margin-right: calc(8% - 30px);
    }
}

@media (max-width: 360px) {
    .header-right {
        position: relative;
        left: -4px;
        margin-right: 4px;
    }

    .header-right nav a {
        margin-right: calc(8% - 25px);
        font-size: 15px;
    }

    .footer-left p {
        visibility:hidden;
    }
}

.clear {
    clear: both;
}


/* 基礎 */
main {
    margin-top: 64px;
}

@media (max-width: 640px) {
    main {
        margin-top: 128px;
    }
}

#mainarticle {
    margin-top: 100px;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin: 50px 0 10px 0;
}

@media (max-width: 480px) {
    h1 {
        font-size: 9vw;
    }
}

h2 {
    font-size: 25px;
    line-height: 25px;
    margin: 40px 20px 20px 20px;
    padding: 10px 0 5px 10px;
    background: linear-gradient(90deg, #FFD1DC, #eee, calc(40vw + 300px), #eee);
    border-radius: 5px;
}

section p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    line-height: 30px;
    margin: 0 24px;
}

a {
    color: #fff;
    text-decoration: underline 2px #fff;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 16px;
    margin: 0 5px;
}

.kanjipa {
    font-size: 27px;
}

.kanjih1 {
    font-size: 60px;
    line-height: 60px;
}

.kanjih2 {
    font-size: 38px;
    line-height: 38px;
}

.underline {
    text-align: center;
    height: 8px;
    width: 150px;
    margin: 0 auto 5px auto;
    background-color: #fff;
}

@media (max-width: 640px) {
    .underline {
        margin-bottom: 15px;
    }
}


/* メニュー */
#menuarticle {
    display: none;
    margin-top: 64px;
    height: calc(100vh - 96px);
}

#pages p {
    margin-top: 32px;
    padding: 32px 0 0 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px !important;
    line-height: 60px !important;
}

#pages a {
    padding-left: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px !important;
    line-height: 60px !important;
    text-decoration: underline;
}


/* フォーム */
input {
    height: 50px;
    width: 240px;
    font-size: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}

@media (max-width: 360px) {
    input {
        width: 180px;
    }
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff inset;
}

input:focus::placeholder {
    color: transparent;
}

.formbutton {
    height: 49.5px;
    width: 100px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 360px) {
    .formbutton {
        width: 80px;
    }
}

.formbutton:hover {
    background-color: #ddd;
}

.formbutton:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #eee;
}


/* フッダー */
footer {
    width: 100%;
    bottom: 0;
    background-color: #2f3a44;
}

.footer-container {
    height: 32px;
}

.footer-left {
    position: relative;
    float: left;
    top: 6px;
    left: 6px;
    height: 24px;   
}

.footer-left p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 0 8px;
}

.footer-right p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    line-height: 12px;
    float: right;
    display: inline;
    margin: 9px 8px 0 0;
    color: #fff;
}