#makeForm {
    margin-left: calc(32vw - 160px);
}

@media (max-width: 720px) {
    #makeForm {
        margin-left: 0;
    }
}

.genetype {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

.devinput {
    display: inline-block;
    cursor: pointer;
}

.devinput label {
    cursor: pointer;
}

#songsec {
    display: none;
}

.songrow {
    display: none;
    width: calc(50vw - 98px);
    margin: 5px 0 5px 60px;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
}

.channel {
    color: #ccc;
}

.songrow:hover {
    background-color: #555;
}

@media (max-width: 720px) {
    .songrow {
        width: calc(65vw - 50px);
    }
}

#similar {
    box-shadow: none;
}

#similarlabel {
    position:relative;
    bottom: 20px;
}

#similarvalue {
    display: inline-block;
    position:relative;
    bottom: 20px;
}

.formmargin {
    margin-left: calc(32vw - 160px);
}

@media (max-width: 720px) {
    .formmargin {
        margin-left: 0;
    }
}

.formmargin p, .formmargin li {
    line-height: 40px;
}