.imitateimitatediv {
    display: inline-block;
    margin-left: 10px;
}

#imitateimitatediv1 {
    margin-left: 5px;
}

@media (max-width: 720px) {
    .imitateimitatediv {
        display: block;
        margin:10px 0 0 88px !important;
    }

    #url {
        margin-bottom: 20px;
    }

    select {
        margin-top: 0;
    }

    #imitateimitatediv2 {
        margin-top: 20px;
    }
}

.imitateimitatediv input {
    margin-top: 0;
}

#appendimitate, #deleteimitate {
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 87px !important;
    padding-left: 0px;
    height: 49.5px;
    width: 200px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

#appendimitate {
    display: inline-block;
}

#deleteimitate {
    margin-left: 0 !important;
    display: none;
}

@media (max-width: 550px) {
    #appendimitate, #deleteimitate{
        margin-left: 0 !important;
        width: 150px;
    }
}

#appendimitate:hover, #deleteimitate:hover {
    background-color: #ccc;
}

#appendimitate:active, #deleteimitate:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#appendimitate:disabled, #deleteimitate:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}