.imitateimitatediv {
    display: inline-block;
    margin-left: 10px;
}

#imitateimitatediv1 {
    margin-left: 5px;
}

.imitateimitatediv input {
    margin-top: 0;
}

#addimitate {
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 87px !important;
    padding-left: 0px;
    height: 49.5px;
    width: 200px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

#addimitate:hover {
    background-color: #ccc;
}

#addimitate:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}