section p, section a {
    margin: 20px;
}

.fa-music, .fa-user-circle, .fa-link {
    margin-right: 10px;
}

#songchannel ,#songurl, #songurlnotfound, #songlyricsnotfound {
    display: block;
}

#songlyrics {
    text-align: center;
    margin-top: 40px;
}

#songimitateslabel {
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    margin: 0 -20px 0 20px;
}

.songimitate {
    display: inline;
    white-space: nowrap;
    margin: 0 0 0 20px;
}

#songnotfound {
    text-align: center;
}

#tonew {
    margin: 0 auto;
}