#article-title * {
    display: inline-block;
    color: #fff;
}

#article-info {
    text-align: center;
    margin-bottom: 20px;
}

#article-info, #article-info i {
    margin-bottom: 10px;
    font-size: 16px;
}

.fa-tags, .fa-file-signature {
    margin-left: 20px;
}

#article-text p {
    line-height: 45px;
}

#article-text h2 {
    margin: 75px 0 25px 0;
}

#article-text img {
    margin: 20px 0;
    max-width: 800px;
    width: 80vw;
}