.artile-info, .artile-info i {
    margin-bottom: 10px;
    font-size: 16px;
}

.fa-tags, .fa-file-signature {
    margin-left: 20px;
}

.artile-info {
    text-align: center;
    margin-bottom: 20px;
}