*.log
*.pyc
.htmlhintrc
db.sqlite3
local_settings.py
mycommand.py
wordcloud.py
sitemap.xml
.env
sandbox
backups/*
!backups/
!backups/.gitkeep
private/*
dynamic/*
subekashi/constants/dynamic/*
__pycache__
static/
!*/static/
sessions/*
!sessions/
!sessions/.gitkeep
.vscode
.prettierrc
subekashi/static/subekashi/special/*.mp3