*.log
*.pyc
.htmlhintrc
db.sqlite3
subekashi_latest.sql*
local_settings.py
mycommand.py
wordcloud.py
sitemap.xml
.env
sandbox
private/*
dynamic/*
subekashi/constants/dynamic/*
__pycache__
static/
!*/static/
sessions/*
!sessions/
!sessions/.gitkeep
.vscode
.prettierrc
CLAUDE.md