{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'article/css/anniversary6.css'%}{% endblock %}

{% block content %}
<section id="anniversary6">
    <h1>6周年記念グラフィックアート</h1>
    <div class="underline"></div>
    <p>全てあなたの所為です。6周年を記念して、全て歌詞の所為です。のデータベースを用いて製作されたグラフィックアートを公開します。</p>
    {% for image in images %}
        <div class="img-div" id="{{ image }}">
            <a href="{% static 'article/image/anniversary6/'|add:image|add:'_8k.jpeg' %}" target="_blank">
                <img src="{% static 'article/image/anniversary6/'|add:image|add:'_hd.jpeg' %}" alt="{{ image }}" height="720" width="1280">
            </a>
            <div class="a-download">
                <a href="{% static 'article/image/anniversary6/'|add:image|add:'_hd.jpeg' %}" download><i class="fas fa-file-download"></i>低画質</a>
                <a href="{% static 'article/image/anniversary6/'|add:image|add:'_8k.jpeg' %}" download><i class="fas fa-file-download"></i>高画質</a>
            </div>
        </div>
    {% endfor %}
    ...
</section>
{% endblock %}