{% load static %}


<aside>
    <a class="sansfont" href="{% url 'subekashi:top' %}"><i class="fas fa-home"></i><p>トップ</p></a>
    <a class="sansfont" href="{% url 'subekashi:song_new' %}"><i class="fa fa-plus"></i><p>新規登録</p></a>
    <a class="sansfont" href="{% url 'subekashi:search' %}"><i class="fas fa-search"></i><p>検索</p></a>
    <a class="sansfont" href="{% url 'subekashi:ai' %}"><i class="fa fa-robot"></i><p>歌詞生成</p></a>
    <a class="sansfont" href="{% url 'subekashi:ad' %}"><i class="fas fa-bullhorn"></i><p>宣伝</p></a>
    <a class="sansfont" href="{% url 'subekashi:special' %}"><i class="far fa-star"></i><p>スペシャル</p></a>
    <a class="sansfont" href="{% url 'subekashi:contact' %}"><i class="fas fa-envelope"></i><p>お問い合わせ</p></a>
    <a class="sansfont" href="{% url 'subekashi:setting' %}"><i class="fas fa-cog"></i><p>設定</p></a>
    <a href="https://www.youtube.com/@subeteanatanoseidesu" target="_blank"><i class="far fa-user"></i><p>全てあなたの所為です。</p></a>
</aside>