{% load static %}


<aside>
    <table>
        {% for aside_page in aside_pages %}
        <tr>
            <td><a class="sansfont" href="{% url aside_page.url %}"><i class="{{ aside_page.icon }}"></i></a></td>
            <td><a class="sansfont" href="{% url aside_page.url %}"><p>{{ aside_page.name }}</p></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="https://www.youtube.com/@subeteanatanoseidesu" target="_blank"><i class="far fa-user"></i></a></td>
            <td><a href="https://www.youtube.com/@subeteanatanoseidesu" target="_blank"><p>全てあなたの所為です。</p></a></td>
        </tr>
    </table>
</aside>
