{% load static %}
{% load description %}
{% load last_modified %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="google-site-verification" content="s75SuYL1wkP8Yb-9SNr8hkh_LBtdmo54X9GWi12L7CI" />
        <meta name="author" content="全て歌詞の所為です。">
        <meta name="og:type" content="website">
        <meta name="og:url" content="https://lyrics.imicomweb.com/">
        <meta name="og:image" content="{% static 'subekashi/image/icon.png' %}">
        <meta name="twitter:image" content="{% static 'subekashi/image/icon.png' %}">
        <meta name="og:description" content="{% get_description description %}">
        <meta name="description" content="{% get_description description %}">
        <meta name="og:title" content="{{ metatitle }} | 全て歌詞の所為です。">
        <title>{{ metatitle }} | 全て歌詞の所為です。</title>
        <link rel="stylesheet" type="text/css" href="{% static 'subekashi/css/common.css'%}?{% get_last_modified %}">
        <link rel="stylesheet" type="text/css" href="{% static 'subekashi/css/components/song_card.css'%}?{% get_last_modified %}">
        <link rel="stylesheet" type="text/css" href="{% static 'subekashi/css/components/song_guesser.css'%}?{% get_last_modified %}">
        <link rel="stylesheet" type="text/css" href="{% block css %}{% endblock %}?{% get_last_modified %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" > <!-- font awesome -->
        <link rel="shortcut icon" href="{% static 'subekashi/image/icon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'subekashi/image/apple-touch-icon.png' %}">
    </head>
    <body>
        {% include './header.html' %}
        <main>
            <article id="mainarticle">
                {% block content %}{% endblock %}
                <section>
                    <div id="agreement">
                        <p>このサイトはcookieを使用しております。</p>
                        <button type="button" onclick="agree(true)">OK</button>
                    </div>
                </section>
            </article>
        </main>
        {% include './footer.html' %}
    </body>

    <script src="{% static 'subekashi/js/base.js' %}?{% get_last_modified %}" rel="stylesheet"></script>
    {% block js %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJHM3M7SH1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GJHM3M7SH1');
    </script>
</html>
