{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="全て歌詞の所為です。">
        <meta name="og:type" content="website">
        <meta name="og:title" content="{% block ogtitle %}{% endblock %} | 全て歌詞の所為です。">
        <meta name="og:image" content="{% static 'subekashi/image/icon.png' %}">
        <meta name="og:description" content="全て歌詞の所為です。は全てあなたの所為です。の模倣曲の歌詞をまとめたサイトです。">
        <meta name="og:url" content="https://lyrics.imicomweb.com/">
        <meta name="description" content="全て歌詞の所為です。は全てあなたの所為です。の模倣曲の歌詞をまとめたサイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <meta name="google-site-verification" content="s75SuYL1wkP8Yb-9SNr8hkh_LBtdmo54X9GWi12L7CI" />
        <title>{% block title %}{% endblock %} |  全て歌詞の所為です。</title>
        <link rel="stylesheet" type="text/css" href="{% static 'subekashi/css/common.css'%}?{{ lastModified }}">
        <link rel="stylesheet" type="text/css" href="{% block css %}{% endblock %}?{{ lastModified }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link rel="preconnect" href="https://fonts.googleapis.com">     <!-- sans font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        <!-- sans font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">      <!-- sans font -->
        <link rel="shortcut icon" href="{% static 'subekashi/image/icon.ico' %}">
    </head>
    <body>
        {% include './header.html' %}
        <main>
            <article id="mainarticle">
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include './footer.html' %}
    </body>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block js %}{% endblock %}
    <script src="{% static 'subekashi/js/base.js' %}?{{ lastModified }}" rel="stylesheet"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJHM3M7SH1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GJHM3M7SH1');
    </script>
</html>
