{% load static %}
<header>
    <div id="pc-global-header">
        <div id="pc-global-items-wrapper" class="sansfont">
        </div>
        <div id="pc-global-message">
            <p id="pc-global-news"></p>
            <p class="pc-global-notice"></p>
            <p class="pc-global-notice"></p>
        </div>
    </div>

    <div id="subekashi-header">
        <div id="subekashi-header-top">
            <a href="{% url 'subekashi:top' %}" id="header-logo-link">
                <img name="thumbnail" id="header-logo-img" src="{% static 'subekashi/image/icon.png' %}" alt="全て歌詞の所為です。のロゴ" height="45" width="45" loading="lazy">
            </a>
            {% if is_maintenance %}
                <a href="{% url 'subekashi:top' %}">メンテナンス中です。</a>
            {% else %}
                <a href="{% url 'subekashi:top' %}">全て歌詞の所為です。</a>
            {% endif %}
        </div>
        {% if pc_menu_position == "header" %}
            {% include './pc_menu.html' %}
        {% endif %}
    </div>
</header>
