{% load static %}
<header>
    <div id="pc-global-header">
        <div id="pc-global-items-wrapper" class="sansfont">
            <p>界隈グローバルヘッダーの読み込み中...</p>
        </div>
        <div id="pc-global-message">
            <p id="pc-global-news"></p>
            <p class="pc-global-notice"></p>
            <p class="pc-global-notice"></p>
        </div>
    </div>
    
    <div id="subekashi-header">
        <a href="{% url 'subekashi:top' %}">
            <img name="thumbnail" src="{% static 'subekashi/image/icon.png' %}" alt="全て歌詞の所為です。のロゴ" height="45" width="45" loading="lazy">
        </a>
        <a href="{% url 'subekashi:top' %}">全て歌詞の所為です。</a>
    </div>
</header>
