{% load static %}
<nav id="menuarticle">
    <ul>
        <li><a class="sansfont" href="{% url 'subekashi:top' %}">トップ</a></li>
        <li><a class="sansfont" href="{% url 'subekashi:search' %}">一覧と検索</a></li>
        <li><a class="sansfont" href="{% url 'subekashi:new' %}">登録と編集</a></li>
        <li><a class="sansfont" href="{% url 'subekashi:ai' %}">歌詞生成</a></li>
        <li><a class="sansfont" href="{% url 'subekashi:setting' %}">設定</a></li>
        <li><a href="https://www.youtube.com/@subeteanatanoseidesu">全てあなたの所為です。</a></li>
    </ul>
</nav>
