{% load static %}
<nav class="menuarticle" id="menuarticle">
    <h2 class="nokanji">メニュー</h2>
    <ul>
        <li><a class="nokanji" href="{% url 'subekashi:top' %}">トップ</a></li>
        <li><a class="nokanji" href="{% url 'subekashi:search' %}">一覧と検索</a></li>
        <li><a class="nokanji" href="{% url 'subekashi:new' %}">登録と編集</a></li>
        <li><a class="nokanji" href="{% url 'subekashi:make' %}">歌詞の生成</a></li>
        <li><a class="nokanji" href="{% url 'subekashi:ai' %}">生成された歌詞</a></li>
        <li><a class="nokanji" href="https://www.youtube.com/@subeteanatanoseidesu">全てあなたの所為です。</a></li>
    </ul>
</nav>
