{% load static %}
<section>
    <div id="pages">
        <p>メニュー</p><br />
        <a class="nokanji" href="{% url 'top' %}">トップ</a><br />
        <a class="nokanji" href="{% url 'search' %}">曲の一覧と検索</a><br />
        <a class="nokanji" href="{% url 'new' %}">曲を登録</a><br />
        <a class="nokanji" href="{% url 'make' %}">歌詞を生成</a><br />
        <a class="nokanji" href="{% url 'login' %}"><span class="googleblue">G</span><span class="googlered">o</span><span class="googleyellow">o</span><span class="googleblue">g</span><span class="googlegreen">l</span><span class="googlered">e</span>でログイン</a><br />
        <a class="nokanji" href="https://www.youtube.com/@subeteanatanoseidesu">全てあなたの所為です。</a><br />
    </div>
</section>