{% extends "subekashi/base/base.html" %}
{% block title %}全て五百の所為です。{% endblock %}
{% block ogtitle %}全て五百の所為です。{% endblock %}
{% block ogdescription %}全て五百の所為です。{% endblock %}
{% load static %}
{% load lastModified %}
{% block css %}{% static 'subekashi/css/error.css'%}{% endblock %}

{% block content %}
<section id="error">
    <h2>本日は全て歌詞の所為です。に</h2>
    <h2>御アクセス頂き、</h2>
    <h2>ありがとうございます。</h2>
    <h2>大変申し訳ありませんが、</h2>
    <h2>内部エラーが発生した為、</h2>
    <h2>ご覧になることが出来ません。</h2>
    <h2>またの御アクセスをお待ちしております。</h2>
    <div>
        <a href="{% url 'subekashi:top' %}"><img name="thumbnail" class="logo" src="{% static 'subekashi/image/icon.png' %}" alt="全て歌詞の所為です。のロゴ"></a>
        <a href="{% url 'subekashi:top' %}" class="logomoji">全て歌詞の所為です。</a>
    </div>
</section>
{% endblock %}

{% block js %}
    <script defer src="{% static 'subekashi/js/error.js' %}?{% get_last_modified %}" rel="stylesheet"></script>
{% endblock %}