{% extends "subekashi/base/base.html" %}


{% load static %}
{% load song_card %}
{% load humanize %}
{% block css %}{% static 'subekashi/css/author.css'%}{% endblock %}

{% block content %}
<section>
    <h1>{{ author }}</h1>
    <div class="dummybuttons">
        <div class="dummybutton-with-count">
            <a href="{% url 'subekashi:author_aliases' author_id %}">
                <div class="dummybutton black-dummybutton"><i class="fas fa-people-arrows"></i><p>別名</p></div>
            </a>
            {% if alias_count >= 1 %}<p id="alias-count">{{ alias_count }}件の別名</p>{% endif %}
        </div>
        <div class="dummybutton-with-count">
            <a href="{% url 'subekashi:author_stats' author_id %}">
                <div class="dummybutton black-dummybutton"><i class="fas fa-chart-line"></i><p>統計</p></div>
            </a>
            <p id="author-stats-summary"><i class="fas fa-play"></i> {{ total_view|intcomma:False }}</p>
        </div>
    </div>
    {% for songIns in songInsL %}
        {% render_song_card songIns %}
    {% empty %}
        <p id="songnotfound">曲が見つかりませんでした</p>
    {% endfor %}
    <div class="dummybuttons">
        <a href="{% url 'subekashi:song_new' %}?authors={{ author }}">
            <div class="dummybutton black-dummybutton"><p>曲を登録する</p></div>
        </a>
    </div>
</section>
{% endblock %}