{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'subekashi/css/author_aliases.css'%}{% endblock %}

{% block content %}
<section>
    <h1>{{ author.name }}の別名『{{ alias.name }}』を編集</h1>
    <form action="{% url 'subekashi:author_alias_edit' author.id alias.id %}" method="POST">{% csrf_token %}
        <div class="form-col">
            <label for="name">別名</label>
            <input type="text" id="name" name="name" class="sansfont" value="{{ alias.name }}" required>
        </div>
        <div class="form-col">
            <label for="alias_type">種別</label>
            <select id="alias_type" name="alias_type" required>
                <option value="" disabled>選択してください</option>
                {% for choice in alias_type_choices %}
                    <option value="{{ choice.value }}" data-description="{{ choice.description }}" {% if choice.value == alias.alias_type %}selected{% endif %}>{{ choice.label }}</option>
                {% endfor %}
            </select>
        </div>
        <p id="alias-type-description" class="alias-type-description info">
            <i id="alias-type-description-icon" class="fas fa-info-circle info"></i><span id="alias-type-description-text"></span>
        </p>
        <div class="dummybuttons">
            <a href="{% url 'subekashi:author_aliases' author.id %}">
                <div class="dummybutton black-dummybutton"><i class="fas fa-times"></i><p>戻る</p></div>
            </a>
            <button type="submit" class="dummybutton black-dummybutton dummybutton-w120"><i class="fas fa-check"></i><p>更新する</p></button>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/author_alias_form.js' %}" defer></script>
<script defer>
    {% if error %}
        showToast("error", "{{ error }}");
    {% endif %}
</script>
{% endblock %}
