{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'subekashi/css/author_aliases.css'%}{% endblock %}

{% block content %}
<section>
    <h1>{{ author.name }}の別名を追加</h1>
    <form action="{% url 'subekashi:author_alias_new' author.id %}" method="POST">{% csrf_token %}
        <div class="form-col">
            <label for="name">別名</label>
            <input type="text" id="name" name="name" class="sansfont" required>
        </div>
        <div class="form-col">
            <label for="alias_type">種別</label>
            <select id="alias_type" name="alias_type" required>
                {% for value, label in alias_type_choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="登録">
    </form>
</section>
{% endblock %}

{% block js %}
<script defer>
    {% if error %}
        showToast("error", "{{ error }}");
    {% endif %}
</script>
{% endblock %}
