{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'subekashi/css/author_aliases.css'%}{% endblock %}

{% block content %}
<section>
    <h1>{{ author.name }}の別名を追加</h1>
    <form action="{% url 'subekashi:author_alias_new' author.id %}" method="POST">{% csrf_token %}
        <div class="form-col">
            <label for="name">別名</label>
            <input type="text" id="name" name="name" class="sansfont" required>
        </div>
        <div class="form-col">
            <label for="alias_type">種別</label>
            <select id="alias_type" name="alias_type" required>
                <option value="" selected disabled>選択してください</option>
                {% for choice in alias_type_choices %}
                    <option value="{{ choice.value }}" data-description="{{ choice.description }}">{{ choice.label }}</option>
                {% endfor %}
            </select>
        </div>
        <p id="alias-type-description" class="alias-type-description info">
            <i id="alias-type-description-icon" class="fas fa-info-circle info"></i><span id="alias-type-description-text"></span>
        </p>
        <input type="submit" value="登録" disabled>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/author_alias_form.js' %}" defer></script>
<script defer>
    {% if error %}
        showToast("error", "{{ error }}");
    {% endif %}
</script>
{% endblock %}
