{% extends "subekashi/base/base.html" %}
{% block title %}{{ channel }}{% endblock %}
{% block ogtitle %}{{ channel }}{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/channel.css'%}{% endblock %}

{% block content %}
<section id="channelsettion">
    <h1>{{ channel }}</h1>
    <div class="underline"></div>
    {% if songInsL %}
        {% for songIns in songInsL %}
            <div class="songcard">
                <a href="{% url 'song' songIns.id %}" class="buttona">
                    <div class="cardleft">
                        <p class="songtitle"><i class="fas fa-music"></i> {{ songIns.title|slice:"30" }}</p>
                        {% if songIns.url %}
                            <object><a class="songurl" href="{{ songIns.url }}">{{ songIns.url|slice:"35" }}</a></object>
                        {% else %}
                            <p class="songurlnotfound">URL未登録</p>
                        {% endif %}
                    </div>
                    <div class="cardright">
                        {% if songIns.lyrics %}
                            <p class="songlyrics1">{{ songIns.lyrics|slice:"25" }}</p>
                            <p class="songlyrics2">{{ songIns.lyrics|slice:"25:50" }}...</p>
                        {% else %}
                            <p class="songlyricsnotfound">歌詞未登録</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p id="songnotfound">曲が見つかりませんでした</p>
    {% endif %}
    <div id="tonew" class="dummybutton" onclick="tonew()"><p class="dummybuttonp">曲を登録する</p></div>
</section>
{% endblock %}

{% block js %}
    <script src="{% static 'subekashi/js/fixfooter.js' %}?{{ lastModified }}" rel="stylesheet"></script>
    <script>
        function tonew() {
            window.location.href = "{% url 'new' %}?channel={{ channel }}";
        }

        window.addEventListener('load', function(){
            if ('{{fixfooter}}') {
                fixfooter();
            }
        });
    </script>
{% endblock %}