{% extends "subekashi/base/base.html" %}


{% load static %}
{% load song_card %}
{% block css %}{% static 'subekashi/css/channel.css'%}{% endblock %}

{% block content %}
<section id="channelsettion">
    <h1>{{ channel }}</h1>
    <div class="underline"></div>
    {% for songIns in songInsL %}
        {% render_song_card songIns %}
    {% empty %}
        <p id="songnotfound">曲が見つかりませんでした</p>
    {% endfor %}
    <div class="dummybuttons">
        <a href="{% url 'subekashi:song_new' %}?channel={{ channel }}">
            <div class="dummybutton"><p>曲を登録する</p></div>
        </a>
    </div>
</section>
{% endblock %}