{% extends "subekashi/base/base.html" %}
{% load static %}
{% block css %}{% static 'subekashi/css/contact.css' %}{% endblock %}

{% block content %}
<section>
    <h1>お問い合わせ</h1>
    <div class="underline"></div>
    {% if result == "ok" %}
        <p class="ok result">お問い合わせを送信しました。</p>
    {% elif result != "" %}
        <p class="error result">{{ result }}</p>
    {% endif %}
    <form action="{% url 'subekashi:contact' %}" method="POST">{% csrf_token %}
        <div class="form-col">
            <label for="contact-type" class="required">お問い合わせの種類</label>
            <select id="contact-type" name="contact-type" required>
                <option value="" disabled selected>選択してください</option>
                <option value="不具合の報告">不具合の報告</option>
                <option value="機能の提案">機能の提案</option>
                <option value="質問">質問</option>
                <option value="その他">その他</option>
            </select>
        </div>
        <div class="form-col">
            <label for="detail" class="required">詳細</label>
            <textarea id="detail" name="detail" required></textarea>
        </div>
        <input id="send" type="submit" name="submit" value="送信">
        <p><span class="error">*</span>は入力必須です。</p>
    </form>
    <h1>返信一覧</h1>
    <div class="underline"></div>
    <p>開発中...</p>
</section>
{% endblock %}