{% extends "subekashi/base/base.html" %}
{% block title %}開発者ツール{% endblock %}
{% block ogtitle %}開発者ツール{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/dev.css'%}{% endblock %}

{% block content %}
<section id="devsettion">
    <h1>dev</h1>
    <div class="underline"></div>
    {% if locked %}
        <form action="{% url 'subekashi:dev' %}" method="POST">{% csrf_token %}
            <input type="password" name="password" id="password">
            <input type="submit" name="submit" id="submit" value="送信">
        </form>
    {% else %}
        <form action="{% url 'subekashi:dev' %}?gpt=1" method="POST">{% csrf_token %}
            <textarea id="gpt" name="gpt" placeholder="GPT2japaneseの出力結果"></textarea>
            <input type="submit" name="submit" id="gptsubmit" value="送信">
        </form>
    {% endif %}
</section>
{% endblock %}
{% block js %}
<script src="{% static 'subekashi/js/fixfooter.js' %}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', fixfooter);
    function backupf() {
        window.open('{{baseURL}}/api/song/?format=json', '_blank');
        resetEle = document.getElementById("reset");
    }
    
    function confirmf() {
        resetEle = document.getElementById("resetsubmit");
        confirmEle = document.getElementById("confirm");
        if (confirmEle.checked) {
            resetEle.removeAttribute("disabled");
        } else {
            resetEle.setAttribute("disabled", true);
        }

    }
</script>
{% endblock %}