{% extends "subekashi/base/base.html" %}


{% load static %}
{% load changes %}
{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block css %}{% static 'subekashi/css/editor.css'%}{% endblock %}

{% block content %}
<section>
    <h1><span id="h1-title">{{ editor }}{% if is_me %}(あなた){% endif %}の編集履歴</span></h1>
    {% if editor.is_open or editor.is_forced_open or is_me %}
        {% if not editor.is_open and not editor.is_forced_open %}
            <p id="private_info">この情報はあなただけに表示されています。</p>
        {% endif %}
        <div class="dummybuttons">
            {% include "subekashi/components/history_action_buttons.html" %}
        </div>
        <p id="history-count">{{ total_count }}件</p>
        {% include "subekashi/components/pagination.html" %}
        {% for history in page_obj %}
            <details class="history_details">
                <summary><p>{{ history.create_time }}</p><p>{{ history.title }}</p></summary>
                {% render_changes history %}
                {% if history.song %}
                    <a href="{% url 'subekashi:song' history.song.id %}">{{ history.song.title }}</a>
                {% else %}
                    <p>この曲は削除されました</p>
                {% endif %}
            </details>
        {% endfor %}
        {% include "subekashi/components/pagination.html" %}
    {% else %}
        <p id="secret-info">この編集者の情報は非公開です。</p>
    {% endif %}
</section>
{% endblock %}

{% block js %}
    <script src="{% static 'subekashi/js/editor.js' %}" defer></script>
{% endblock %}
