{% extends "subekashi/base/base.html" %}
{% block title %}{{ songIns.title }}の追記{% endblock %}
{% block ogtitle %}{{ songIns.title }}の追記{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/edit.css'%}{% endblock %}

{% block content %}
<section id="formsection">
    <h1>{{ songIns.title }}の追記</h1>
    <div class="underline"></div>
    <form action="{% url 'edit' %}?id={{ songIns.id }}" method="POST" class="post-form" id="editForm">{% csrf_token %}
        {% if not songIns.url %}
            <label>URL </label>
            <input type="text" id="url" name="url" value="{{ url }}"><br>
        {% endif %}
        {% if not songIns.lyrics|slice:"1" %}
            <label id="lyricslabel">歌詞</label>
            <textarea id="lyrics" name="lyrics" value="{{ lyrics }}" oninput="autotextarea()"></textarea><br>
        {% endif %}
        <input type="submit" value="登録" id="submit">
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/fixfooter.js' %}?{{ lastModified }}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', fixfooter);
</script>
{% endblock %}