{% extends "subekashi/base/base.html" %}
{% block title %}歌詞生成{% endblock %}
{% block ogtitle %}歌詞生成{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/make.css'%}{% endblock %}

{% block content %}
<section id="formsection">
    <h1>歌詞の生成</h1>
    <div class="underline"></div>
    <form action="{% url 'make' %}" method="POST" class="post-form" id="makeForm">{% csrf_token %}
        <label>生成タイプ</label>
        <!-- <div class="devinput" onclick="devinput(0)"> -->
        <div class="devinput">
            <input type="radio" class="genetype" name="genetype" value="category" oninput="changetype(0)" disabled>
            <label><s>カテゴリ</s></label>
        </div>
        <!-- <div class="devinput" onclick="devinput(1)"> -->
        <div class="devinput">
            <input type="radio" class="genetype" name="genetype" value="song" oninput="changetype(1)" disabled>
            <label><s>ソング</s></label>
        </div>
        <div class="devinput" onclick="devinput(2)">
            <input type="radio" class="genetype" name="genetype" value="model" oninput="changetype(2)" checked>
            <label>モデル</label>
        </div><br>
        <!-- <div id="categorysec">
            <label>カテゴリ*</label>
            <select id="category" name="category" oninput="makeform();">
                <option>選択してください</option>
                <option>.模倣</option>
                <option>..模倣</option>
                <option>教育模倣</option>
                <option>アブジェ模倣</option>
                <option>...模倣</option>
                <option>表/裏模倣</option>
                <option>名の無い星が空に堕ちたら模倣</option>
                <option>エヌ模倣</option>
                <option>K²模倣</option>
            </select>
        </div> -->
        <div id="songsec">
            <label>曲名*</label>
            <input type="text" id="title" name="title" oninput="searchsong()"><br>
            {% for ins_song in ins_songs %}
            <div class="songGuess">
                <p class="songs" id="{{ ins_song.title }}" onclick="titleinput('{{ ins_song.title }}')"><span class="channel"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</span> <i class="fas fa-music"></i> {{ ins_song.title }}</p>
            </div>
            {% endfor %}
        </div>
        <div id="similarsec">
            <label id="similarlabel">類似度</label>
            <input type="range" id="similar" name="similar" min="1" max="5" value="3" oninput="similarinput()">
            <p id="similarvalue">3</p><br>
        </div>
        <!-- <input type="submit" value="生成" id="submit" disabled> -->
        <input type="submit" value="生成" id="submit">
        <p class="bottomelement">*がついているラベルは入力が必須です。</p>
        <p class="bottomelement">現在、カテゴリとソングのシステムを修正中です。</p>
    </form>
</section>

<section id="discribesection">
    <h1>用語について</h1>
    <div class="underline"></div>
    <div class="formmargin">
        <p>カテゴリ・・・全てあなたの所為です。の特定の曲とその模倣曲から生成する方法</p>
        <p>ソング・・・特定の曲を中心とした模倣関係となっている曲から生成する方法</p>
        <p>モデル・・・模倣曲を学習した言語モデルを用いて生成する方法</p>
        <p>類似度・・・高いほど模倣曲の数を減らし指定した曲に近い歌詞を生成する</p>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/makeform.js' %}?{{ lastModified }}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', function(){
        getSong('{{ basedir }}');
        if ('{{ error }}') {
            displayerror('{{ error }}');
        }
    })
</script>
{% endblock %}