{% extends "subekashi/base/base.html" %}
{% block title %}曲の登録{% endblock %}
{% block ogtitle %}曲の登録{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/new.css'%}{% endblock %}

{% block content %}
<section>
    <h1>登録と編集</h1>
    <div class="underline"></div>
    <p id="loading">読み込み中</p>
    <form action="{% url 'subekashi:new' %}" method="POST" id="newform">{% csrf_token %}
        <label>曲名*</label>
        <input type="text" id="title" name="title" oninput="checkExist()" value="{{ title }}"><br>
        <label>作者*</label>
        <input type="text" id="channel" name="channel" oninput="checkExist()" value="{{ channel }}"><br>
        <p id="isExist"></p>
        <button class="category " id="fillFormButton" onclick="fillForm()">下書きを自動入力</button>
        <label>URL</label>
        <input type="text" id="url" name="url" value="{{ url }}"><br>
        <label>模倣</label>
        <div id="imitate">
            <p>原曲から選択</p>
            <div id="categorys">
                <button class="category staticSize" onclick="appendCategory(0)">.模倣</button>
                <button class="category staticSize" onclick="appendCategory(1)">..模倣</button>
                <button class="category staticSize" onclick="appendCategory(2)">教育模倣</button>
                <button class="category staticSize" onclick="appendCategory(3)">アブジェ模倣</button>
                <button class="category staticSize" onclick="appendCategory(4)">...模倣</button>
                <button class="category staticSize" onclick="appendCategory(5)">表/裏模倣</button>
                <button class="category staticSize" onclick="appendCategory(6)">名の無い星模倣</button>
                <button class="category staticSize" onclick="appendCategory(7)">エヌ模倣</button>
                <button class="category staticSize" onclick="appendCategory(8)">K²模倣</button>
            </div>
            <p class="imitateP">もしくは模倣曲から選択</p>
            <div class="songGuesser">
                <input type="text" id="imitateTitle" oninput="searchSong()" placeholder="タイトルを入力"><br>
                {% for songIns in songInsL %}
                <div class="songGuess" id="{{ songIns.title }}" onclick="clickSong('{{ songIns.id }}')">
                    <p><span class="channel"><i class="fas fa-user-circle"></i> {{ songIns.channel }}</span> <i class="fas fa-music"></i> {{ songIns.title }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="imitatelists"></div>
            <p class="imitateP">※複数入力ができます</p>
            <input type="text" id="imitates" name="imitates" hidden>
        </div>
        <label id="lyricslabel">歌詞</label>
        <textarea id="lyrics" name="lyrics" oninput="autotextarea()"></textarea><br>
        <div id="checkboxs">
            <input type="checkbox" id="isorginal" name="isorginal">
            <label onclick="divInput(0)">オリジナル模倣</label>
            <input type="checkbox" id="isdeleted" name="isdeleted">
            <label onclick="divInput(1)">非公開の曲</label>
            <input type="checkbox" id="isjapanese" name="isjapanese" checked>
            <label onclick="divInput(2)">日本語の曲</label>
            <input type="checkbox" id="isjoke" name="isjoke">
            <label onclick="divInput(3)">ネタ曲</label><br>
            <input type="checkbox" id="isdraft" name="isdraft">
            <label onclick="divInput(4)">下書きとして投稿</label><br>
        </div>
        <input type="submit" value="登録" id="newsubmit" disabled>
    </form>
    <p class="bottomelement">*がついているラベルは入力が必須です。</p>
    <p class="bottomelement">※入力は大文字・小文字・空白文字も区別されます。</p>
    <p class="bottomelement">※転載動画のURLの記載はお控えください。</p>
    <p class="bottomelement">※一時的に全て歌詞の所為です。に載っていない曲を模倣曲として登録する為には、手動でその模倣曲を情報を登録しなければならない仕様になっております。ご不便おかけします。</p>
    <h1>曲の削除依頼</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:delete' %}" method="POST" id="deleteform">{% csrf_token %}
        <input type="text" id="titleDelete" name="title" value="{{ title }}" hidden><br>
        <input type="text" id="channelDelete" name="channel" value="{{ channel }}" hidden><br>
        <textarea id="reason" name="reason" oninput="setDeleteButton()" placeholder="削除理由"></textarea><br>
        <input type="submit" value="送信" id="deletesubmit" disabled>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/newform.js' %}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', function() {
        if ('{{ id }}') {
            firstLoad('{{ baseURL }}', '{{ id }}');
        } else {
            firstLoad('{{ baseURL }}', 0);
        }
    });
</script>

{% endblock %}