{% extends "subekashi/base/base.html" %}
{% block title %}登録と編集{% endblock %}
{% block ogtitle %}登録と編集{% endblock %}
{% load static %}
{% load lastModified %}
{% block css %}{% static 'subekashi/css/new.css'%}{% endblock %}

{% block content %}
<section>
    <h1>登録と編集</h1>
    <div class="underline"></div>
    <details>
        <summary>フォームの使い方と注意（クリックして展開）</summary>
        <h2>概要</h2>
        <ul>
            <li>このフォームで界隈曲を登録や編集ができます。</li>
            <li>界隈曲ならすべあな界隈以外の曲も登録ができます。</li>
            <li>*がついているラベルは入力が必須です。</li>
            <li>大文字・小文字・空白文字は全て区別されます。</li>
            <li>それ以外の曲の情報は削除されることがあります。</li>
            <li>界隈曲にも関わらず曲の情報が削除された場合は、<a href="{% url 'subekashi:top' %}#feedback">こちら</a>からご連絡ください。</li>
            <li>稀に登録時にエラーが発生することがありますので、発生した場合は<a href="{% url 'subekashi:top' %}#feedback">こちら</a>からご連絡ください。</li>
            <li>荒らしに対しては削除・IP BAN・法的措置といった、対処をする場合があります。</li>
        </ul>
        <h2>曲名</h2>
        <ul>
            <li>曲名を入力してください。</li>
            <li>YouTube上のタイトルより、一般的に知られているタイトルを入力することオススメします。</li>
            <li>例）<a href="https://youtu.be/zNdHRM5DC1o">https://youtu.be/zNdHRM5DC1o</a>の場合、タイトルは『zNdHRM5DC1o』ではなく、『巡』で登録することをオススメします。</li>
        </ul>
        <h2>作者</h2>
        <ul>
            <li>作者を入力してください。</li>
            <li>作者が複数ある場合、半角コンマ(,)で区切ってください。</li>
        </ul>
        <h2>URL</h2>
        <ul>
            <li>URLを入力してください。</li>
            <li>登録したいURLが複数ある場合、半角コンマ(,)で区切ってください。</li>
            <li>転載動画のURLの記載はお控えください。</li>
        </ul>
        <h2>模倣</h2>
        <ul>
            <li>模倣元・オマージュ元・歌詞の引用元・アレンジ元の曲を入力してください。</li>
            <li>全てあなたの所為です。の曲からの模倣は専用のボタンから追加できます。</li>
            <li><a href="https://www.youtube.com/watch?v=9Ray9iBnP0w">◘</a>の模倣曲は代わりに.の模倣曲として登録してください。</li>
            <li>全てあなたの所為です。の模倣曲以外からの模倣はタイトルを入力して追加してください。</li>
            <li>模倣曲のタイトルを入力してもヒットしない場合はまず、その模倣曲を情報を登録してください。</li>
            <li>曲は複数入力ができます。</li>
            <li>曲の削除は削除ボタンからできます。</li>
        </ul>
        <h2>歌詞</h2>
        <ul>
            <li>歌詞を入力してください。</li>
            <li>インスト曲の場合、入力は不要です。</li>
            <li>形式は特に決まっていませんができるだけ、MVと同じように記述してくれると助かります。</li>
            <li>将来的にはマークダウンのような形式を実装予定です。</li>
        </ul>
        <h2>オリジナル模倣</h2>
        <ul>
            <li>いわゆるオリジナル模倣曲・フリースタイル模倣曲の場合はチェックをつけてください。</li>
            <li>例）『<a href="https://youtu.be/XkIKM80-Znc?si=j1Zr9TGQ4r6WJNzI">∴∴∴∴</a>』, 『<a href="https://youtu.be/zDUvoKUOviQ?si=PCEGV4vWQS_PVbpC">天秤にかけて</a>』, 『<a href="https://youtu.be/Z7NuHcBTQ4w?si=_sZunWHzp8pUOXP8">色素』</a>など。</li>
        </ul>
        <h2>非公開</h2>
        <ul>
            <li>URL先にアクセスしても視聴できない場合、チェックしてください。</li>
            <li>限定公開の場合はチェックする必要はありません。</li>
        </ul>
        <h2>ネタ曲</h2>
        <ul>
            <li>ネタに走っている曲の場合、チェックしてください。</li>
            <li>歌詞がトチ狂っていたり、本当の狂気について考えたりしている曲はネタ曲です。</li>
            <li>ネタ曲かどうかの判断は個人の判断に任せます。</li>
        </ul>
        <h2>インスト</h2>
        <ul>
            <li>歌詞の無い曲の場合はチェックしてください。</li>
            <li>『<a href="https://www.youtube.com/watch?v=evR5ei8_e5s">M.A.Z.[short]</a>』, 『<a href="https://youtu.be/2P62pozC9Zc?si=2o0gIT63eJpH2CZS">またの御アクセスをお待ちしております。</a>』, 『<a href="https://youtu.be/BrUcribiF4w?si=DgBmy0GSxgFyndjd">V</a>』など。</li>
        </ul>
        <h2>すべあな界隈曲</h2>
        <ul>
            <li>すべあな界隈曲の場合はチェックしてください。</li>
            <li>すべあな界隈曲かどうかの判断は個人の判断に任せます。</li>
        </ul>
        <h2>下書き</h2>
        <ul>
            <li>下書きとして投稿したい場合はチェックしてください。</li>
            <li>下書きした内容は下書きとしてマークされます。</li>
            <li>入力途中だけど投稿したいときに利用してください。</li>
            <li>下書きした内容は誰でも閲覧できる状態になります。</li>
        </ul>
        <h2>登録ボタン</h2>
        <ul>
            <li>曲の情報を登録するボタンです。</li>
            <li>タイトルとチャンネル名を入力すると、登録ができる状態になります。</li>
            <li>稀にタイトルとチャンネル名を入力しても登録できない不具合が発生するので、発生次第<a href="{% url 'subekashi:top' %}#feedback">こちら</a>からご連絡ください。</li>
        </ul>
        <h2>削除依頼</h2>
        <ul>
            <li>開発者に曲の削除依頼を送ります。</li>
            <li>実際に削除の対応をするまでに時間がかかる場合があります。</li>
        </ul>
    </details>
    <p class="detailP">最終更新日：2023年9月25日</p>
    <form action="{% url 'subekashi:new' %}" method="POST" id="newform">{% csrf_token %}
        <p id="isExist"></p>
        <input type="number" id="songid" name="songid" hidden>
        <div class="label-wrapper">
            <label class="label-same">曲名*</label>
            <input type="text" id="title" name="title" class="sansfont" oninput="checkExist()" value="{{ title }}">
        </div>
        <div class="label-wrapper">
            <label class="label-same">チャンネル名*</label>
            <input type="text" id="channel" name="channel" oninput="checkExist()" value="{{ channel }}">
        </div>
        <button type="button" class="category sansfont" id="fillFormButton" onclick="fillForm()">下書きを自動入力</button>
        <div class="label-wrapper">
            <label class="label-same">URL</label>
            <input type="text" id="url" name="url" value="{{ url }}">
        </div>
        <label id="imitate-label">模倣</label>
        <div id="imitate">
            <p>原曲から選択</p>
            <div id="categorys">
                <button type="button" onclick="appendCategory(0)">.模倣</button>
                <button type="button" onclick="appendCategory(1)">..模倣</button>
                <button type="button" onclick="appendCategory(2)">教育模倣</button>
                <button type="button" onclick="appendCategory(3)">アブジェ模倣</button>
                <button type="button" onclick="appendCategory(4)">...模倣</button>
                <button type="button" onclick="appendCategory(5)">表/裏模倣</button>
                <button type="button" onclick="appendCategory(6)">名の無い星模倣</button>
                <button type="button" onclick="appendCategory(7)">エヌ模倣</button>
                <button type="button" onclick="appendCategory(8)">K²模倣</button>
            </div>
            <p class="imitateP">もしくは模倣曲から選択</p>
            <div class="songGuesser sansfont">
                <input type="text" id="imitateTitle" oninput="searchSong()" placeholder="タイトルを入力"><br>
                {% for songIns in songInsL %}
                <div class="songGuess" data-title="{{ songIns.title }}" onclick="clickSong('{{ songIns.id }}')">
                    <p><span class="channel"><i class="fas fa-user-circle"></i> {{ songIns.channel }}</span> <i class="fas fa-music"></i> {{ songIns.title }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="imitatelists"></div>
            <input type="text" id="imitates" name="imitates" hidden>
        </div>
        <div class="label-wrapper">
            <label class="label-same">歌詞</label>
            <textarea id="lyrics" name="lyrics" oninput="autotextarea()"></textarea>
        </div>
        <div id="checkboxs">
            <input type="checkbox" id="isorginal" name="isorginal">
            <label onclick="divInput(0)">オリジナル模倣</label>
            <input type="checkbox" id="isdeleted" name="isdeleted">
            <label onclick="divInput(1)">非公開</label>
            <input type="checkbox" id="isjoke" name="isjoke">
            <label onclick="divInput(2)">ネタ曲</label>
            <input type="checkbox" id="isinst" name="isinst">
            <label onclick="divInput(3)">インスト</label>
            <input type="checkbox" id="issubeana" name="issubeana" checked>
            <label onclick="divInput(4)">すべあな界隈曲</label><br>
            <input type="checkbox" id="isdraft" name="isdraft">
            <label onclick="divInput(5)">下書き</label><br>
        </div>
        <input type="submit" value="登録" id="newsubmit" disabled>
    </form>

    <h1>削除依頼</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:delete' %}" method="POST" id="deleteform">{% csrf_token %}
        <input type="text" id="titleDelete" class="sansfont" name="title" value="{{ title }}" hidden>
        <input type="text" id="channelDelete" name="channel" value="{{ channel }}" hidden>
        <div class="label-wrapper">
            <label class="label-same">削除理由</label>
            <textarea id="reason" name="reason" oninput="setDeleteButton()"></textarea>
        </div>
        <input type="submit" value="送信" id="deletesubmit" disabled>
    </form>
</section>
{% endblock %}

{% block js %}
<script defer src="{% static 'subekashi/js/newform.js' %}?{% get_last_modified %}" rel="stylesheet"></script>
<script defer>
    window.addEventListener('load', function() {
        firstLoad('{{ id }}');
    });
</script>

{% endblock %}