{% extends "subekashi/base/base.html" %}
{% block title %}曲の一覧と検索{% endblock %}
{% block ogtitle %}曲の一覧と検索{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/search.css'%}{% endblock %}

{% block content %}
<section>
    
    <h1>曲の一覧と検索</h1>
    <div class="underline"></div>

    <p id="loading">読み込み中</p>
    <div id="searchform">
        <label>チャンネル名</label>
        <input type="text" id="channel" name="channel" oninput="searchSong()"><br>
        <label>タイトル　　</label>
        <input type="text" id="title" name="title" oninput="searchSong()"><br>
        <label>歌詞　　　　</label>
        <input type="text" id="lyrics" name="lyrics" oninput="searchSong()"><br>
        <div id="categorysec">
            <label>カテゴリ　　</label>
            <select id="category" name="category" oninput="searchSong()">
                <option>全ての模倣</option>
                <option>.模倣</option>
                <option>..模倣</option>
                <option>教育模倣</option>
                <option>アブジェ模倣</option>
                <option>...模倣</option>
                <option>表╱裏模倣</option>
                <option>名の無い星が空に堕ちたら模倣</option>
                <option>エヌ模倣</option>
                <option>K²模倣</option>
            </select>
        </div><br>
        <label>フィルタ</label>
        <div onclick="searchSong()">
            <div class="devInput" onclick="devInput(0)">
                <input type="radio" class="filters" value="0" name="fillLevel" oninput="searchSong()" checked>
                <label>全ての曲</label>
            </div>
            <div class="devInput" onclick="devInput(1)">
                <input type="radio" class="filters" value="1" name="fillLevel" oninput="searchSong()">
                <label>情報不足の曲</label>
            </div>
            <div class="devInput" onclick="devInput(2)">
                <input type="radio" class="filters" value="2" name="fillLevel" oninput="searchSong()">
                <label>下書きの曲</label>
            </div>
            <div class="devInput" onclick="devInput(3)">
                <input type="checkbox" class="filters" value="3" oninput="searchSong()">
                <label>オリジナル模倣曲</label>
            </div>
            <div class="devInput" onclick="devInput(4)">
                <input type="checkbox" class="filters" value="4" oninput="searchSong()">
                <label>ネタ曲</label>
            </div>
        </div>
    </div>
    {% for songIns in songInsL %}
        <a href="{% url 'song' songIns.id %}" class="buttona">
            <div class="songcard" id="song{{ songIns.id }}">
                <div class="cardleft">
                    <p class="songtitle"><i class="fas fa-music"></i> {{ songIns.title|slice:"30" }}</p>
                    {% if songIns.channel %}
                        <object><a class="songchannel" href="{% url 'channel' songIns.channel %}"><i class="fas fa-user-circle"></i> {{ songIns.channel }}</a></object>
                    {% else %}
                        <p class="songchannel"><i class="fas fa-user-circle"></i> チャンネル未登録</p>
                    {% endif %}
                </div>
                <div class="cardright">
                    {% if songIns.lyrics %}
                        <p class="songlyrics">{{ songIns.lyrics|slice:"25" }}...</p>
                    {% else %}
                        <p class="songlyrics">歌詞未登録</p>
                    {% endif %}
                    {% if songIns.url %}
                        <object><a class="songurl" href="{{ songIns.url }}">{{ songIns.url|slice:"30" }}</a></object>
                    {% else %}
                        <p class="songurl">URL未登録</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    <p id="notfound">見つかりませんでした。</p>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/search.js' %}?{{ lastModified }}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', function(){
        if ('{{ query }}' == "{}") {
            firstLoad('{{ baseURL }}', 0);
        } else {
            firstLoad('{{ baseURL }}', '{{ query|safe }}');
        }
    })
</script>
{% endblock %}
