{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'subekashi/css/setting.css'%}{% endblock %}

{% block content %}
<section>
    <h1>設定</h1>
    <div class="underline"></div>
    <div class="form-col">
    <label>界隈曲の表示</label>
        <select id="songrange" onchange="setting(true)">
            <option value="all">全て表示</option>
            <option value="subeana" selected>すべあな界隈曲のみを表示</option>
            <option value="xx">すべあな界隈曲以外を表示</option>
        </select>
    </div>
    <div class="form-col">
        <label>ネタ曲</label>
        <select id="jokerange" onchange="setting(true)">
            <option value="on">表示</option>
            <option value="off" selected>非表示</option>
        </select>
    </div>
    <div class="form-col">
        <label>歌詞の改行</label>
        <select id="brlyrics" onchange="setting(true)">
            <option value="normal" selected>全ての改行を表示</option>
            <option value="pack">連続した改行を非表示</option>
            <option value="brless">全ての改行を非表示</option>
        </select>
    </div>
    <div class="form-col">
        <label>宣伝の表示</label>
        <select id="adrange" onchange="setting(true)">
            <option value="on" selected>表示</option>
            <option value="off">非表示</option>
        </select>
    </div>
    <div class="form-col">
        <label>編集の公開</label>
        <select id="is_open" onchange="change_is_open()">
            <option value="on" {% if editor.is_open %}selected{% endif %}>公開</option>
            <option value="off" {% if not editor.is_open %}selected{% endif %}>非公開</option>
        </select>
    </div>
</section>
{% endblock %}

{% block js %}
<script defer>
    var selectEles = document.getElementsByTagName("select");
    var settingMap = ["songrange", "jokerange", "brlyrics", "adrange"];     // TODO ここを動的にする

    function setting(isUpdate) {
        var i = 0;
        for (selectEle of selectEles) {
            value = getCookie()[settingMap[i]];
            if ((value === undefined) || isUpdate) {
                setCookie(settingMap[i], selectEle.value);
            } else {
                selectEle.value = value;
            }
            i++;
        }
    }


    async function change_is_open() {
        try {
            const csrf = await getCSRF();
            const is_open_value = document.getElementById("is_open").value;
            const res = await fetch(
            baseURL() + "/api/editor/is_open",
            {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf
                },
                body: JSON.stringify(
                    {
                        "ip": "{{ editor.ip }}",
                        "is_open": is_open_value == "on",
                    }
                )
            }
        )
        } catch (error) {
            console.error(error)
        }
        
    }

    window.addEventListener('load', function(){
        setting(false);
    });
</script>
{% endblock %}
