{% extends "subekashi/base/base.html" %}
{% block title %}{{ songIns.title }}{% endblock %}
{% block ogtitle %}{{ songIns.title }}{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/song.css'%}{% endblock %}

{% block content %}
<section>
    <p id="songtitle"><i class="fas fa-music"></i>{{ songIns.title }}</p>
    {% if isExist %}
        <a id="songchannel" href="{% url 'channel' songIns.channel %}"><i class="fas fa-user-circle"></i>{{ songIns.channel }}</a>
        {% if songIns.url %}
            <a id="songurl" href="{{ songIns.url }}"><i class="fas fa-link"></i>{{ songIns.url|slice:"35" }}</a>
        {% endif %}
        <div></div>
        <p id="songimitateslabel"><i class="fas fa-tags fa-xs"></i></p>
        {% for imitateIns in imitateInsL %}
            <a class="songimitate" href="{% url 'song' imitateIns.id %}">{{ imitateIns.title }}模倣</a>
        {% endfor %}
        {% if songIns.channel == "全てあなたの所為です。" %}
            <p class="songimitate">オリジナル</p>
        {% endif %}
        {% if songIns.isoriginal %}
            <a class="songimitate" href="{% url 'search' %}?isoriginal=1">オリジナル模倣</a>
        {% endif %}
        {% if songIns.isjoke %}
            <a class="songimitate" href="{% url 'search' %}?isjoke=1">ネタ曲</a>
        {% endif %}
        {% if songIns.isdraft %}
            <a class="songimitate" href="{% url 'search' %}?isdraft=1">下書き</a>
        {% endif %}
        
        {% if imitatedInsL %}
            <div id="imitated">
            <p id="songimitatedslabel"><i class="fas fa-sitemap fa-xs"></i></p>
            {% for imitatedIns in imitatedInsL %}
                <a class="songimitate" href="{% url 'song' imitatedIns.id %}">{{ imitatedIns.title }}</a>
            {% endfor %}
            </div>
        {% endif %}


        {% if songIns.lyrics %}
            <p id="songlyrics">{{ songIns.lyrics }}</p>
        {% else %}
            <a id="songlyricsnotfound" href="{% url 'new' %}?id={{ songIns.id }}">歌詞を追加</a>
        {% endif %}
    {% else %}
        <p id="songnotfound">曲の情報が見つからないか削除依頼が送信されました。</p>
    {% endif %}
    <div class="dummybuttons">
        <div class="dummybutton dummybuttonf towrong" onclick="tonew()"><p class="dummybuttonp">編集と削除</p></div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/fixfooter.js' %}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', function(){
        songlyricsEle = document.getElementById("songlyrics");
        if (songlyricsEle) {
            songlyricsEle.innerHTML = songlyricsEle.innerHTML.replace(/\n/g, "<br><br>");
        }

        if ((!'{{ songIns.channel }}') | (!'{{ songIns.lyrics|slice:"1" }}')) {
            fixfooter();
        }
    });

    function tonew() {
        window.location.href = "{% url 'new' %}?id={{ songIns.id }}";
    }
</script>
{% endblock %}