{% extends "subekashi/base/base.html" %}


{% load static %}
{% load categorys %}
{% block css %}{% static 'subekashi/css/song_new.css'%}{% endblock %}

{% block content %}
<section>
    <details>
        <summary><i class="fas fa-bars"></i>曲の登録/編集にあたっての注意</summary>
        <p>界隈曲ならすべあな界隈以外の曲も登録ができます。</p>
        <p>それ以外の曲は掲載対象ではない為、削除されることがあります。</p>
        <p>大文字・小文字・空白文字は全て区別されます。</p>
        <p>登録時にエラーが発生した場合は<a href="{% url 'subekashi:contact' %}">こちら</a>からご連絡ください。</p>
        <p>荒らしに対しては削除・BAN・法的措置といった対処をする場合があります。</p>
    </details>

    <h1>YouTubeの動画リンクから登録<i class="fas fa-info-circle" onclick="showTutorial('new-form-auto')"></i></h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:song_new' %}?toast=auto" method="POST" id="new-form-auto">{% csrf_token %}
        <div class="form-col">
            <label for="url">YouTubeの<br>動画リンク<i class="fas fa-info-circle" onclick="showTutorial('youtube-url')"></i></label>
            <input type="url" id="url" name="url" value="{{ request.GET.url }}" required>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-original-auto" name="is-original-auto" data-sync="original">
            <label for="is-original-auto">オリジナル模倣</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-original')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-deleted-auto" name="is-deleted-auto" data-sync="deleted">
            <label for="is-deleted-auto">非公開/削除済み</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-deleted')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-joke-auto" name="is-joke-auto" data-sync="joke">
            <label for="is-joke-auto">ネタ曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-joke')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-inst-auto" name="is-inst-auto" data-sync="inst">
            <label for="is-inst-auto">インスト</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-inst')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-subeana-auto" name="is-subeana-auto" data-sync="subeana" checked>
            <label for="is-subeana-auto">すべあな界隈曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-subeana')"></i>
        </div>
        <input type="submit" value="登録" id="new-submit-auto" disabled>
        <p id="new-form-auto-info"><img id='loading' src="{% static 'subekashi/image/loading.gif' %}" alt='loading'></p>
    </form>
    
    <h1>曲名とチャンネル名から登録<i class="fas fa-info-circle" onclick="showTutorial('new-form-manual')"></i></h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:song_new' %}?toast=manual" method="POST" id="new-form-manual">{% csrf_token %}
        <div class="form-col">
            <label for="title">曲名<i class="fas fa-info-circle" onclick="showTutorial('title')"></i></label>
            <input type="text" id="title" name="title" class="sansfont" value="{{ request.GET.title }}" required>
        </div>
        <div class="form-col">
            <label for="channel">チャンネル名<i class="fas fa-info-circle" onclick="showTutorial('channel')"></i></label>
            <input type="text" id="channel" name="channel" class="sansfont" value="{{ request.GET.channel }}" required>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-original-manual" name="is-original-manual" data-sync="original">
            <label for="is-original-manual">オリジナル模倣</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-original')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-deleted-manual" name="is-deleted-manual" data-sync="deleted">
            <label for="is-deleted-manual">非公開/削除済み</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-deleted')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-joke-manual" name="is-joke-manual" data-sync="joke">
            <label for="is-joke-manual">ネタ曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-joke')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-inst-manual" name="is-inst-manual" data-sync="inst">
            <label for="is-inst-manual">インスト</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-inst')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-subeana-manual" name="is-subeana-manual" data-sync="subeana" checked>
            <label for="is-subeana-manual">すべあな界隈曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-subeana')"></i>
        </div>
        <input type="submit" value="登録" id="new-submit-manual" disabled>
        <p id="new-form-manual-info"><img id='loading' src="{% static 'subekashi/image/loading.gif' %}" alt='loading'></p>
    </form>

    <h1>???から登録<i class="fas fa-info-circle" id="hint-target" onclick="showToast('', '<span style=\'color: red;\'>~~~@z@ÆÐäÞÚÊ엂빪풾𐇺</span>');"></i></h1>
    <div class="underline"></div>
    <p style='text-align: center;' id="hint">hint:??? → ~~~</p>
</section>

<style>
    @keyframes blink {
        0%, 100% { color: #B60; }
        50% { color: #FFF; }
    }
    .blink {
        animation: blink 3s infinite;
    }
</style>

{% endblock %}

{% block js %}
<script defer src="{% static 'subekashi/js/song_new.js' %}"></script>
<script defer>
    if ("{{ error }}") {
        showToast("error", "{{ error }}")
    }
</script>
<script defer>
window.addEventListener("DOMContentLoaded", async function() {
    if (location.hash) {
        await sleep(1);
        const element = document.getElementById(location.hash.substring(1));
        if (element) {
            element.scrollIntoView({ behavior: "auto" });
            document.getElementById("hint-target").classList.add("blink");
        }
    }
});
</script>
{% endblock %}