{% extends "subekashi/base/base.html" %}


{% load static %}
{% block css %}{% static 'subekashi/css/song.css'%}{% endblock %}

{% block content %}
<section>
    {% if isExist %}
        <div id="sonf-info">
            <i class="fas fa-music"></i>
            <p class="sansfont">{{ songIns.title }}</p>
            <br><i class="fas fa-user-circle"></i>
            {% for channel in channels %}
                <a href="{% url 'subekashi:channel' channel %}">{{ channel }}</a>
            {% endfor %}
            
            {% if urls %}
                {% for url in urls %}
                    <br><i class="fas fa-link"></i>
                    <a class="songurl" href="{{ url }}" target="_blank">{{ url }}</a>
                    <i class="far fa-copy" onclick="copy('{{ url }}')"></i>
                {% endfor %}
            {% endif %}
            
            <br><i class="fas fa-tags"></i>
            {% for imitateIns in imitateInsL %}
                <a class="songimitate" href="{% url 'subekashi:song' imitateIns.id %}">{{ imitateIns.title }}模倣</a>
            {% endfor %}
            {% if songIns.channel == "全てあなたの所為です。" %}
                <p class="songimitate">オリジナル</p>
            {% endif %}
            {% if songIns.isdraft %}
                <a class="songimitate" href="{% url 'subekashi:search' %}?filter=isdraft">下書き</a>
            {% endif %}
            {% if songIns.isoriginal %}
                <a class="songimitate" href="{% url 'subekashi:search' %}?filter=isoriginal">オリジナル模倣</a>
            {% endif %}
            {% if songIns.isjoke %}
                <a class="songimitate" href="{% url 'subekashi:search' %}?isjoke=only">ネタ曲</a>
            {% endif %}
            {% if songIns.isinst %}
                <a class="songimitate" href="{% url 'subekashi:search' %}?filter=isinst">インスト曲</a>
            {% endif %}
            {% if not songIns.issubeana %}
                <a class="songimitate" href="{% url 'subekashi:search' %}?issubeana=xx">すべあな界隈曲以外の界隈曲</a>
            {% endif %}
            {% if songIns.isdeleted %}
                <p class="songimitate">非公開</p>
            {% endif %}
            
            {% if imitatedInsL %}
                <br><i class="fas fa-sitemap"></i>
                {% for imitatedIns in imitatedInsL %}
                    <a class="songimitate" href="{% url 'subekashi:song' imitatedIns.id %}">{{ imitatedIns.title }}</a>
                {% endfor %}
            {% endif %}
            <br><i class="fas fa-file-signature"></i>
            <p>{{ songIns.posttime }}</p>
        </div>

        {% if songIns.lyrics %}
            <p id="lyrics">{{ songIns.lyrics }}</p>
        {% endif %}

        <div class="dummybuttons">
            <div class="dummybutton towrong" onclick="tonew()"><p >編集と削除</p></div>
        </div>
        
        {% else %}
        {% if isDeleted %}
            <p class="songnotfound">削除依頼が送信されました。</p>
        {% else %}
            <p class="songnotfound">曲の情報が見つかりません。</p>        
        {% endif %}
        <div class="dummybuttons">
            <div class="dummybutton towrong" onclick="totop()"><p>トップに戻る</p></div>
        </div>
    {% endif %}


</section>
{% endblock %}

{% block js %}
<script defer>
    window.addEventListener('load', function(){
        songlyricsEle = document.getElementById("lyrics");
        if (songlyricsEle) {
            songlyricsEle.innerHTML = songlyricsEle.innerHTML.replace(/\n/g, "<br>");
            if (getCookie().brlyrics == "brless") {
                songlyricsEle.innerHTML = songlyricsEle.innerText.replace("<br>", "");
            } else if (getCookie().brlyrics == "pack") {
                songlyricsEle.innerHTML = songlyricsEle.innerHTML.replace(/(<br>\s*)+/g, "<br>");
            }
        }
    });

    function tonew() {
        window.location.href = "{% url 'subekashi:new' %}?id={{ songIns.id }}";
    };

    function totop() {
        window.location.href = "{% url 'subekashi:top' %}";
    };

    function copy(text) {
        if (Boolean(navigator.clipboard)) {
            navigator.clipboard.writeText(text);
        } else {
            aleat("コピーできませんでした。");
        }
    };
</script>
{% endblock %}