{% extends "subekashi/base/base.html" %}


{% load static %}
{% load changes %}

{% block css %}{% static 'subekashi/css/editor.css'%}{% endblock %}

{% block content %}
<section>
    <h1><span id="h1-title">{{ song.title }}</span>の編集履歴</h1>
    <div class="underline"></div>
    <div class="dummybuttons">
        <a href="{% url 'subekashi:song' song.id %}">
            <div class="dummybutton"><i class="fab fa-itunes-note"></i><p>曲の詳細</p></div>
        </a> 
        <a onclick="reloadPage()">
            <div class="dummybutton"><i class="fas fa-redo"></i><p>再読み込み</p></div>
        </a>
        <a onclick="openAll()">
            <div class="dummybutton"><i class="fas fa-arrows-alt-v"></i><p>全て開く/閉じる</p></div>
        </a>
    </div>
    {% for history in historys %}
        <details class="history_details">
            <summary><p>{{ history.create_time }}</p><p>{{ history.title }}</p></summary>
            {% render_changes history %}
            {% if history.editor.is_open or history.editor.is_forced_open %}
                <p>編集者: <a href="{% url 'subekashi:editor' history.editor.id %}">{{ history.editor }}</a></p>
            {% else %}
                <p>編集者: 非公開</p>
            {% endif %} 
        </details>
    {% endfor %}
</section>
{% endblock %}

{% block js %}
    <script src="{% static 'subekashi/js/editor.js' %}" defer></script>
{% endblock %}