{% extends "subekashi/base/base.html" %}


{% load static %}
{% load filter_by_tag %}

{% block css %}{% static 'subekashi/css/song.css'%}{% endblock %}

{% block content %}
<section>
    <div class="dummybuttons">
        {% if not is_static %}
            <a href="{% url 'subekashi:song_edit' song.id %}">
                <div class="dummybutton"><i class="fas fa-pen"></i><p>編集</p></div>
            </a>
            <a href="{% url 'subekashi:song_delete' song.id %}">
                <div class="dummybutton"><i class="far fa-trash-alt"></i><p>削除申請</p></div>
            </a>
        {% endif %}
    </div>

    <table id="song-info">
        <tr>
            <td>
                <i class="far fa-copy" onclick="copy('{{ song.title }}')"></i>
                <i class="fas fa-music"></i><p>曲名</p>

            </td>
            <td class="sansfont">
                {{ song.title }}
            </td>
        </tr>
        {% for channel in channels %}
            <tr>
                <td>
                    <i class="far fa-copy" onclick="copy('{{ channel }}')"></i>
                    <i class="fas fa-user-circle"></i><p>チャンネル名</p>
                </td>
                <td>
                    <a href="{% url 'subekashi:channel' channel %}">{{ channel }}</a>
                </td>
            </tr>
        {% endfor %}
        {% for link in links %}
            <tr>
                <td>
                    <i class="far fa-copy" onclick="copy('{{ link.text }}')"></i>
                    <i class="fas fa-link"></i><p>リンク</p>
                </td>
                <td>
                    <a class="song-url" href="{{ link.text }}" target="_blank">{{ link.icon|safe }}</a>
                </td>
            </tr>
        {% endfor %}
        {% if has_tag %}
            <tr id="tags">
                <td>
                    <i class="fas fa-tags"></i><p>タグ</p>
                </td>
                <td>
                    {% if song.channel == "全てあなたの所為です。" %}
                        <p id="original-tag">オリジナル</p>
                    {% endif %}
                    {% if is_lack %}
                        <a href="{% url 'subekashi:search' %}?islack=True">作成途中</a>
                    {% endif %}
                    {% if song.isdraft %}
                        <a href="{% url 'subekashi:search' %}?isdraft=True">下書き</a>
                    {% endif %}
                    {% if song.isoriginal %}
                        <a href="{% url 'subekashi:search' %}?isoriginal=True">オリジナル模倣</a>
                    {% endif %}
                    {% if song.isjoke %}
                        <a href="{% url 'subekashi:search' %}?isjoke=only">ネタ曲</a>
                    {% endif %}
                    {% if song.isinst %}
                        <a href="{% url 'subekashi:search' %}?isinst=True">インスト曲</a>
                    {% endif %}
                    {% if not song.issubeana %}
                        <a href="{% url 'subekashi:search' %}?issubeana=xx">非すべあな模倣曲</a>
                    {% endif %}
                    {% if song.isdeleted %}
                        <a href="{% url 'subekashi:search' %}?isdeleted=True">非公開/削除済み</a>
                    {% endif %}
                    {% comment %} TODO スペシャルデザインのDB化 {% endcomment %}
                    {% if is_special %}
                        <p id="special-tag">スペシャルデザイン</p>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if song.upload_time %}
            <tr>
                <td>
                    <i class="far fa-calendar-alt"></i><p>YouTubeへのアップロード日</p>
                </td>
                <td>
                    {{ song.upload_time }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                <i class="fas fa-file-signature"></i><p>最終更新日</p>
            </td>
            <td>
                {{ song.post_time }}
            </td>
        </tr>
        {% if song.view %}
            <tr>
                <td>
                    <i class="fas fa-play"></i><p>YouTubeの再生回数</p>
                </td>
                <td>
                    {{ song.view }}
                </td>
            </tr>
        {% endif %}
        {% if song.like %}
            <tr>
                <td>
                    <i class="far fa-thumbs-up"></i><p>YouTubeの高評価数</p>
                </td>
                <td>
                    {{ song.like }}
                </td>
            </tr>
        {% endif %}
    </table>
    
    {% if imitate_list %}
        <details>
            <summary><i class="fas fa-sitemap imitate"></i>{{ imitate_list|length }}曲の模倣曲</summary>
            {% for imitate in imitate_list|filter_by_tag:"~joke" %}
                <a class="songimitate sansfont" href="{% url 'subekashi:song' imitate.id %}">{{ imitate.title }}</a>
            {% endfor %}
            {% if imitate_list|filter_by_tag:"joke" %}
                <details {% if request.COOKIES.jokerange == "on" %}open{% endif %}>
                    <summary><i class="far fa-meh-rolling-eyes"></i>ネタ曲</summary>
                    {% for imitate in imitate_list|filter_by_tag:"joke" %}
                        <a class="songimitate sansfont" href="{% url 'subekashi:song' imitate.id %}">{{ imitate.title }}</a>
                    {% endfor %}
                </details>
            {% endif %}
        </details>
    {% endif %}
        
    {% if imitated_list %}
        <details>
            <summary><i class="fas fa-sitemap"></i>{{ imitated_list|length }}曲の被模倣曲</summary>
            {% for imitated in imitated_list|filter_by_tag:"~joke" %}
                <a class="songimitate sansfont" href="{% url 'subekashi:song' imitated.id %}">{{ imitated.title }}</a>
            {% endfor %}
            {% if imitated_list|filter_by_tag:"joke" %}
                <details {% if request.COOKIES.jokerange == "on" %}open{% endif %}>
                    <summary><i class="far fa-meh-rolling-eyes"></i>ネタ曲</summary>
                    {% for imitated in imitated_list|filter_by_tag:"joke" %}
                        <a class="songimitate sansfont" href="{% url 'subekashi:song' imitated.id %}">{{ imitated.title }}</a>
                    {% endfor %}
                </details>
            {% endif %}
        </details>
    {% endif %}

    {% if song.lyrics %}
        <div id="lyrics-wrapper">
            <p id="lyrics-header"><i class="fas fa-align-center"></i>歌詞<i class="far fa-copy" onclick="copy('{{ song.lyrics|escapejs }}')"></i></p>
            <p id="lyrics">{{ lyrics|safe }}</p>
        </div>
    {% endif %}
</section>
{% endblock %}

{% block js %}
<script defer>
    function copy(text) {
        if (!Boolean(navigator.clipboard)) {
            showToast("error", "コピーできませんでした。");
            return;
        }
        
        navigator.clipboard.writeText(text);
        showToast("ok", "コピーしました。");
    };
    
    {% if request.GET.toast == "edit" %}
        showToast("ok", "登録しました。");
    {% elif request.GET.toast == "delete" %}
        showToast("ok", "削除申請を送信しました。");
    {% elif request.GET.toast == "static" %}
        showToast("warning", "この曲は編集できません。");
    {% endif %}

    deleteToastUrlQuery()
</script>

{% if is_special %}
    <script src="{% static 'subekashi/special/' %}{{ song.id }}.js"></script>
{% endif %}
{% endblock %}