{% extends "subekashi/base/base.html" %}


{% load static %}
{% load last_modified %}
{% load categorys %}
{% block css %}{% static 'subekashi/css/song_edit.css'%}{% endblock %}

{% block content %}
<section>
    <details>
        <summary>曲の登録/編集にあたっての注意（クリックして展開）</summary>
        <p>界隈曲ならすべあな界隈以外の曲も登録ができます。</p>
        <p>それ以外の曲は掲載対象ではない為、削除されることがあります。</p>
        <p>大文字・小文字・空白文字は全て区別されます。</p>
        <p>登録時にエラーが発生した場合は<a href="{% url 'subekashi:contact' %}">こちら</a>からご連絡ください。</p>
        <p>荒らしに対しては削除・BAN・法的措置といった対処をする場合があります。</p>
    </details>

    <h1>{{ metatitle }}</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:song_new' %}" method="POST" id="newform">{% csrf_token %}
        <div class="form-col">
            <label for="title">曲名<i class="fas fa-info-circle" onclick="showTutorial('')"></i></label>
            <input type="text" id="title" name="title" class="sansfont" oninput="checkExist()" value="{{ song.title }}" required>
        </div>
        <div class="form-col">
            <label for="channel">チャンネル名<i class="fas fa-info-circle" onclick="showTutorial('')"></i></label>
            <input type="text" id="channel" name="channel" class="sansfont" oninput="checkExist()" value="{{ song.channel }}" required>
        </div>
        <div class="form-col">
            <label for="url">URL<i class="fas fa-info-circle" onclick="showTutorial('')"></i></label>
            <input type="text" id="url" name="url" value="{{ song.url }}">
        </div>
        <label id="imitate-label">模倣<i class="fas fa-info-circle" onclick="showTutorial('')"></i></label>
        <div id="imitate-div">
            <p>原曲から選択</p>
            {% render_categorys %}
            <p id="imitate-sub">もしくは模倣曲から選択</p>
            <input type="text" id="imitateTitle" class="sansfont" oninput="renderSongGuesser()" placeholder="タイトルかチャンネル名を入力">
            <div class="dummybutton" id="imitate-search" onclick="renderSongGuesser()"><p>検索</p></div>
            <div id="song-guesser" class="sansfont"></div>
            <div id="imitatelists"></div>
            <input type="text" id="imitates" name="imitates" hidden>
        </div>
        <div class="form-col">
            <label for="lyrics">歌詞<i class="fas fa-info-circle" onclick="showTutorial('')"></i></label>
            <textarea id="lyrics" name="lyrics"></textarea>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="isoriginal" name="isoriginal">
            <label for="isoriginal">オリジナル模倣</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="isdeleted" name="isdeleted">
            <label for="isdeleted">非公開/削除済み</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="isjoke" name="isjoke">
            <label for="isjoke">ネタ曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="isinst" name="isinst">
            <label for="isinst">インスト</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="issubeana" name="issubeana" checked>
            <label for="issubeana">すべあな界隈曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="isdraft" name="isdraft">
            <label for="isdraft">下書き</label>
            <i class="fas fa-info-circle" onclick="showTutorial('')"></i>
        </div>
        <input type="submit" value="登録" id="newsubmit" disabled>
    </form>
</section>
{% endblock %}

{% block js %}
<script defer src="{% static 'subekashi/js/new.js' %}?{% get_last_modified %}"></script>
{% endblock %}