{% extends "subekashi/base/base.html" %}


{% load static %}
{% load song_card %}
{% block component_css %}<link rel="stylesheet" type="text/css" href="{% static 'subekashi/css/components/search_form.css'%}">{% endblock %}
{% block css %}{% static 'subekashi/css/songs.css'%}{% endblock %}

{% block content %}
<section>
    {% csrf_token %}
    <h1>曲の一覧と検索</h1>

    {% include "subekashi/components/search_form.html" %}
    <input type="submit" id="search-button" value="検索"></input>
    <div id="song-cards"></div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/search_form.js' %}"></script>
<script src="{% static 'subekashi/js/songs.js' %}"></script>
{% endblock %}
