{% extends "subekashi/base/base.html" %}


{% load static %}
{% load categorys %}
{% block css %}{% static 'subekashi/css/song_edit.css'%}{% endblock %}

{% block content %}
<section>
    {% if request.GET.toast %}
        <div class="dummybuttons">
            <a href="{% url 'subekashi:song_new' %}">
                <div class="dummybutton"><p>続けて新規登録する</p></div>
            </a>
            <a href="{% url 'subekashi:song' song.id %}">
                <div class="dummybutton"><p>登録した記事を見る</p></div>
            </a>
        </div>
    {% endif %}
    
    <details>
        <summary><i class="fas fa-bars"></i>曲の編集にあたっての注意</summary>
        <p>登録時にエラーが発生した場合は<a href="{% url 'subekashi:contact' %}">こちら</a>からご連絡ください。</p>
        <p>荒らしに対しては削除・BAN・法的措置といった対処をする場合があります。</p>
    </details>

    <h1><span id="h1-title">{{ song.title }}</span>の編集</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:song_edit' song.id %}" method="POST" id="song-edit-form">{% csrf_token %}
        {% comment %} TODO 別名の入力項目を追加 {% endcomment %}
        <div class="form-col">
            <label for="title">曲名<i class="fas fa-info-circle" onclick="showTutorial('title')"></i></label>
            <input type="text" id="title" name="title" class="sansfont" value="{{ song.title }}" required>
        </div>
        {% comment %} TODO チャンネルを複数入力形式に {% endcomment %}
        <div class="form-col">
            <label for="channel">チャンネル名<i class="fas fa-info-circle" onclick="showTutorial('channel')"></i></label>
            <input type="text" id="channel" name="channel" class="sansfont" value="{{ song.channel }}" required>
        </div>
        <p class="song-edit-info" id="song-edit-info-title-channel"><img id='loading' src="{% static 'subekashi/image/loading.gif' %}" alt='loading'></img></p>
        {% comment %} TODO URLを複数入力形式に {% endcomment %}
        <div class="form-col">
            <label for="url">URL<br>(複数可)<i class="fas fa-info-circle" onclick="showTutorial('url')"></i></label>
            <input type="text" id="url" name="url" value="{{ song.url }}">
        </div>
        <p class="song-edit-info" id="song-edit-info-url"><img id='loading' src="{% static 'subekashi/image/loading.gif' %}" alt='loading'></img></p>
        <label id="imitate-label">模倣<i class="fas fa-info-circle" onclick="showTutorial('imitate')"></i></label>
        <div id="imitate-div">
            <p>原曲から選択</p>
            {% render_categorys %}
            <p id="imitate-sub">もしくは模倣曲から選択</p>
            <input type="text" id="imitate-title" class="sansfont" oninput="renderSongGuesser()" placeholder="タイトルかチャンネル名を入力">
            <div class="dummybutton" id="imitate-search" onclick="renderSongGuesser()"><p>最新の情報を取得して検索</p></div>
            <div id="song-guesser" class="sansfont"></div>
            <div id="imitate-list"></div>
            <input type="text" id="imitate" name="imitate" value="{{ song.imitate }}" hidden>
        </div>
        <div class="form-col">
            <label for="lyrics">歌詞<i class="fas fa-info-circle" onclick="showTutorial('lyrics')"></i></label>
            <textarea id="lyrics" name="lyrics">{{ song.lyrics }}</textarea>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-original" name="is-original" {% if song.isoriginal %}checked{% endif %}>
            <label for="is-original">オリジナル模倣</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-original')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-deleted" name="is-deleted" {% if song.isdeleted %}checked{% endif %}>
            <label for="is-deleted">非公開/削除済み</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-deleted')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-joke" name="is-joke" {% if song.isjoke %}checked{% endif %}>
            <label for="is-joke">ネタ曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-joke')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-inst" name="is-inst" {% if song.isinst %}checked{% endif %}>
            <label for="is-inst">インスト</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-inst')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-subeana" name="is-subeana" {% if song.issubeana %}checked{% endif %}>
            <label for="is-subeana">すべあな界隈曲</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-subeana')"></i>
        </div>
        <div class="checkbox-col">
            <input type="checkbox" id="is-draft" name="is-draft" {% if song.isdraft %}checked{% endif %}>
            <label for="is-draft">下書き</label>
            <i class="fas fa-info-circle" onclick="showTutorial('is-draft')"></i>
        </div>
        <input type="submit" value="登録" id="song-edit-submit" disabled>
        <p id="song-edit-info-submit" class="song-edit-info"><img id='loading' src="{% static 'subekashi/image/loading.gif' %}" alt='loading'></img></p>
    </form>
</section>
{% endblock %}

{% block js %}
<script defer src="{% static 'subekashi/js/song_edit.js' %}"></script>
<script defer>
    {% if error %}
        showToast("error", "{{ error|safe }}");
    {% elif request.GET.toast == "auto" %}
        showToast("ok", "登録しました。続けて模倣・歌詞等を登録することができます。");
    {% elif request.GET.toast == "manual" %}
        showToast("ok", "登録しました。続けてURL・模倣・歌詞等を登録することができます。");
    {% endif %}

    deleteToastUrlQuery()
</script>
{% endblock %}