{% extends "subekashi/base/base.html" %}
{% block title %}トップ{% endblock %}
{% block ogtitle %}トップ{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/top.css' %}{% endblock %}

{% block content %}
<section>
    <h1>新着の曲</h1>
    <div class="underline"></div>
    {% for ins_song in ins_songs %}
        <a href="{% url 'song' ins_song.id %}" class="buttona">
            <div class="songcard">
                <div class="cardleft">
                    <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title|slice:"30" }}</p>
                    <object><a class="songchannel" href="{% url 'channel' ins_song.channel %}"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</a></object>
                </div>
                <div class="cardright">
                    {% if ins_song.lyrics %}
                        <p class="songlyrics">{{ ins_song.lyrics|slice:"25" }}...</p>
                    {% else %}
                        <p class="songlyrics">歌詞未登録</p>
                    {% endif %}
                    {% if ins_song.url %}
                        <object><a class="songurl" href="{{ ins_song.url }}">{{ ins_song.url|slice:"30" }}</a></object>
                    {% else %}
                        <p class="songurl">URL未登録</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    <div class="dummybuttons">
        <a href="{% url 'search' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">もっと見る</p></div></a>
        <a href="{% url 'new' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">曲を登録する</p></div></a>
    </div>
    
    {% if ins_ais %}
        <h1>生成された歌詞</h1>
        <div class="underline"></div>
        {% for ins_ai in ins_ais %}
            <p class="lyrics">{{ ins_ai.lyrics }}</p>
        {% endfor %}
        <div class="dummybuttons">
            <a href="{% url 'ai' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">もっと見る</p></div></a>
            <a href="{% url 'make' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">曲を生成する</p></div></a>
        </div>
    {% endif %}

    {% if ins_lacks %}
        <h1>情報不足の曲</h1>
        <div class="underline"></div>
        {% for ins_song in ins_lacks %}
            <a href="{% url 'song' ins_song.id %}" class="buttona">
                <div class="songcard">
                    <div class="cardleft">
                        <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title|slice:"30" }}</p>
                        <object><a class="songchannel" href="{% url 'channel' ins_song.channel %}"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</a></object>
                    </div>
                    <div class="cardright">
                        {% if ins_song.lyrics %}
                            <p class="songlyrics">{{ ins_song.lyrics|slice:"25" }}...</p>
                        {% else %}
                            <object><a class="songlyrics" href="{% url 'edit' %}?id={{ ins_song.id }}">歌詞未登録</a></object>
                        {% endif %}
                        {% if ins_song.url %}
                            <object><a class="songurl" href="{{ ins_song.url }}">{{ ins_song.url|slice:"30" }}</a></object>
                        {% else %}
                            <object><a class="songurl" href="{% url 'edit' %}?id={{ ins_song.id }}">URL未登録</a></object>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
            <div class="dummybuttons">
                <a href="{% url 'search' %}?lacks=1"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">もっと見る</p></div></a>
                <a href="{% url 'new' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">曲を登録する</p></div></a>
            </div>
    {% endif %}

    {% if ins_nones %}
        <h1>未登録の曲</h1>
        <div class="underline"></div>
        {% for ins_song in ins_nones %}
        <a href="{% url 'new' %}?title={{ ins_song.title }}" class="buttona">
            <div class="songcard">
                    <div class="cardleft">
                        <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title|slice:"30" }}</p>
                        <p class="songchannel"><i class="fas fa-user-circle"></i> チャンネル未登録</p>
                    </div>
                    <div class="cardright">
                        <p class="songlyrics">{{ imitates.pop }}</p>
                        <p class="songurl">歌詞・URL未登録</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="dummybuttons">
            <a href="{% url 'search' %}?nones=1"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">もっと見る</p></div></a>
            <a href="{% url 'new' %}"><div class="dummybutton dummybuttonf"><p class="dummybuttonp">曲を登録する</p></div></a>
        </div>
    {% endif %}
    
    <h1>全て歌詞の所為です。</h1>
    <iframe id="subekashi1" src="https://www.youtube.com/embed/V7dRn5KZXk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1>リンク</h1>
    <div class="underline"></div>
    <a href="https://imicomweb.com/"><img id="imicom" src="{% static 'subekashi/image/imicom.png' %}"></a>
    <a href="https://www.youtube.com/@subeteanatanoseidesu" class="subeana"><h1>全てあなたの所為です。</h1></a>
</section>
{% endblock %}