{% extends "subekashi/base/base.html" %}
{% load static %}
{% load song_card %}
{% block css %}{% static 'subekashi/css/top.css' %}{% endblock %}

{% block content %}
<section>
    <h1>ニュース</h1>
    <div class="underline"></div>
    <div id="news-wrapper">
        <div id="news-display">
            {{ news_html|safe }}
        </div>
    </div>
    <h1>検索</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:songs' %}" method="GET" id="search-form">
        <div class="form-col">
            <label for="keyword">キーワード</label>
            <input type="text" id="keyword" name="keyword" placeholder="タイトル・チャンネル名・歌詞・URL">
        </div>
        <input type="submit" value="検索" id="searchsubmit">
    </form>

    <h1>新着</h1>
    <div class="underline"></div>
    {% for songIns in songInsL %}
        {% render_song_card songIns %}
    {% endfor %}
    <div class="dummybuttons">
        <a href="{% url 'subekashi:songs' %}"><div class="dummybutton"><p>もっと見る</p></div></a>
        <a href="{% url 'subekashi:song_new' %}"><div class="dummybutton"><p>曲を登録する</p></div></a>
    </div>
    
    {% if isAdDisplay %}
        <h1>宣伝</h1>
        <div class="underline"></div>
        <div class="youtube" id="ad">
            <iframe id="player" src="https://www.youtube-nocookie.com/embed/{{ adIns.url | slice:'17:' }}?enablejsapi=1" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreenframeborder="0"></iframe>
        </div>
        <div class="dummybuttons">
            <a href="{% url 'subekashi:ad' %}"><div class="dummybutton"><p>宣伝する</p></div></a>
            <a href="{% url 'subekashi:setting' %}#adrange"><div class="dummybutton"><p>非表示にする</p></div></a>
        </div>
    {% endif %}

    {% if aiInsL %}
        <h1>生成された歌詞</h1>
        <div class="underline"></div>
        {% for aiIns in aiInsL %}
            <p class="lyrics">{{ aiIns.lyrics }}</p>
        {% endfor %}
        <div class="dummybuttons">
            <a href="{% url 'subekashi:ai' %}"><div class="dummybutton"><p>もっと見る</p></div></a>
        </div>
    {% endif %}

    {% if lackInsL %}
        <h1>未完成</h1>
        <div class="underline"></div>
        {% for songIns in lackInsL %}
            {% render_song_card songIns %}
        {% endfor %}
            <div class="dummybuttons">
                <a href="{% url 'subekashi:songs' %}?islack=True"><div class="dummybutton"><p>もっと見る</p></div></a>
                <a href="{% url 'subekashi:song_new' %}"><div class="dummybutton"><p>曲を登録する</p></div></a>
            </div>
    {% endif %}
 
    <h1>リンク</h1>
    <div class="underline"></div>
    <a href="https://imicomweb.com/" target="_blank"><img id="imicom" src="{% static 'subekashi/image/imicom.png' %}" alt="イミコミュのロゴ" height="47" width="320"></a>
    <a href="https://www.youtube.com/@subeteanatanoseidesu" class="subeana" target="_blank"><h1>全てあなたの所為です。</h1></a>

    <h1>クレジット</h1>
    <div class="underline"></div>
    <div id="credit">
        <p>本ソフトでは表示フォントに「源全ゴシック」(<a href="https://drive.google.com/drive/folders/19WidrJoCmI5qLJV-eR_ydURIwxB2-DSH" target="_blank">https://drive.google.com/drive/folders/19WidrJoCmI5qLJV-eR_ydURIwxB2-DSH</a>) を使用しています。</p>
        <p>Licensed under SIL Open Font License 1.1 <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></p>
        <p>© 2021 全て語り手の所為です。</p>
        <br>
        <p>本ソフトでは表示フォントに「Noto Sans JP」(<a href="https://fonts.google.com/selection?query=noto" target="_blank">https://fonts.google.com/selection?query=noto</a>) を使用しています。</p>
        <p>Licensed under SIL Open Font License 1.1 <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></p>
        <p>© 2014-2021 Adobe (http://www.adobe.com/), with Reserved Font Name 'Source'</p>
    </div>
</section>
{% endblock %}


{% block js %}
{% comment %} TODO top.jsに移動 {% endcomment %}
<script defer>
    document.getElementById("keyword").focus();
    document.getElementById("keyword").click();

    const newsDisplayEle = document.getElementById('news-display');
    const newsArreyEle = document.createElement("div");
    newsArreyEle.innerHTML = newsDisplayEle.innerHTML;
    const newsEles = newsArreyEle.children;
    let currentIndex = 0;

    function showNews(newsEle_) {
        newsEle = newsEle_.cloneNode(true)
        newsDisplayEle.innerHTML = '';
        newsDisplayEle.appendChild(newsEle);
        const height = newsEle.clientHeight;
        newsDisplayEle.style.height = `${height}px`;
        
        setTimeout(() => {
            newsEle.style.opacity = '1';
            newsEle.style.transform = 'translateY(0px)'; 
        }, 1000);
        
        setTimeout(() => {
            newsEle.style.opacity = '0';
            newsEle.style.transform = 'translateY(-50px)'; 
        }, 10000);
        
        setTimeout(() => {
            newsEle.style.transform = 'translateY(50px)'; 
        }, 11000);
    }

    function showNextNews() {
        showNews(newsEles[currentIndex % newsEles.length])
        currentIndex++;
    }

    showNextNews();
    setInterval(showNextNews, 11000);


    if ('{{ isAdDisplay }}' === "True") {
        let onceView = false;
        var adView = Number('{{ adIns.view }}')
        var adClick = Number('{{ adIns.click }}')
        window.addEventListener('scroll', async function () {
            taeget_position = document.querySelector('#ad').getBoundingClientRect().top;
                if (taeget_position <= window.innerHeight && onceView !== true) {
                    onceView = true;
                    await setad(adView + 1, adClick);
                }
            }
        );

        let onceClick = false;
        function onYouTubeIframeAPIReady() {
            var player = new YT.Player('player', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });

            async function onPlayerStateChange(event) {
                if ((event.data == YT.PlayerState.PLAYING) && (onceClick !== true)) {
                    await setad(adView + 1, adClick + 1);
                    onceClick = true;
                }
            }
        }
    }

    async function setad(view, click) {
        const csrf = await getCSRF();
        await fetch(
            baseURL() + "/api/ad/" + "{{ adIns.id }}" + "/?format=json",
            {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf
                },
                body: JSON.stringify(
                    {
                        "view": view,
                        "click": click,
                    }
                ),
                credentials: 'include',
            }
        )
    };
</script>
<script defer src="https://www.youtube.com/iframe_api"></script>
<script defer src="{% static 'subekashi/js/x.js' %}" ></script>
{% endblock %}