{% extends "subekashi/base/base.html" %}
{% load static %}
{% load songcard %}
{% block css %}{% static 'subekashi/css/top.css' %}{% endblock %}

{% block content %}
<section>
    <h1>ニュース</h1>
    <div class="underline"></div>
    <div id="news-wrapper">
        <div id="news-display">
            {{ news|safe }}
        </div>
    </div>
    <h1>検索</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:top' %}" method="POST" id="search-form">{% csrf_token %}
        <div class="label-wrapper">
            <label class="label-same" for="title">タイトル</label>
            <input type="text" id="title" class="sansfont" name="title">
        </div>
        <div class="label-wrapper">
            <label class="label-same" for="channel">チャンネル名</label>
            <input type="text" id="channel" name="channel">
        </div>
        <div class="label-wrapper">
            <label class="label-same" for="lyrics">歌詞</label>
            <input type="text" id="lyrics" name="lyrics">
        </div>
        <div class="label-wrapper">
            <label class="label-same" for="url">URL</label>
            <input type="text" id="url" name="url">
        </div>
        <input type="submit" value="検索" id="searchsubmit">
    </form>

    <h1>新着</h1>
    <div class="underline"></div>
    {% for songIns in songInsL %}
        {% render_songcard songIns %}
    {% endfor %}
    <div class="dummybuttons">
        <a href="{% url 'subekashi:search' %}"><div class="dummybutton"><p>もっと見る</p></div></a>
        <a href="{% url 'subekashi:new' %}"><div class="dummybutton"><p>曲を登録する</p></div></a>
    </div>
    
    {% if isAdDisplay %}
        <h1>宣伝</h1>
        <div class="underline"></div>
        <div class="youtube" id="ad">
            <iframe id="player" src="https://www.youtube.com/embed/{{ adIns.url | slice:'17:' }}?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="dummybuttons">
            <a href="{% url 'subekashi:ad' %}"><div class="dummybutton"><p>宣伝する</p></div></a>
            <a href="{% url 'subekashi:setting' %}#adrange"><div class="dummybutton"><p>非表示にする</p></div></a>
        </div>
    {% endif %}

    {% if aiInsL %}
        <h1>生成された歌詞</h1>
        <div class="underline"></div>
        {% for aiIns in aiInsL %}
            <p class="lyrics">{{ aiIns.lyrics }}</p>
        {% endfor %}
        <div class="dummybuttons">
            <a href="{% url 'subekashi:ai' %}"><div class="dummybutton"><p>もっと見る</p></div></a>
        </div>
    {% endif %}

    {% if lackInsL %}
        <h1>未完成</h1>
        <div class="underline"></div>
        {% for songIns in lackInsL %}
            {% render_songcard songIns %}
        {% endfor %}
            <div class="dummybuttons">
                <a href="{% url 'subekashi:search' %}?filter=islack"><div class="dummybutton"><p>もっと見る</p></div></a>
                <a href="{% url 'subekashi:new' %}"><div class="dummybutton"><p>曲を登録する</p></div></a>
            </div>
    {% endif %}
    
    <h1>フィードバック</h1>
    <div class="underline"></div>
    <form action="{% url 'subekashi:top' %}" method="POST">{% csrf_token %}
        <textarea id="feedback" name="feedback" placeholder="不具合の内容・機能の提案・再掲載してほしい削除された曲の情報を入力"></textarea>
        <input id="feedbacksend" type="submit" name="submit" value="送信">
    </form>
 
    <h1>リンク</h1>
    <div class="underline"></div>
    <a href="https://imicomweb.com/" target="_blank"><img id="imicom" src="{% static 'subekashi/image/imicom.png' %}" alt="イミコミュのロゴ" height="47" width="320"></a>
    <a href="https://www.youtube.com/@subeteanatanoseidesu" class="subeana" target="_blank"><h1>全てあなたの所為です。</h1></a>
    
    <h1>ポスト</h1>
    <div class="underline"></div>
    <div class="twitter-timeline-wrapper">
        <a class="twitter-timeline" href="https://twitter.com/subekashi?ref_src=twsrc%5Etfw">Tweets by subekashi</a>
    </div>

    <h1>クレジット</h1>
    <div class="underline"></div>
    <div id="credit">
        <p>本ソフトでは表示フォントに「源全角ゴ改」(<a href="https://drive.google.com/drive/folders/19WidrJoCmI5qLJV-eR_ydURIwxB2-DSH" target="_blank">https://drive.google.com/drive/folders/19WidrJoCmI5qLJV-eR_ydURIwxB2-DS</a>) を使用しています。</p>
        <p>Licensed under SIL Open Font License 1.1 <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></p>
        <p>© 2021 全て語り手の所為です。</p>
        <br>
        <p>本ソフトでは表示フォントに「Noto Sans JP」(<a href="https://fonts.google.com/selection?query=noto" target="_blank">https://fonts.google.com/selection?query=noto</a>) を使用しています。</p>
        <p>Licensed under SIL Open Font License 1.1 <a href="http://scripts.sil.org/OFL" target="_blank">http://scripts.sil.org/OFL</a></p>
        <p>© 2014-2021 Adobe (http://www.adobe.com/), with Reserved Font Name 'Source'</p>
    </div>
</section>
{% endblock %}


{% block js %}
<script defer>
    const newsDisplayEle = document.getElementById('news-display');
    const newsArreyEle = document.createElement("div");
    newsArreyEle.innerHTML = newsDisplayEle.innerHTML;
    const newsEles = newsArreyEle.children;
    let currentIndex = 0;

    function showNews(newsEle_) {
        newsEle = newsEle_.cloneNode(true)
        newsDisplayEle.innerHTML = '';
        newsDisplayEle.appendChild(newsEle);
        const height = newsEle.clientHeight;
        newsDisplayEle.style.height = `${height}px`;
        
        setTimeout(() => {
            newsEle.style.opacity = '1';
            newsEle.style.transform = 'translateY(0px)'; 
        }, 1000);
        
        setTimeout(() => {
            newsEle.style.opacity = '0';
            newsEle.style.transform = 'translateY(-50px)'; 
        }, 10000);
        
        setTimeout(() => {
            newsEle.style.transform = 'translateY(50px)'; 
        }, 11000);
    }

    function showNextNews() {
        showNews(newsEles[currentIndex % newsEles.length])
        currentIndex++;
    }

    showNextNews();
    setInterval(showNextNews, 11000);


    if ('{{ isAdDisplay }}' === "True") {
        let onceView = false;
        var adView = Number('{{ adIns.view }}')
        var adClick = Number('{{ adIns.click }}')
        window.addEventListener('scroll', async function () {
            taeget_position = document.querySelector('#ad').getBoundingClientRect().top;
                if (taeget_position <= window.innerHeight && onceView !== true) {
                    onceView = true;
                    await setad(adView + 1, adClick);
                }
            }
        );

        let onceClick = false;
        function onYouTubeIframeAPIReady() {
            var player = new YT.Player('player', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });

            async function onPlayerStateChange(event) {
                if ((event.data == YT.PlayerState.PLAYING) && (onceClick !== true)) {
                    await setad(adView + 1, adClick + 1);
                    onceClick = true;
                }
            }
        }
    }

    async function setad(view, click) {
    res = null
    csrf = await getCSRF();
    try {
    res = await fetch(
        baseURL() + "/api/ad/" + "{{ adIns.id }}" + "/?format=json",
        {
            method: "PUT",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {
                    "view": view,
                    "click": click,
                }
            ),
            credentials: 'include',
        });
        if ( ! res.ok ) {
            throw new RuntimeError(`getHeader: Response: ${res.status}`);
        };
    } finally {
        return res
    };
}
</script>
<script defer src="https://www.youtube.com/iframe_api"></script>
<script defer src="{% static 'subekashi/js/x.js' %}" ></script>
{% endblock %}