{% extends "subekashi/base/base.html" %}
{% block title %}修正・削除の提案{% endblock %}
{% block ogtitle %}修正・削除の提案{% endblock %}
{% load static %}
{% block css %}{% static 'subekashi/css/wrong.css'%}{% endblock %}

{% block content %}
<section id="wrongsection">
    <h1>修正・削除の提案</h1>
    <div class="underline"></div>
    <p>対象の曲：{{ins_song.title}}</p>
    <form action="{% url 'wrong' ins_song.id %}" method="POST" class="post-form" id="wrongForm">{% csrf_token %}
        <label>理由*</label>
        <select id="reason" name="reason" oninput="wrongform()">
            <option>理由を選択してください</option>
            <option>タイトルが違う</option>
            <option>作者が違う</option>
            <option>URLが違う</option>
            <option>模倣曲が違う</option>
            <option>模倣曲を追加してほしい</option>
            <option>歌詞が違う</option>
            <option>この曲は存在しない</option>
            <option>データを削除してほしい</option>
            <option>その他</option>
        </select><br>
        <label>コメント</label>
        <input type="text" id="comment" name="comment"><br>
        <input type="submit" value="送信" id="submit" disabled>
        <p class="bottomelement">*がついているラベルは入力が必須です。</p>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subekashi/js/wrongform.js' %}?{{ lastModified }}" rel="stylesheet"></script>
<script src="{% static 'subekashi/js/fixfooter.js' %}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', fixfooter);
</script>
{% endblock %}