.nation-form {
    display:inline-flex;
    position:absolute;
    top: calc(50% + 32px);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
    .nation-form {
        top: calc(50% + 64px);
    }
}

.modarticle {
    margin: 0px;
    color: #70e2ff;
    text-decoration: underline 2px #70e2ff;
    text-decoration-line: underline;
    font-weight: bold;
    text-underline-offset:0.2em;
}