#articleform {
    margin: 100px 0 0 50px;
}

@media (max-width: 640px) {
    #articleform {
        margin: 164px 0 0 50px;
    }
}

label {
    font-size: 20px;
}

#nationInput {
    display: block;
    margin-bottom: 30px;
}

#infomationInput {
    display: block;
    height: calc(75vh - 275px);
    width: calc(100% - 100px);
    text-align: left;
    padding: 10px;
    margin-bottom: 30px;
}

.formbutton {
    background-color: #ccc;
}

@media (max-width: 360px) {
    .formbutton {
        width: 100px;
    }
}

.formbutton:hover {
    background-color: #bbb;
}

.formbutton:active {
    border: none;
    box-shadow: 0 0 0 2px #BB002D inset;
    background-color: #ddd;
}
