{% extends "iniadmc/base/base.html" %}
{% block title %}展示室の混雑度{% endblock %}
{% block ogtitle %}展示室の混雑度{% endblock %}
{% load static %}

{% block content %}
<section id="videosession">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aFGVdfKwaQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video"></iframe>
</section>
<section id="infosession">
    <h2 id="time">展示時間・・・10:00～12:00, 13:30～15:00, 16:30～17:00</h2>
    {% if minutes != 0 %}
        <h1>待ち時間は<b id="minutes">{{ minutes }}</b>分程度です。</h1>
    {% else %}
        <h1>待ち時間は<b>ありません</b></h1>
    {% endif %}  
    <p id="timestamp"></p>
</section>
{% endblock %}

{% block js %}
<script>
    async function CheckAPI(baseURL) {
        res = await fetch(baseURL + "/iniadmc/api/Wait/?format=json");
        songjson = await res.json();
        
        minutesEle = document.getElementById("minutes");
        if (minutesEle) {
            minutesEle.innerHTML = songjson[0]["minutes"];
        }
        
        timestampEle = document.getElementById("timestamp");
        var now = new Date();
        timestampEle.innerHTML = "情報の最終取得時間：" + ("00" + now.getHours()).slice(-2) + "時" + ("00" +now.getMinutes()).slice(-2) + "分";
    }

    window.onload = function() {
        CheckAPI('{{ BASE_DIR }}');
        setInterval(() => {
            CheckAPI('{{ BASE_DIR }}');
        }, 60000);
    }
</script>
{% endblock %}