{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="INIAD Minecraft サークル">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@MinecraftINIAD">
        <meta name="og:type" content="website">
        <meta name="og:title" content="{% block ogtitle %}{% endblock %} | INIAD Minecraft サークル">
        <meta name="og:image" content="{% static 'iniadmc/image/logo.png' %}">
        <meta name="og:description" content="INIAD Minecraft サークルの展示室の混雑度を表示します">
        <meta name="og:url" content="https://izuminapp.herokuapp.com/iniadmc">
        <meta name="description" content="INIAD Minecraft サークルの展示室の混雑度を表示します">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | INIAD Minecraft サークル</title>
        <link rel="stylesheet" type="text/css" href="{% static 'iniadmc/css/common.css'%}">
        <link rel="shortcut icon" href="{% static 'iniadmc/image/logo.ico' %}">
    </head>
    <body>
        {% include './header.html' %}
        <main>
            <article id="mainarticle">
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include './footer.html' %}
    </body>

    <script src="{% static 'iniadmc/js/base.js' %}" rel="stylesheet"></script>
    {% block js %}{% endblock %}
</html>
