{% extends "xia/base/base.html" %}
{% load static %}
{% block title %}プレイヤーの編集{% endblock %}
{% block ogtitle %}プレイヤーの編集{% endblock %}
{% block css %}{% static 'xia/css/editplayer.css'%}{% endblock %}

{% block content %}
    <section class="playerform">
        <h1>プレイヤー情報の編集</h1>
        <div class="underline"></div>

        <form action="{% url 'xia:editplayer' %}" method="POST" class="post-form" id="PlayerForm">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="送信">
        </form>
    </section>
    <section class="tablesection">
        <table border="1" class="playertable">
            <th>プレイヤー名</th>
            <!-- <th id="thnation">国</th> -->
            <!-- <th id="thtown">町</th> -->
            <th>説明</th>
            <th>削除</th>
            {% for player in players %}
            <tr>
                <td><a href="#PlayerForm" onclick="copyinfo('{{ player.name }}', '{{ player.info }}')">{{ player.name }}</a></td>
                <!-- <td class="tdnation">{{ player.nation }}</td> -->
                <!-- <td class="tdtown">{{ player.town }}</td> -->
                <td class="tableinfo">{{ player.info }}</td>
                <td><a href="{% url 'xia:editplayerdelete' player.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </table>

        <p>プレイヤー情報の追加や編集ができます。</p>
        <p>プレイヤー名をクリックすることで、フォームにプレイヤーの情報がコピーされます。</p>
    </section>
{% endblock %}

{% block js %}
    <script>
        window.onload = function() {
            // toastrの表示
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "10000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            "{% if title %}"
            toastr.info("{{ title }}")
            "{% endif %}"

            "{% if error %}"
            toastr.options.onclick = function () {
                window.location.href = "{% url 'xia:editplayerforce' name %}";
            };
            toastr.warning("{{ name }}の情報がEarthMC上にありません。作成する場合はこのメッセージをクリックしてください")
            "{% endif %}"
            
            // window_load();
            // window.onresize = window_load;

            // buttonのidの追加
            submit = document.getElementsByTagName("Input")[2];
            console.log(submit);
            submit.setAttribute('id','submit');
        };
    </script>

    <script>
        function copyinfo(name, info){
            document.getElementById("id_name").value = name;
            document.getElementById("id_info").value = info;
        };

        /*
        function window_load() {
            var columns = ['nation', 'town'];
            for (const column of columns){
                if (window.innerWidth < 740) {
                    document.getElementById("th" + column).style.display ="none";
                    var tdpostions = document.getElementsByClassName("td" + column);
                    for (var i = 0; i < tdpostions.length; i++) {
                        tdpostions[i].style.display = "none";
                    }
                } else {
                    document.getElementById("th" + column).style.display ="table-cell";
                    var tdpostions = document.getElementsByClassName("td" + column);
                    for (var i = 0; i < tdpostions.length; i++) {
                        tdpostions[i].style.display = "table-cell";
                    }
                };
            };
        }
        */
    </script>
{% endblock %}