<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <title>editplayer</title>
    </head>


    <body style="margin-left: 40px;">
        <main>
            <p>{{ title }}</p>
            <br />
            <form method="POST" class="post-form" id="PlayerForm">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="送信">
            </form>
            
            <p>プレイヤー情報の追加や編集ができます。</p>
            <p>プレイヤー名をクリックすることで、フォームにプレイヤーの情報がコピーされます。</p>
            <p>Xia国民は自動で表に追加されますが、それ以外のプレイヤーは手動で追加する必要があります。</p>
            <table border="1">
                <th>プレイヤー名</th>
                <th>ニックネーム</th>
                <th>国</th>
                <th>町</th>
                <th>説明</th>
                {% for player in players %}
                <tr>
                    <td><a href="#PlayerForm" onclick="copyinfo('{{ player.name }}',  '{{ player.info }}')">{{ player.name }}</a></td>
                    <td>{{ player.nickname }}</td>
                    <td>{{ player.nation.name }}</td>
                    <td>{{ player.town }}</td>
                    <td>{{ player.info }}</td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </body>
    <script>
        function copyinfo(name, info){
            document.getElementById("id_name").value = name;
            document.getElementById("id_info").value = info;
        }
    </script>
</html>