<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="Xiaへようこそ">
        <meta name="og:image" content="{% static 'xia/image/flag.png' %}">
        <meta name="og:description" content="EarthMCの中国 運城市にある国、Xiaの紹介サイトです。">
        <meta name="og:url" content="https://config.pythonanywhere.com/xia">
        <meta name="description" content="EarthMCの中国 運城市にある国、Xiaの紹介サイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>Xia - 大臣の編集</title>
        <link rel="stylesheet" type="text/css" href="{% static 'xia/css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'xia/css/editminister.css'%}">
        <link rel="shortcut icon" href="{% static 'xia/image/flag.ico' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
    </head>

    <main>
        <header>
            <div class="header-left">
                <a href="{% url 'xia:top' %}"><img name="thumbnail" class="logo" src="{% static 'xia/image/flag.png' %}" alt="Xiaの国旗"></a>
                <a href="{% url 'xia:top' %}" class="logomoji">Xia</a>
            </div>

            <div class="header-right">
                <nav>
                    <a href="{% url 'xia:top' %}">トップ</a>
                    <a onclick="notfound()">Wiki</a>
                    <a onclick="notfound()">納税ランキング</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>
                    
        <body>
            <article>
                <section class="ministerform">
                    <h1>大臣の編集</h1>
                    <div class="underline"></div>

                    <form action="{% url 'xia:editminister' %}" method="POST" class="post-form" id="ministerForm">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="送信">
                    </form>
                </section>

                <section class="tablesection">
                    <table border="1">
                        <th>大臣名</th>
                        <th>役所名</th>
                        <th>削除</th>
                        {% for minister in ministers %}
                        <tr>
                            <td><a href="#PlayerForm" onclick="copyinfo('{{ minister.player.name }}', '{{ minister.title }}')">{{ minister.player.name }}</a></td>
                            <td>{{ minister.title }}</td>
                            <td><a href="{% url 'xia:editministerdelete' minister.id %}"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p>大臣の情報の追加や編集ができます。</p>
                    <p>プレイヤー名をクリックすることで、フォームに大臣の情報がコピーされます。</p>
                </section>
            </article>
        </body>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jquery -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->

    <script src="{% static 'xia/js/playerpopup.js' %}"></script>        <!-- プレイヤーポップアップ -->

    <script>
    window.onload = function() {
        // toastrの表示
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "timeOut": "5000",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
        }

        "{% if title %}"
        toastr.info("{{ title }}")
        "{% endif %}"

        "{% if error %}"
        toastr.options.onclick = function () {
            window.location.href = "{% url 'xia:editplayer' %}";
        };
        toastr.warning("{{ player.name }}の情報がEarthMC上にありません。作成する場合はこのメッセージをクリックしてください")
        "{% endif %}"
        
        // window_load();
        // window.onresize = window_load;

        // buttonのidの追加
        submit = document.getElementsByTagName("Input")[3];
        submit.setAttribute('id','submit');
    };
    </script>

    <script>
        function copyinfo(name, title){
            document.getElementById("id_name").value = name;
            document.getElementById("id_title").value = title;
        }
    </script>
</html>