{% extends "xia/base/base.html" %}
{% load static %}
{% block title %}大臣の編集{% endblock %}
{% block ogtitle %}大臣の編集{% endblock %}
{% block css %}{% static 'xia/css/editminister.css'%}{% endblock %}

{% block content %}
    <section class="ministerform">
        <h1>大臣情報の編集</h1>
        <div class="underline"></div>

        <form action="{% url 'xia:editminister' %}" method="POST" class="post-form" id="ministerForm">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="送信">
        </form>
    </section>

    <section class="tablesection">
        <table border="1">
            <th>大臣名</th>
            <th>役所名</th>
            <th>削除</th>
            {% for minister in ministers %}
            <tr>
                <td><a href="#PlayerForm" onclick="copyinfo('{{ minister.player.name }}', '{{ minister.title }}')">{{ minister.player.name }}</a></td>
                <td>{{ minister.title }}</td>
                <td><a href="{% url 'xia:editministerdelete' minister.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        <p>大臣の情報の追加や編集ができます。</p>
        <p>プレイヤー名をクリックすることで、フォームに大臣の情報がコピーされます。</p>
    </section>
{% endblock %}

{% block js %}
    <script>
        window.onload = function() {
            // toastrの表示
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "10000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            "{% if title %}"
            toastr.info("{{ title }}")
            "{% endif %}"

            "{% if error %}"
            toastr.options.onclick = function () {
                window.location.href = "{% url 'xia:editministerforce' name %}";
            };
            toastr.warning("{{ name }}の情報がEarthMC上にありません。作成する場合はこのメッセージをクリックしてください")
            "{% endif %}"
            
            // buttonのidの追加
            submit = document.getElementsByTagName("Input")[3];
            submit.setAttribute('id','submit');
        };
    </script>

    <script>
        function copyinfo(name, title){
            document.getElementById("id_name").value = name;
            document.getElementById("id_title").value = title;
        }
    </script>
{% endblock %}