{% extends "xia/base/base.html" %}
{% load static %}
{% block title %}レイド{% endblock %}
{% block ogtitle %}レイド{% endblock %}
{% block css %}{% static 'xia/css/raid.css'%}{% endblock %}

{% block content %}
    <section class="raidsection">
        <h1>レイド</h1>
        <div class="underline"></div>
        {% if locked %}
            <form action="{% url 'xia:raid' %}" method="POST" class="post-form" id="raidform">{% csrf_token %}
                <label>パスワード</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" id="submit" value="送信">
            </form>
        {% endif %}
    </section>

    <section class="filtersection">
        {% if get %}
        <label>検索</label>
        <input type="text" id="name" name="name" oninput="filtertown()"><br>
        {% endif %}
    </section>

    <section class="tablesection">
        {% if not locked %}
            <ul id="raidwarning">
                <li>町名をクリックすると町名がクリップボードにコピーされます。</li>
                <li>Earth MC API(ECMのサーバーから情報を取得する仕組み)を利用している性質上、サーバーとレイド情報にはラグがある可能性があります</li>
                <li>パスワードは変更される可能性があります</li>
                <li>レイドの情報を取得しました。万が一パスワードが流出した場合、KANATA2000#6494に連絡をください。</li>
            </ul>
        {% endif %}
        
        <table border="1" id="raidtable">
            <th>町名</th>
            <th>最終ログイン日</th>
            
            {% if locked %}
                {% for town in towns %}
                    <tr>
                        <td>******* <i class="fas fa-map-marked-alt"></i></td>
                        <td>*******</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for name, lastlogin in towns %}
                <tr id="{{ name }}">
                    <td><a class="name" onclick="copyCode('{{ name }}')">{{ name }}</a> <a class="map" href="{% url 'xia:raidmap' name %}" target="_blank" rel="noopener noreferrer"><i class="fas fa-map-marked-alt"></i></a></td>
                    <td>{{ lastlogin }} 日前</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </section>
{% endblock %}

{% block js %}
    <script>
        window.onload = function() {
            // toastrの表示
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "20000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            "{% if locked and not error %}"
            toastr.error("あなたはXiaの機密情報にアクセスしようとしています。アクセスするにはパスワードを送信してください。")
            "{% endif %}"

            toastr.options = {"positionClass": "toast-bottom-right"}
            "{% if error %}"
            toastr.warning("ECMからの情報の取得に失敗しました。")
            "{% endif %}"

            // レイド表の取得
            var raidtable = document.getElementById('raidtable');
        };
    
        // 町の検索
        function filtertown() {
            let formname = document.getElementById("name").value;
            for (let townElement of raidtable.rows) {
                let townname = townElement.id;
                if (formname != "") {
                    if (townname.match(formname) != null) {
                        townElement.style.display = "table-row";
                    } else {
                        townElement.style.display = "none";
                    }
                } else {
                    townElement.style.display = "table-row";
                }
            }
        }
    </script>
{% endblock %}