<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <title>pv</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    </head>


    <body>
        <main>
            <div style="width:80%;" >
                <canvas id="chart"></canvas>
                <p>総閲覧数：{{ allpv }}</p>
            </div>
        </main>
    </body>

    <script>
        var ctx = document.getElementById("chart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: "{{axisxlist | safe}}".split(','),
                datasets: [
                {
                    label: 'PV数',
                    data: JSON.parse("{{pv | safe}}"),
                    borderColor: "#2260ea",
                    backgroundColor: "#00000000"
                }
            ]}
        });
    </script>
</html>