{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="footer-right">
            <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png"></a>
            <p>KANATA2000</p>
            <!-- <a id="author" onclick="notfound()">KANATA2000</a> -->
        </div>

        <div class="clear"></div>
    </div>
</footer>