<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="EMC tour">
        <meta name="og:image" content="{% static 'image/flag.png' %}">
        <meta name="og:description" content="EarthMCの国に関する情報を掲載しているサイトです。">
        <meta name="og:url" content="https://izuminapp.pythonanywhere.com/inca">
        <meta name="description" content="EarthMCの国に関する情報を掲載しているサイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>EMC tour</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/emctour.css'%}">
        <link rel="shortcut icon" href="{% static 'image/flag.ico' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
    </head>


    <body>
        <header>
            <div class="header-left">
                <a href="{% url 'emctour' %}"><img name="thumbnail" class="logo" src="{% static 'image/emctourlogo.png' %}" alt="EMC tourのロゴ"></a>
            </div>

            <div class="header-right">
                <nav>
                    <a href="{% url 'emctour' %}">トップ</a>
                    <a href="{% url 'modarticle' nation %}">作成・編集</a>
                    <a href="{% url 'nationlist' %}">国一覧</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>

        <main>
            <article>
                <section class="firstview">
                    <div class="clImg">
                        <img src="{% static 'image/backgroundmap.png' %}" alt="EMCの世界地図">
                    </div>
                </section>
                <form action="{% url 'emctour' %}" method="POST" class="nation-form">{% csrf_token %}
                    <input type="text" id="nation" name="nation" placeholder="国名を検索" value="{{ nation }}">
                    <button class="formbutton">検索</button>
                </form>
                
                <section class="map-search">
                    <h1>ランダムイメージ</h1>
                    <div class="underline" onclick="map2input()"></div>
                </section>

            </article>
        </main>


        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="footer-right">
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png"></a>
                    <p>created by KANATA2000</p>
                </div>

                <div class="clear"></div>
            </div>
        </footer>
    </body>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jquery -->
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->

    <script src="{% static 'js/playerpopup.js' %}"></script>

    <script>
        window.onload = function() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "20000",
                "extendedTimeOut": "20000",
                "showEasing": "swing",
                "hideEasing": "linear",
            };

            // toastrのerror表示
            "{% if error %}"
                toastr.warning("{{ error }}");
            "{% endif %}"

            // toastrのinfo表示
            "{% if infomation %}"
                toastr.info("{{ infomation }}");
            "{% endif %}"

            toastr.options.onclick = function () {
                window.location.href = "{% url 'modarticle' nation %}";
            };
            
            // toastrの記事作成案内ページ
            "{% if noArticle %}"
                toastr.info("{{ nation }}の記事を作成する場合は<a class='modarticle' href={% url 'modarticle' nation %}>こちら</a>をクリックしてください");
            "{% endif %}"
            
            // nationのリダイレクト
            "{% if jump %}"
                window.location.href = "{% url 'nation' jump %}";
            "{% endif %}"

            // nation inputの中身が"new"なら消す
            let nation = document.getElementById('nation');
            if (nation.value == "new") {
                nation.value = "";
            }
        };
    </script>

    <script>
        function notfound(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "3000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            toastr.info("このページはまだ存在しません！")
        };
    </script>

</html>