<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="インカ帝国へようこそ">
        <meta name="og:image" content="{% static 'image/flag.png' %}">
        <meta name="og:description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta name="og:url" content="https://izuminapp.pythonanywhere.com/inca">
        <meta name="description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>インカ帝国 - トップ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/top.css'%}">
        <link rel="shortcut icon" href="{% static 'image/flag.ico' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jquery -->
    </head>


    <body>
        <header>
            <div class="header-left">
                <a href="{% url 'inca' %}"><img name="thumbnail" class="logo" src="{% static 'image/flag.png' %}" alt="インカ帝国の国旗"></a>
            </div>

            <div class="header-right">
                <nav>
                    <a onclick="notfound()">トップ</a>
                    <a onclick="notfound()">Wiki</a>
                    <a onclick="notfound()">統計</a>
                    <a onclick="notfound()">国民申請</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>


        <main>
            <article>
                <section class="firstview">
                    <div class="clImg">
                        {% for image in images %}
                            <img src="media/{{ image }}" alt="インカ帝国に関する画像">
                        {% endfor %}
                    </div>

                    <h1>インカ帝国 公式ホームページ</h1>
                    <div class="photo_info">
                        <p id="photo_title"><i class="fas fa-image"></i> {{ clTitle.0 }}</p>
                        <p id="photo_player"><i class="fas fa-user"></i> {{ clPlayers.0 }}</p>
                        <p id="photo_progress">1枚目 / {{ clTitle|length }}枚</p>
                    </div>
                </section>
            
                <section class="welcome">
                    <h2>インカ帝国について</h2>
                    <div class="underline"></div>
                    <h3>概要</h3>
                    <p>インカ帝国とは<a href="https://earthmc.net/">Earth MC</a>の<a href="https://earthmc.net/map/?worldname=earth&mapname=flat&zoom=6&x=-13140&y=64&z=2710">南米チチカカ湖の北岸に位置する</a>日本人勢による国です。</p>
                    <p>元は<a href="https://earthmc.fandom.com/wiki/Peru">ペルー</a>に所属していて、首都であるクスコを差し置いて同国内最大の土地でしたが、????年??月??日独立しました。</p>

                    <h3>基本情報</h3>
                </section>
            </article>
        </main>


        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <!-- <p>シェア</p> -->
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="footer-right">
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png" alt="このサイトはパブリックドメインです"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png" alt="このサイトはクリエイティブ・コモンズに属しています。"></a>
                    <p>created by <a>KANATA2000</a></p>
                </div>

                <div class="clear"></div>
            </div>
        </footer>
    </body>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        window.onload = function() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "5000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            "{% if nodata %}"
            toastr.warning("EarthMCのデータが読み込まれなかった為、一部情報が存在しないか不正確です。")
            "{% endif %}"
        };
    </script>

    <script>
        function notfound(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "3000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            toastr.info("このページはまだ存在しません!")
        };
    </script>

<script>
    // 複数画像をフェードインフェードアウトで切替
    $(document).ready(function(){
    $('.clImg img:gt(0)').hide();
    var cli = 1;
    var clTitle = "{{ clTitle|safe }}".replace(/\'/g, "").slice(1, -1).split("\, ");
    var clPlayers = "{{ clPlayers|safe }}".replace(/\'/g, "").slice(1, -1).split("\, ");
    var clLen = clPlayers.length;
    setInterval(function() {
        $('.clImg :first-child').fadeOut().next('img').fadeIn().end().appendTo('.clImg');
        document.getElementById('photo_title').innerHTML = "<i class='fas fa-image'></i> " + clTitle[cli % clLen];
        document.getElementById('photo_player').innerHTML = "<i class='fas fa-user'></i> " + clPlayers[cli % clLen];
        document.getElementById('photo_progress').innerHTML = String((cli % clLen) + 1) + "枚目 / " + String(clLen) + "枚";
        cli += 1;
    },5000);
});
</script>
</html>