<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="インカ帝国へようこそ">
        <meta name="og:image" content="{% static 'image/flag.png' %}">
        <meta name="og:description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta name="og:url" content="https://izuminapp.pythonanywhere.com/inca">
        <meta name="description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>インカ帝国 - トップ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/top.css'%}">
        <link rel="shortcut icon" href="{% static 'image/flag.ico' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
    </head>


    <body>
        <header>
            <div class="header-left">
                <a href="{% url 'inca' %}"><img name="thumbnail" class="logo" src="{% static 'image/flag.png' %}" alt="インカ帝国の国旗"></a>
            </div>

            <div class="header-right">
                <nav>
                    <a href="{% url 'inca' %}">トップ</a>
                    <a onclick="notfound()">情報</a>
                    <a onclick="notfound()">外国</a>
                    <a onclick="notfound()">所属申請</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>


        <main>
            <article>
                <section class="firstview">
                    <div class="clImg">
                        {% for name in names %}
                            <img src="{% static name %}" alt="インカ帝国に関する画像">
                        {% endfor %}
                    </div>

                    <b><span id="top_title">インカ帝国 公式ホームページ</span></b>
                    <div class="photo_info">
                        <p id="photo_title"><i class="fas fa-image"></i> {{ clTitle.0 }}</p>
                        <p id="photo_player"><i class="fas fa-user"></i> {{ clPlayers.0 }}</p>
                        <p id="photo_progress">1枚目 / {{ clTitle|length }}枚</p>
                    </div>
                </section>
            
                <section class="welcome">
                    <h1>インカ帝国について</h1>
                    <div class="underline"></div>
                    <h2>概要</h2>
                    <p>インカ帝国(Inca_Empire)とは<a href="https://earthmc.net/">Earth MC</a>の<a href="#dynamap">南米チチカカ湖の北岸に位置する</a>日本人勢による国です。</p>
                    <p>元は<a href="https://earthmc.fandom.com/wiki/Peru">ペルー</a>に所属していて、首都であるクスコを差し置いて同国内最大の土地でしたが、2022年1月5日独立しました。</p>
                    <p>現在は<a onclick="notfound()">鬼山幕府</a>の傘下に入っています。</p>

                    <h2>基本情報</h2>
                    <div class="container">
                        <div class="info_item">
                            <p class="info_title">国旗</p>
                            <div class="info_underline"></div>
                            <img class="info_flag" src="{% static 'image/flag.png' %}">
                        </div>

                        <div class="info_item">
                            <p class="info_title">首都</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ capitalName }}</p>
                            {% if not ableAPI %}
                                <p class="info_warning">この情報は古い可能性があります。</p>
                            {% endif %}
                            <i class="fas fa-building"></i>
                            <a href="https://earthmc.net/map/?worldname=earth&mapname=flat&zoom=6&x=-13140&y=64&z=2710">DynMapで見る</a>
                        </div>

                        <div class="info_item">
                            <p class="info_title">人口</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ population }} 人</p>
                            {% if not ableAPI %}
                                <p class="info_warning">この情報は古い可能性があります。</p>
                            {% endif %}
                            <i class="fas fa-user-friends"></i>
                            <a onclick="notfound()">プレイヤー情報を見る</a>
                        </div>

                        <div class="info_item">
                            <p class="info_title">面積</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ area }} チャンク</p>
                            {% if not ableAPI %}
                                <p class="info_warning">この情報は古い可能性があります。</p>
                            {% endif %}
                            <i class="fas fa-cubes"></i>
                        </div>

                        <div class="info_item">
                            <p class="info_title">国教</p>
                            <div class="info_underline"></div>
                            <p class="info_data">太陽神教</p>
                            <i class="fas fa-cross"></i>
                        </div>
                    </div>

                    <h2 id="major_players">大臣紹介</h2>
                    <p>ユーザー名が<span class="isonline">赤色</span>ならオンライン、<span class="isoffline">青色</span>ならオフライン、黒色ならオンライン情報の未取得を示しています。</p>
                    <p>他のプレイヤーは<a onclick="notfound()">こちらから</a>閲覧できます。</p>
                    <div class="container">
                        {% for primary in primaries %}
                            <div class="info_item">
                                {% if not ableAPI %}
                                    <p class="info_title">{{ primary.name }}</p>
                                {% elif primary.online %}
                                    <p class="info_title isonline">{{ primary.name }}</p>
                                {% else %}
                                    <p class="info_title isoffline">{{ primary.name }}</p>
                                {% endif %}
                                <div class="info_underline"></div>
                                <p class="info_data">{{ primary.rank }}</p>
                                {% if primary.uuid %}
                                    <img class="skin" src="https://crafatar.com/renders/head/{{ primary.uuid }}">
                                {% else %}
                                    <img class="unknown_skin" src="{% static 'image/unknown_skin.png' %}">
                                {% endif %}
                                <label for="trigger" class="open_btn" onclick="playerpopup('{{ primary.uuid }}', '{{ primary.name }}', '{{ ableAPI }}', '{{ primary.online }}', '{{ primary.info }}')">詳しく見る</label>
                                <div class="popup_wrap">
                                <input id="trigger" type="checkbox">
                                <div class="popup_overlay">
                                    <label for="trigger" class="popup_trigger"></label>
                                    <div class="popup_content">
                                        <label for="trigger" class="close_btn">x</label>
                                        <p id="popup_name"></p>                                      
                                        <img id="popup_skin">
                                        <hr id="popup_hr">
                                        <p id="popup_info"></p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <h2>地図</h2>
                    <iframe id="dynamap" src="https://earthmc.net/map/?worldname=earth&mapname=flat&zoom=5&x=-13112&y=64&z=2675"></iframe>

                    <h2>その他の情報</h2>
                    <p>???, ???, ???, ???の情報については<a onclick="notfound()">こちらのページ</a>からご覧になることができます</p>

                    <h1>インカ国民になろう！</h1>
                    <div class="underline"></div>
                    <h2>素敵な特典</h2>
                    <p>インカ国民になると初期装備として以下の特典が貰えます！</p>
                    <ul class="itemlist">
                        <li><img src="{% static 'image/oak.png' %}">原木 64個</li>
                        <li><img src="{% static 'image/iron.png' %}">鉄インゴット 64個</li>
                        <li><img src="{% static 'image/diamond.png' %}">ダイヤモンド 32個</li>
                        <li><img src="{% static 'image/potato.png' %}">食料 64個</li>
                        <li><i class="fas fa-cubes"></i>土地 1チャンク</li>
                    </ul>

                    <h2>インカ国民になるには</h2>
                    <ul class="itemlist">
                        <li><a href="#major_players">大臣</a>が<span clss="isonline">ログイン</span>している場合</li>
                        <ol>
                            <li>EarthMCに参加してください</li>
                            <li>チャットを開き<code onclick="copyCode('/ch join japanese')">/ch join japanese</code>と入力してください。</li>
                            <li><code onclick="copyCode('インカ帝国に入りたいです')">インカ帝国に入りたいです</code>とチャットで話してください。</li>
                            <li>招待が届くので、<code onclick="copyCode('/accept')">/accept</code>と入力してください。これでインカ国民になれます。</li>
                            <li><code onclick="copyCode('/n spawn Inca_Emperor')">/n spawn Inca_Emperor</code>でインカにテレポートできます。</li>
                        </ol>
                        <li><a href="#major_players">大臣</a>が<span clss="isonline">ログイン</span>していない場合</li>
                        <ul class="liindent">
                            <li>Discordを使える場合</li>
                            <ol>
                                <li>インカ帝国のDiscordに参加します  URL:<a herf="https://discord.gg/nem8eNuu">https://discord.gg/nem8eNuu</a></li>
                                <li><code onclick="copyCode('#雑談チャンネル')">#雑談チャンネル</code>にて<code onclick="copyCode('@大臣 インカ帝国に入りたいです')">@大臣 インカ帝国に入りたいです</code>とチャットで話してください。</li>
                                <li>しばらくすると大臣より案内が来ますので指示に従ってください。</li>
                            </ol>
                            <li>Discordを使えない場合</li>
                            <ol>
                                <li>当サイトの<a onclick="notfound()">所属申請</a>のページを開いてください</li>
                                <li>フォームが表示されるので、各欄を埋めてください。</li>
                                <li>「回答を送る」ボタンを押して、回答を送信してください。</li>
                                <li>EarthMCログイン時に<a href="#major_players">大臣</a>がログインしている場合、案内が来ますので指示に従ってください。</li>
                            </ol>
                        </ul>
                    </ul>
                    <p>※<code onclick="copyCode('このような見た目の文字')">このような見た目の文字</code>はクリック・タップすることでコピーをすることができます。</p>
                    
                    <h2>各種リンク</h2>

                </section>
            </article>
        </main>


        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="footer-right">
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png"></a>
                    <p>created by <a id="author">KANATA2000</a></p>
                </div>

                <div class="clear"></div>
            </div>
        </footer>
    </body>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jquery -->
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->

    <script src="{% static 'js/playerpopup.js' %}"></script>

    <script>
        window.onload = function() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "5000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            // toasterの表示
            "{% if not ableAPI %}"
            toastr.warning("EarthMCのデータが読み込まれなかった為、一部情報が存在しないか不正確です。")
            "{% endif %}"
        };
    </script>

    <script>
        function notfound(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "3000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            toastr.info("このページはまだ存在しません!")
        };
    </script>

    <script>
        // 複数画像をフェードインフェードアウトで切替
        $(document).ready(function(){
        $('.clImg img:gt(0)').hide();
        var cli = 1;
        var clTitle = "{{ clTitle|safe }}".replace(/\'/g, "").slice(1, -1).split("\, ");
        var clPlayers = "{{ clPlayers|safe }}".replace(/\'/g, "").slice(1, -1).split("\, ");
        var clLen = clPlayers.length;
        setInterval(function() {
            $('.clImg :first-child').fadeOut().next('img').fadeIn().end().appendTo('.clImg');
            document.getElementById('photo_title').innerHTML = "<i class='fas fa-image'></i> " + clTitle[cli % clLen];
            document.getElementById('photo_player').innerHTML = "<i class='fas fa-user'></i> " + clPlayers[cli % clLen];
            document.getElementById('photo_progress').innerHTML = String((cli % clLen) + 1) + "枚目 / " + String(clLen) + "枚";
            cli += 1;
        },5000);
    });
    </script>

    <script>
        function copyCode(text) {
            if(navigator.clipboard) {
                navigator.clipboard.writeText(text).then(function() {
            });}
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "3000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            toastr.success("\"" + text + "\"" + "をコピーしました!")
        }
    </script>

</html>