<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="インカ帝国へようこそ">
        <meta name="og:image" content="{% static 'image/flag.png' %}">
        <meta name="og:description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta name="og:url" content="https://izuminapp.pythonanywhere.com/inca">
        <meta name="description" content="EarthMCの南アメリカ大陸にある国、インカ帝国の紹介サイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>インカ帝国 - トップ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/top.css'%}">
        <link rel="shortcut icon" href="{% static 'image/flag.ico' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="{% url 'inca' %}"><img class="logo" src="{% static 'image/flag.png' %}" alt="MINEAD"></a>
                </div>
                <div class="header-right">
                    <a onclick="notfound()">トップ</a>
                    <a onclick="notfound()">Wiki</a>
                    <a onclick="notfound()">統計情報</a>
                    <a onclick="notfound()">国民申請</a>
                </div>
                <div class="clear"></div>
            </div>
          
            <div class="header-margin"></div>

            <div class="clImg">
                <img src="{% static 'image/top2.jpg' %}">
                <img src="{% static 'image/top1.jpg' %}">
                <h1 class="top-title">画像は仮のものです</h1>
            </div>


        </div>
    </body>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <p>このサイトをシェアする</p>
                <!-- <div class="twitter"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 73px; height: 20px;" title="Twitter Tweet Button" src="./MINEAD HUB-2_files/tweet_button.a58e82e150afc25eb5372dd55a98b778.en.html" data-url="https://minead.html.xdomain.jp"></iframe><script async="" src="./MINEAD HUB-2_files/widgets.js.ダウンロード" charset="utf-8"></script></div> -->
            </div>
            <div class="footer-right">
                <img src="{% static 'image/mit.png' %}" alt="著作権はMITライセンスに属します。">
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</html>