<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="EMC tour | {{ tour.nation.name }}">
        <meta name="og:image" content="{% static 'image/flag.png' %}">
        <meta name="og:description" content="EarthMCの国に関する情報を掲載しているサイトです。">
        <meta name="og:url" content="https://izuminapp.pythonanywhere.com/inca">
        <meta name="description" content="EarthMCの国に関する情報を掲載しているサイトです。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>EMC tour | {{ tour.nation.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nation.css'%}">
        <link rel="shortcut icon" href="{% static 'image/emctour.ico' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
    </head>


    <body>
        <header>
            <div class="header-left">
                <a href="{% url 'emctour' %}"><img name="thumbnail" class="logo" src="{% static 'image/emctourlogo.png' %}" alt="EMC tourのロゴ"></a>
            </div>

            <div class="header-right">
                <nav>
                    <a href="{% url 'emctour' %}">トップ</a>
                    <a href="{% url 'modarticle' 'new' %}">作成・編集</a>
                    <a href="{% url 'nationlist' 'moddate' %}">国一覧</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>

        <main>
            <article>
                <section class="nation_info">
                    <div class="topmargin"></div>
                    <h1>{{ tour.nation.name }}</h1>
                    <div class="underline"></div>
                    <h2>概要</h2>
                    <p>{{ tour.info }}</p>
                    <br />
                    <a class="edit-article" href="{% url 'modarticle' tour.nation.name %}"><i class="fas fa-pencil-alt"></i>記事を編集する</a>

                    <h2>基本情報</h2>
                    {% if not ableAPI %}
                        <p class="info_warning">この情報は最新ではありません。</p>
                    {% endif %}
                    <div class="container">
                        <div class="info_item">
                            <p class="info_title">人口</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ tour.nation.population }} 人</p>
                            <i class="fas fa-user-friends"></i>
                        </div>

                        <div class="info_item">
                            <p class="info_title">国王</p>
                            <div class="info_underline"></div>
                            {% if not ableAPI %}
                                <p class="info_data">{{ king.name }}</p>
                            {% elif primary.online %}
                                <p class="info_data isonline">{{ king.name }}</p>
                            {% else %}
                                <p class="info_data isoffline">{{ king.name }}</p>
                            {% endif %}
                            {% if king.uuid %}
                                <img class="skin" src="https://crafatar.com/renders/head/{{ king.uuid }}">
                            {% else %}
                                <img class="unknown_skin" src="{% static 'image/unknown_skin.png' %}">
                            {% endif %}
                            <label for="trigger" class="open_btn" onclick="playerpopup('{{ king.uuid }}', '{{ king.name }}', '{{ ableAPI }}', '{{ king.online }}', '{{ king.info }}')">詳しく見る</label>
                            <div class="popup_wrap">
                                <input id="trigger" type="checkbox">
                                <div class="popup_overlay">
                                    <label for="trigger" class="popup_trigger"></label>
                                    <div class="popup_content">
                                        <label for="trigger" class="close_btn">x</label>
                                        <p id="popup_name"></p>                                      
                                        <img id="popup_skin">
                                        <hr id="popup_hr">
                                        <p id="popup_info"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="info_item">
                            <p class="info_title">首都</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ tour.nation.capital }}</p>
                            <i class="fas fa-building"></i>
                            <a href="#dynmap">DynMapで見る</a>
                        </div>

                        <div class="info_item">
                            <p class="info_title">面積</p>
                            <div class="info_underline"></div>
                            <p class="info_data">{{ tour.nation.area }} チャンク</p>
                            <i class="fas fa-cubes"></i>
                            <a onclick="whatIsChank()" class="whatIsChank">チャンクとは</a>
                        </div>

                        <div class="info_item">
                            <p class="info_title">テレポート</p>
                            <div class="info_underline"></div>
                            <p class="info_data"><code onclick="copyTeleport()">{{ teleport }}</code></p>
                            <i class="fas fa-share"></i>
                            <p class="info_memo"><code onclick="copyTeleport()">コマンド</code>をクリックでコピー</p>
                        </div>
                    </div>
                    <p>ユーザー名が<span class="isonline">赤色</span>ならオンライン、<span class="isoffline">青色</span>ならオフライン、黒色ならオンライン情報の未取得を示しています。</p>

                    <h2>マップ</h2>
                    <iframe id="dynmap" src="https://earthmc.net/map/nova/?worldname=earth&mapname=flat&zoom={{ mapzoom }}&x={{ tour.nation.x }}&y=64&z={{ tour.nation.z }}"></iframe>

                    <h2>画像</h2>

                </section>
            </article>

            <footer>
                <div class="footer-container">
                    <div class="footer-left">
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
    
                    <div class="footer-right">
                        <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png"></a>
                        <p>created by KANATA2000</p>
                        <!-- <a id="author" onclick="notfound()">KANATA2000</a> -->
                    </div>
    
                    <div class="clear"></div>
                </div>
            </footer>
        </main>
    </body>

    <script src="{% static 'js/playerpopup.js' %}"></script>        <!-- プレイヤーポップアップ -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jquery -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> <!-- toastr -->

    <script>
        window.onload = function() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "20000",
                "extendedTimeOut": "20000",
                "showEasing": "swing",
                "hideEasing": "linear",
            };

            // toastrのerror表示
            "{% if error %}"
                toastr.warning("{{ error }}");
            "{% endif %}"

            // toastrのinfo表示
            "{% if infomation %}"
                toastr.info("{{ infomation }}");
            "{% endif %}"
        };
    </script>

    <script>
        function whatIsChank() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "20000",
                "extendedTimeOut": "20000",
                "showEasing": "swing",
                "hideEasing": "linear",
            };

            toastr.info("チャンクとはMinecraftで使われる広さの単位で、1チャンクは16ブロック×16ブロックです。");
            toastr.info("1ブロックは1メートルなので、{{ tour.nation.name }}の国土面積は{{ km2 }}km²になります。")
        }

        //コピーtoastr
        function copyTeleport() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "timeOut": "3000",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
            }

            if (Boolean(navigator.clipboard)) {
                text = "/n spawn {{ tour.nation.name }}"
                navigator.clipboard.writeText(text);
                toastr.success(text + " をコピーしました！")
            } else {
                toastr.warning("この機能はセキュリティの関係上、HTTPS環境上でしか動作しません。")
            }
        }

    </script>
</html>