#ai-section {
    text-align: center;
}

.lyric {
    display: inline-block;
    margin: 2em;
}

.notice-wrapper {
    display: inline-flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.notice-wrapper a {
    color: #fff;
}

#janome-notice-close {
    cursor: pointer;
    align-self: flex-end;
}
