#aiForm {
    margin-left: calc(32vw - 160px);
}

@media (max-width: 720px) {
    #aiForm {
        margin-left: 0;
    }
}

.genetype {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

.devInput {
    display: inline-block;
    cursor: pointer;
}

.devInput label {
    cursor: pointer;
}

#songsec {
    display: none;
}

#similarsec {
    display: none;
}

#similar {
    box-shadow: none;
}

#similarlabel {
    position:relative;
    bottom: 20px;
}

#similarvalue {
    display: inline-block;
    position:relative;
    bottom: 20px;
}

.formmargin {
    margin-left: calc(32vw - 160px);
}

@media (max-width: 720px) {
    .formmargin {
        margin-left: 0;
    }
}

.formmargin p, .formmargin li {
    line-height: 40px;
}

.lyricdiv {
    text-align: center;
}

.lyric {
    display: inline-block;
    margin: 30px;
}

@media (max-width: 960px) {
    .lyric {
        display: block;
        margin: 50px 0 0 0;
    }
}

.score {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

.devInput {
    display: inline-block;
    cursor: pointer;
}

.devInput label {
    cursor: pointer;
}