.songlyrics1, .songlyrics2 {
    font-size: 25px;
    margin-bottom: 4px;
}

.songlyrics2 {
    display: inline-block;
    margin-top: 8px;
}

.songlyricsnotfound {
    display: block;
    margin-bottom: 40px;
}

#songnotfound {
    margin: 25px;
    text-align: center;
}

#tonew {
    margin: 0 auto 15px auto;
}