:root {
	--imiN-header-height: 30px;
}

@font-face {
    font-family: "Imitate";
    src: url("../GenZenGothicKaiC.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../NotoSansJP-VariableFont_wght.woff2") format("woff2");
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: #000;
    font-family: 'Imitate', 'Noto Sans JP', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}


/* ヘッダー */
header {
    z-index: 9999;
    height: auto;
    width: 100%;
    background-color: #000;
    border-bottom: solid 4px #fff;
    position: sticky;
    overflow: hidden;
    top: calc(-1 * var(--imiN-header-height));
}

.imiN_header {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: #fff;
}

.imiN_header.hide {
	display: none!important;
}

.imiN_loading {
	font-size: 1.12em;
	color: #444;
	margin-left: 10px;
}

.imiN_headerOverwrite {
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    text-align: center;
    background-color: #FFF !important;
    color: #000 !important;
}

.imiN_news p {
    color: #000;
    font-size: 20px;
}

.subekashi_header {
	position: sticky;
	top: 0;
}

.header-left {
    margin-left: 8px;
    float: left;
}

.logo {
    display: inline-block;
    height: 45px;
    margin-top: 10px;
    border-radius:50%;
}

.logomoji {
    display: inline-block;
    vertical-align: top; 
    margin-top: 18px;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
}

.header-right {
    margin: 8px 8px 0 0;
    float: right;
}

.header-right nav a {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    margin-right: 8px;
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
    transition: color 0.5s;
    vertical-align: top;
}

.header-right nav a i {
    font-size: 48px;
}

.header-right nav a:hover {
    text-decoration: underline #ddd;
    text-underline-offset: 3px;
    transition: color 0.5s;
}

@media (max-width: 420px) {
    .logo {
        display: none;
    }

    .header-left {
        margin-left: 10px;
    }
}

.clear {
    clear: both;
}


/* 基礎 */
main {
    margin-top: 40px;
}

#mainarticle {
    margin: 30px auto 0 auto;
    max-width: 800px;
}

@media (max-width: 860px) {
    #mainarticle {
        margin: 30px 30px 0 30px;
    }
}

h1 {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: lighter;
    margin: 60px 0 5px 0;
}

h2 {
    font-size: 37.5px;
    line-height: 32px;
    color: #FFF;
    margin-top: 10px;
    font-weight: lighter;
}

p, li, a, i, td, label, details {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

a {
    text-decoration: underline 2px #fff;
    text-underline-offset: 0.3ex;
}

.sansfont {
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 1000 !important;
}

.ok {
    color: #090;
}

.warning {
    color: #990;
}

.error {
    color: #B60;
}

.underline {
    text-align: center;
    height: 8px;
    width: 150px;
    margin: 0 auto 25px auto;
    background-color: #fff;
}

@media (max-width: 640px) {
    .underline {
        margin-bottom: 15px;
    }
}

details {
    cursor: pointer;
}

summary {
    margin-bottom: 20px;
}


/* メニュー */
#menuarticle {
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#menuarticle.shown {
    display: flex !important;
    margin-top: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #000, #000, 70vh, #005);
}

#menuarticle ul {
    list-style: none;
    margin-bottom: 90px;
}

#menuarticle ul li a {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    padding: 2vh 0;
    font-size: 30px !important;
    line-height: 60px !important;
    text-decoration: underline;
}

@media(min-height: 426px) and (max-height: 524px) {
	#menuarticle h2 {
		display: none;
	}
	#menuarticle ul li a {
		margin-bottom: -5px;
	}
}

@media(max-height: 425px) {
	#menuarticle li {
		margin-bottom: -15px;
	}
}


/* フォーム */
.form-col {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.form-col label {
    width: 8em;
}

input, select, option, textarea {
    height: 50px;
    width: 100%;
    padding: 0.2em;
    font-size: 25px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    font-family: 'Imitate', 'Noto Sans JP', sans-serif;
    align-items: center;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff inset;
}

.checkbox-col {
    display: inline-block;
}

input[type=checkbox] {
    display: inline-block;
    box-shadow: none;
    height: 25px;
    width: 25px;
    margin: -5px 0 0 20px;
    vertical-align: middle;
    cursor: pointer;
}

textarea {
    height: 100px;
    padding: 10px;
}

@media (max-width: 640px) {
    .form-col {
        display: block;
    }
    
    .form-col label {
        width: fit-content;
        display: block;
        margin: 0 auto;
    }

    .checkbox-col {
        display: block;
    }
}

input[type=submit], button {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
    font-family: 'Imitate', 'Noto Sans JP', sans-serif;
}

.dummybuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .dummybuttons {
        display: block;
    }
}

.dummybuttons a {
    text-decoration: none;
}

.dummybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 50px;
    width: 100px;
    padding: 0 40px;
    margin: 20px 10px;
    cursor: pointer;
}

@media (max-width: 450px) {
    .dummybutton {
        margin: 20px auto;
    }
}

.dummybutton p {
    color: #000;
    text-align: center;
    white-space: nowrap;
    padding-top: 5px;
}

input[type=submit]:hover, button:hover, .dummybutton:hover {
    background-color: #ccc;
}

input[type=submit]:active, button:active, .dummybutton:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

input[type=submit]:disabled, button:disabled, .dummybutton:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}


/* ソングカード */
.song-card {
    display: block;
    height: 80px;
    width: 100%;
    margin: 20px 0;
    background-color: #333;
    text-decoration: none;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
}

.song-card:hover {
    background-color: #555;
}

.song-card table {
    width: 100%;
    padding: 5px;
}

.song-card td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.song-card i {
    margin-right: 5px;
}

.song-card img {
    height: 20px;
}

.fa-eye-slash {
    cursor: not-allowed;
    color: #888;
}

.song-card-col1 {
    display: block;
    width: fit-content;
    max-width: 14em;
}

.song-card-urls {
    text-align: right;
}

.song-card-lyrics {
    text-align: right;
    max-width: 18vw;
}

@media (max-width: 480px) {
    .song-card-col1 {
        width: 8em;
    }

    .song-card-like {
        display: none;
    }

    .song-card-view {
        width: 8em;
        text-align: right;
    }

    .song-card-lyrics {
        display: none;
    }
}


/* ソングゲッサー */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.song-guesser {
    width: calc(100% - 10px);
    margin: 5px 0;
    padding: 5px;
    background-color: #555;
    cursor: pointer;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.channel {
    color: #ccc;
}

.song-guesser:hover {
    background-color: #777;
}


/* cookieの同意 */
#agreement {
    display: none;
    position: fixed;
    width: 400px;
    height: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
}

#agreement p {
    color: #FFF;
    margin: 10px 0;
    text-align: center;
}

#agreement button {
    display: block;
    margin: 0 auto;
}


/* フッダー */
#footer-wrapper {
    padding-top: 100px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #2f3a44;
}

.footer-container {
    height: 32px;
}

.footer-left {
    position: relative;
    float: left;
    top: 6px;
    left: 6px;
}

.footer-left p {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 3px 0 0 8px;
}

.footer-left i {
    margin: 0 5px;
    font-size: 15px;
}

.footer-right {
    position: relative;
    float: right;
    top: 5px;
    right: 8px;
}

.footer-right a {
    font-size: 15px;
    line-height: 15px;
    display: inline;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 450px) {
    .footer-container {
        height: 54px;
    }

    .footer-left, .footer-right {
        position: static;
        float: none;
    }
    
    .footer-left p, .footer-right a {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}