* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}


/* ヘッダー */
header {
    z-index: 9999;
    height: 64px;
    width: 100%;
    background-color: #000;
    border-bottom: solid 4px #fff;
    position: fixed;        /* 最上部に固定 */
    top: 0px        /*0pxに*/
}

.header-left {
    margin-left: 8px;
    float: left;
}

.logo {
    display: inline-block;
    height: 45px;
    margin-top: 10px;
    border-radius:50%;
}

.logomoji {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    vertical-align: top; 
    margin-top: 18px;
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
}

.header-right {
    margin: 8px 8px 0 0;
    float: right;
}

.header-right nav a {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-right: 8px;
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
    transition: color 0.5s;
    vertical-align: top;
}

.header-right nav a i {
    font-size: 48px;
}

.header-right nav a:hover {
    text-decoration: underline #ddd;
    text-underline-offset: 3px;
    transition: color 0.5s;
}

@media (max-width: 420px) {
    .logo {
        display: none;
    }

    .header-left {
        margin-left: 0;
    }
}

.clear {
    clear: both;
}


/* 基礎 */
main {
    margin-top: 64px;
}

#mainarticle {
    margin: 100px 30px 0 30px;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFF;
    font-size: 40px;
    line-height: 50px;
    margin: 75px 0 10px 0;
}

@media (max-width: 480px) {
    h1 {
        font-size: 9vw;
    }
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    line-height: 50px;
    color: #FFF;
    margin: 40px 20px 20px 20px;
}

p, li {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
}

a {
    color: #fff;
    text-decoration: underline 2px #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin: 0 5px;
}

.kanjipa {
    font-size: 27px;
}

.kanjih {
    font-size: 50px;
    line-height: 50px;
}

.underline {
    text-align: center;
    height: 8px;
    width: 150px;
    margin: 0 auto 25px auto;
    background-color: #fff;
}

@media (max-width: 640px) {
    .underline {
        margin-bottom: 15px;
    }
}


/* メニュー */
#menuarticle {
    display: none;
    margin-top: 64px;
    height: calc(100vh - 96px);
}

#pages p {
    margin-left: 32px;
    padding: 10vh 0 0 calc(50% - 550px);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 45px !important;
    line-height: 75px !important;
}

#pages a {
    margin-left: 32px;
    padding-left: calc(50% - 500px);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px !important;
    line-height: 60px !important;
    text-decoration: underline;
}

.googleblue {
    color: #4285F4;
}

.googlered {
    color: #DB4437;
}

.googleyellow {
    color: #F4B400;
}

.googlegreen {
    color: #0F9D58;
}



/* フォーム */
input, select, option, textarea {
    font-family: 'Noto Sans JP', sans-serif;
    height: 50px;
    width: calc(50vw - 100px);
    margin-top: 20px;
    padding: 0 10px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}

@media (max-width: 720px) {
    input, select, option, textarea {
        width: calc(65vw - 50px);
    }
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff inset;
}

input:focus::placeholder {
    color: transparent;
}

label {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin-right: 20px;
}

textarea {
    height: 100px;
    width: 80vw;
    padding: 10px;
}

#submit, button, .dummybutton {
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 0px;
    height: 49.5px;
    width: 100px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

.dummybuttons {
    display: flex;
    justify-content: center;
}

.dummybuttonf {
    margin: 0 20px !important;
}

.dummybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 0 50px;
    margin: auto 0;
}

.dummybuttonp {
    color: #000;
    text-align: center;
    white-space: nowrap;
    padding-top: 5px;
}

#submit:hover, button:hover, .dummybutton:hover {
    background-color: #ccc;
}

#submit:active, button:active, .dummybutton:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#submit:disabled, button:disabled, .dummybutton:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}


/* フッダー */
.bottomelement {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: #2f3a44;
}

.footer-container {
    height: 32px;
}

.footer-left {
    position: relative;
    float: left;
    top: 6px;
    left: 6px;
    height: 24px;   
}

.footer-left p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 0 8px;
}

.footer-right p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    line-height: 12px;
    float: right;
    display: inline;
    margin: 9px 8px 0 0;
    color: #fff;
}


/* toastr */
.toast-close-button {
    margin: 0px !important;
}