@font-face {
    font-family: "Imitate";
    src: url("../GenZenGothicKaiC.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../NotoSansJP-VariableFont_wght.woff2") format("woff2");
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: #000;
    font-family: 'Imitate', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, Meiryo;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}


/* ヘッダー */
header {
    z-index: 9999;
    height: auto;
    width: 100%;
    background-color: #000;
    border-bottom: solid 4px #fff;
}

#global-header-wrapper {
	display: flex;
	align-items: center;
    justify-content: center;
	position: relative;
	width: 100%;
    height: 30px;
	background-color: #fff;
}

#global-header-wrapper a, #global-header-wrapper p {
    color: #000;
    margin: 0 10px;
    font-size: 16px;
}

#global-header-wrapper a:hover, #global-header-wrapper p:hover {
    text-decoration: underline;
}

#global-message {
    position: absolute;
    width: 100%;
    height: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
    z-index: 0;
}

#global-header-wrapper:hover + #global-message {
    height: 65px;
    opacity: 1;
    z-index: 99;
}

#global-message p {
    position: relative;
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 16px;
}

#global-news {
    margin: 5px 0;
}

.global-notice {
    font-size: 12px !important;
}

#subekashi-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    height: 60px;
}

#subekashi-header img {
    display: inline-block;
    height: 45px;
    margin: 10px 10px 5px 0;
    border-radius:50%;
}

#subekashi-header a {
    display: inline-block;
    vertical-align: top; 
    font-size: 32px;
    color: #FFF;
    text-decoration: none;
}

/* サイドバー */
aside {
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 32px;
    width: 1.2em;
    overflow-x: hidden;
    background-color: #000000aa;
    z-index: 99;
}

aside:hover {
    width: 9em
}

aside a {
    display: block;
    white-space: nowrap;
    margin-top: 5px;
}

aside a:hover {
    background-color: #ffffff33;
}

aside i {
    width: 1em;
    margin: 0.5em;
}

aside p {
    display: inline-block;
}

aside a:hover aside p {
    text-decoration: underline 2px #fff;
}


/* SP向けメニュー */
#sp_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 50vh;
    width: 100vw;
    bottom: 0;
    padding-bottom: 60px;
    background-color: #000000aa;
    overflow-y: scroll;
    z-index: 999;
}

#sp_menu a {
    margin-top: 5px;
    text-align: center;
}

#sp_menu i {
    display: inline-block;
    margin: 1vh;
    font-size: 24px;
}

#sp_menu p {
    display: inline-block;
}

#sp_menu_hor {
    display: block;
    width: 90%;
    height: 2px;
    margin: 10px auto;
    background-color: #ffffff66;
}

#tab_bar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 0 auto;
    height: 50px;
    width: 100vw;
    background-color: #000;
    z-index: 999;
}

#tab_bar i {
    font-size: 30px;
    margin: 0 5vw;
}

/* 基礎 */
main {
    margin-top: 40px;
}

#mainarticle {
    margin: 30px auto 0 auto;
    max-width: 800px;
}

@media (max-width: 860px) {
    #mainarticle {
        margin: 30px 30px 0 30px;
    }
}

h1 {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: lighter;
    margin: 60px 0 5px 0;
}

h2 {
    font-size: 37.5px;
    line-height: 32px;
    color: #FFF;
    margin-top: 10px;
    font-weight: lighter;
}

p, li, a, i, td, label, details {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

a {
    text-decoration: underline 2px #fff;
    text-underline-offset: 0.3ex;
}

.sansfont {
    font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',  sans-serif !important;
    font-weight: 1000 !important;
}

.ok {
    color: #090;
}

.warning {
    color: #990;
}

.error {
    color: #B60;
}

.underline {
    text-align: center;
    height: 8px;
    width: 150px;
    margin: 0 auto 25px auto;
    background-color: #fff;
}

@media (max-width: 640px) {
    .underline {
        margin-bottom: 15px;
    }
}

details {
    cursor: pointer;
}

summary {
    margin-bottom: 20px;
}

#loading {
    display: block;
    width: 120px;
    margin: 0 auto;
}


/* フォーム */
.form-col {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.form-col label {
    width: 8em;
}

input, select, option, textarea {
    height: 50px;
    width: 100%;
    padding: 0.2em;
    font-size: 25px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    font-family: 'Imitate', 'Noto Sans JP',  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, Meiryo;
    align-items: center;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff inset;
}

.checkbox-col {
    display: inline-block;
}

input[type=checkbox] {
    display: inline-block;
    box-shadow: none;
    height: 25px;
    width: 25px;
    margin: -5px 0 0 20px;
    vertical-align: middle;
    cursor: pointer;
}

textarea {
    height: 100px;
    padding: 10px;
}

@media (max-width: 640px) {
    .form-col {
        display: block;
    }
    
    .form-col label {
        width: fit-content;
        display: block;
        margin: 0 auto;
    }

    .checkbox-col {
        display: block;
    }
}

input[type=submit], button {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
    font-family: 'Imitate', 'Noto Sans JP',  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, Meiryo;
}

.dummybuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .dummybuttons {
        display: block;
    }
}

.dummybuttons a {
    text-decoration: none;
}

.dummybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 50px;
    width: 100px;
    padding: 0 40px;
    margin: 20px 10px;
    cursor: pointer;
}

@media (max-width: 450px) {
    .dummybutton {
        margin: 20px auto;
    }
}

.dummybutton p {
    color: #000;
    text-align: center;
    white-space: nowrap;
    padding-top: 5px;
}

input[type=submit]:hover, button:hover, .dummybutton:hover {
    background-color: #ccc;
}

input[type=submit]:active, button:active, .dummybutton:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

input[type=submit]:disabled, button:disabled, .dummybutton:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}


/* カテゴリボタン */
#imitate-div {
    margin: 5px 0 20px 0;
    padding: 10px;
    background-color: #333;
}

#imitate-div #imitate-sub {
    margin-top: 20px;
}

#categorys button {
    display: inline-block;
    margin: 5px 0 !important;
    padding: 10px;
    height: 49.5px;
    width: fit-content;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
}

#categorys button:hover {
    background-color: #ccc;
}

#categorys button:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#categorys span {
    font-size: 17px;
}

/* フッダー */
#footer-wrapper {
    padding-top: 100px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #2f3a44;
}

.footer-container {
    height: 32px;
}

.footer-left {
    position: relative;
    float: left;
    top: 6px;
    left: 6px;
}

.footer-left p {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 3px 0 0 8px;
}

.footer-left i {
    margin: 0 5px;
    font-size: 15px;
}

.footer-right {
    position: relative;
    float: right;
    top: 5px;
    right: 8px;
}

.footer-right a {
    font-size: 15px;
    line-height: 15px;
    display: inline;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 450px) {
    .footer-container {
        height: 54px;
    }

    .footer-left, .footer-right {
        position: static;
        float: none;
    }
    
    .footer-left p, .footer-right a {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}