#contact-form p {
    text-align: center;
}

.contact {
    background-color: #222;
    margin-bottom: 15px;
    padding: 10px;
}

.detail, .answer {
    background-color: #444;
    padding: 10px;
}

.contact i {
    display: block;
    margin: 10px 0;
    font-size: 32px;
    text-align: center;
}

.meta {
    text-align: center;
    font-size: 16px;
}