#backup {
    padding-left: 0px;
    height: 49.5px;
    width: 300px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

#backup:hover {
    background-color: #ccc;
}

#backup:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#backup:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}

#reset {
    padding-left: 0px;
    height: 49.5px;
    width: 300px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

#reset:hover {
    background-color: #ccc;
}

#reset:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#reset:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}

#confirm {
    box-shadow: none;
    height: 15px;
    width: 15px;
    margin-right: 25px;
}