.maintenance-content {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.maintenance-content p {
    margin-bottom: 30px;
    font-size: 26px;
}

.action-buttons {
    margin: 50px 0 0 0;
}

.action-button span {
    color: #000;
    margin-bottom: 0;
    font-size: 22px;
    padding-bottom: 5px;
}

.maintenance-content .action-button i {
    color: #000;
    margin-right: 5px;
}
