details {
    text-align: center;
}

details p {
    margin: 15px 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    #isExist {
        margin: 10px 0 20px 0;
        text-align: center;
    }

    #fillFormButton {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media (max-width: 640px) {
    #imitate-label {
        display: block;
        text-align: center;
    }
}