details {
    margin-top: 50px;
}

details h2 {
    margin: 20px 0 10px 0;
}

details ul li {
    margin: 0 0 10px 25px;
}

details ul ul {
    margin-left: 40px;
}

.detailP {
    font-size: 15px;
}

#newform {
    margin: 20px 0;
}

#isExist {
    margin: 20px 0;
}

#fillFormButton {
    display: none;
    width: 100%;
}

@media (max-width: 640px) {
    #isExist {
        margin: 10px 0 20px 0;
        text-align: center;
    }

    #fillFormButton {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media (max-width: 640px) {
    #imitate-label {
        display: block;
        text-align: center;
    }
}

#imitate-search {
    margin: 5px 0 10px 0;
    padding: 0;
    width: 100%;
}

#imitatelists {
    margin: 10px 0 0 10px;
}

.imitatelist {
    display: inline-block;
    background-color: #666;
    padding: 10px;
}

.deleteSong {
    margin-left: 15px;
    color: #aaa;
    cursor: pointer;
}

#checkboxs {
    margin: 20px 0 20px -20px;
}