#loading {
    margin-bottom: 120px;
}

details {
    margin-top: 50px;
}

details h2 {
    margin: 20px 0 10px 0;
}

details ul li {
    margin: 0 0 10px 25px;
}

details ul ul {
    margin-left: 40px;
}

.detailP {
    font-size: 15px;
}

#newform, #deleteform {
    margin: 20px 0;
}

#isExist {
    margin: 20px 0;
}

#fillFormButton {
    display: none;
    width: 250px;
    margin-left: 71px !important;
}

#imitate {
    margin: 5px 0 30px 0 ;
    padding: 10px;
    background-color: #333;
}


@media (max-width: 640px) {
    #imitate-label {
        display: block;
        text-align: center;
    }
}

.imitateP {
    margin-top: 15px;
}

#categorys button {
    display: inline-block;
    margin: 10px 0 !important;
    padding: 10px;
    height: 49.5px;
    width: fit-content;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
}

#categorys button:hover {
    background-color: #ccc;
}

#categorys button:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#imitatelists {
    margin: 10px 0 0 10px;
}

.imitatelist {
    display: inline-block;
    background-color: #666;
    padding: 10px;
}

.deleteSong {
    margin-left: 15px;
    color: #aaa;
    cursor: pointer;
}

.deleteSong a {
    color: #aaa;
}

#newsubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 0 10px;
    margin: 20px 0;
    cursor: pointer;
}

#deletesubmit {
    padding-left: 0px;
    height: 49.5px;
    width: 100%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
}

#deletesubmit:hover {
    background-color: #ccc;
}

#deletesubmit:active {
    border: none;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: #aaa;
}

#deletesubmit:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
}