.lyricdiv {
    text-align: center;
}

.lyric {
    display: inline-block;
    margin: 30px;
}

@media (max-width: 960px) {
    .lyric {
        display: block;
        margin: 50px 0 0 0;
    }
}

.score {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

.devInput {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}

.devInput label {
    cursor: pointer;
}

#controlsection {
    margin-top: 40px;
}

.controlsectioni {
    margin: 10px 10px 10px calc(50vw - 500px);
    border: 0;
    padding: 0;
}

@media (max-width: 960px) {
    .controlsectioni {
        margin-left: 10px 10px 20px 0;
    }
}

#controlForm {
    margin-bottom: 15px;
}

@media (max-width: 450px) {
    #copy {
        width: 100%;
        padding: 0;
    }
}

#copyresult {
    margin-left: 10px;
}

@media (max-width: 450px) {
    #copyresult {
        text-align: center;
        margin-left: 0;
    }
}