.lyricdiv {
    text-align: center;
}

.lyric {
    display: inline-block;
    margin: 30px;
}

@media (max-width: 960px) {
    .lyric {
        display: block;
        margin: 50px 0 0 0;
    }
}

.score {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

.devInput {
    display: inline-block;
    cursor: pointer;
}

.devInput label {
    cursor: pointer;
}

#controlsection {
    margin-top: 40px;
}

.controlsectioni {
    margin: 10px 10px 10px calc(50vw - 500px);
    border: 0;
    padding: 0;
}

@media (max-width: 960px) {
    .controlsectioni {
        margin-left: 10px 10px 20px 0;
    }
}

#controlForm {
    margin-bottom: 15px;
}

#copysubmit {
    display: flex;
    justify-content: center;
}

#copy {
    width: 200px;
    margin-right: 40px;
}

#submit {
    width: 200px;
    margin-left: 10px;
    padding-bottom: 0px;
}