.ai-ins {
    text-align: center;
}

.lyric {
    display: inline-block;
    margin: 30px 0;
    width: 15em;
}

@media (max-width: 960px) {
    .lyric {
        display: block;
        margin: 50px auto 10px auto;
    }
}

.evaluation {
    display: inline-block;
}

.evaluation label {
    margin-right: 15px;
    cursor: pointer;
}

.score {
    box-shadow: none;
    height: 15px;
    width: 15px;
}

#resut-form {
    margin-top: 40px;
}

@media (max-width: 450px) {
    #copy {
        width: 100%;
        padding: 0;
    }
}

#copy-message {
    margin-left: 10px;
}

@media (max-width: 450px) {
    #copy-message {
        text-align: center;
        margin-left: 0;
    }
}