#under-sumary {
    margin-top: 15px;
}

#imitate-div {
    background-color: #555;
}

#imitate-div p {
    margin-bottom: 0;
}

.dummybuttons {
    margin: 20px 0;
}

#search-button {
    margin-bottom: 20px;
    width: 100%;
}

#counter {
    text-align: center;
}

#song-cards {
    min-height: 50vh;
}