@media (min-width: 640px) {
    .form-col label {
        width: 9em !important;
    }
}

input[type=checkbox] {
    margin-left: 0;
}

.checkbox-col label {
    margin-right: 20px;
}

.dummybuttons {
    margin: 20px 0;
}

#search-button {
    margin-bottom: 20px;
    width: 100%;
}

#song-cards {
    min-height: 50vh;
}