#h1-title {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

#imitate-label {
    display: block;
    text-align: center;
}

#imitate-list {
    margin-top: 30px;
}

#imitate-list div {
    margin: 5px 0;
}

.song-edit-info {
    text-align: center;
    min-height: 32px;
    margin-bottom: 20px
}

#song-edit-info-submit li {
    color: #09F;
}

ul {
    list-style-position: inside;
}