section p, section a {
    margin: 20px;
}

.fa-music, .fa-user-circle, .fa-link {
    margin-right: 10px;
}

#songchannel ,#songurl, #songurlnotfound, #songlyricsnotfound {
    display: block;
    width: fit-content;
}

#songlyrics {
    text-align: center;
    margin-top: 40px;
}


#songimitateslabel, #songimitatedslabel {
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    margin: 0 -15px 0 20px;
}

#imitated {
    margin-top: 15px;
    padding-right: 24px;
}

.songimitate {
    display: inline;
    white-space: nowrap;
    margin: 0 0 0 20px;
}

#songnotfound {
    text-align: center;
}

#tonew {
    margin: 0 auto;
}

.towrong {
    margin: 50px 0 !important;
    width: 200px;
}