/* TODO 共通化 */
.dummybutton {
    background-color: #333;
    min-width: 150px;
}

.dummybutton:hover {
    background-color: #666;
}

.dummybutton i {
    margin-right: 10px;
    font-size: 1.0em;
}

.dummybutton p {
    color: #fff;
    padding-bottom: 5px;
}

details {
    margin: 15px 0;
}

details h1, details h2 {
    margin: 20px 0 40px 0;
    font-size: 36px
}

.history_details table {
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0 auto;
}

.history_details thead {
    background-color: #666;
}

.history_details th, .history_details td {
    border: solid 2px #999;
    padding: 10px;
    font-weight: normal;
}