#sonf-info p, #sonf-info a {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    width: fit-content;
}

i {
    font-size: 22px;
    margin-right: 10px;
}

.fa-tags {
    font-size: 18px;
    margin-bottom: 22px;
}

.url-p {
    display: inline-block;
}

.fa-copy {
    margin-left: 10px;
    cursor: pointer;
}

.songurl, .songchannel, .songimitate {
    display: inline-block;
    overflow-wrap: anywhere;
    margin-right: 15px;
}

#view, #like {
    margin-bottom: 20px;
}

#lyrics, .songnotfound {
    text-align: center;
    line-height: 50px;
}