#search-button {
    margin-bottom: 20px;
    width: 100%;
}

.search-info, .search-count {
    text-align: center;
    line-height: 30px;
}

.search-info {
    font-size: 15px;
}

hr {
    margin: 10px 15%;
}

#song-cards {
    min-height: 50vh;
}
