#isdetail {
    padding: 3px;
}

#under-sumary {
    margin-top: 15px;
}

#imitate-div {
    background-color: #555;
}

#imitate-div p {
    margin: 0;
}

details {
    margin: 0;
    padding: 0;
}

summary {
    list-style: revert;
}

#search-button {
    margin-bottom: 20px;
    width: 100%;
}

.search-info {
    text-align: center;
}

#song-cards {
    min-height: 50vh;
}

#mediatype-wrapper {
    background-color: #555;
    margin-bottom: 5px;
    padding: 5px 0;
}

#mediatype-wrapper img {
    height: 24px;
    margin-right: 5px;
}
