#tags p, #tags a {
    display: inline-block;
    font-size: 22px;
    width: fit-content;
}

i {
    font-size: 22px;
    margin: 0 10px 0 5px;
}

.fa-tags {
    font-size: 18px;
}

.fa-copy {
    margin-left: 10px;
    cursor: pointer;
}

.songurl, .songchannel, .songimitate {
    display: inline-block;
    overflow-wrap: anywhere;
    margin-right: 15px;
}

details {
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
}

details[open] {
    cursor: default;
}

details:hover {
    background-color: #555;
}

details[open]:hover {
    background-color: #333;
}

summary {
    text-align: left;
    list-style: none;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 10px;
}

summary:hover {
    background-color: #555;
}

summary::-webkit-details-marker {
    display: none;
}

details i {
    margin-left: 0;
}

.imitate {
    transform: rotate(180deg);
}

#lyrics {
    text-align: center;
    line-height: 50px;
    margin-top: 75px;
}