#imitate-label {
    display: block;
    text-align: center;
}

.song-edit-info {
    text-align: center;
    margin-bottom: 20px
}

.song-edit-info a {
    color: #990;
    text-decoration: underline 2px #990;
}