.dummybutton {
    margin: 0 auto;
}

.lyrics {
    text-align: center;
    margin: 20px;
}

#subekashi1 {
    display: block;
    margin: 20px auto 0 auto;
}

#imicom {
    display: block;
    margin: 0 auto -50px auto;
    width: 425px;
}

@media (max-width: 640px) {
    #imicom {
        width: 70vw;
    }
}

.youtubelink {
    text-align: center;
    text-decoration: none;
}

.youtubelink h1 {
    margin-top: 100px;
    font-size: 35px;
}

@media (max-width: 640px) {
    .youtubelink h1 {
        font-size: 25px;
    }
}