#news-wrapper {
    margin-top: 20px;
    height: 100px;
}

#news-display {
    background-color: #555;
    width: 100%;
    padding: 5px;
    overflow-y: hidden;
}

#news-display span {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s, transform 1s;
}

#news-display a {
    font-size: 18px;
}

#news-display h1, #news-display h2 {
    margin: 0 10px;
}

#news-display * {
    display: inline-block;
}

h1:nth-child(2) {
    margin-top: 30px;
}

.youtube {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    min-width: 300px;
    margin-bottom: 20px;
    aspect-ratio: 16 / 9;
}

.youtube iframe {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
}

.lyrics {
    text-align: center;
    margin: 20px;
}

#subekashi-links, #other-links {
    padding: 8px;
    text-align: center;
    background-color: #333;
}

#subekashi-links {
    padding-bottom: 4px;
}

#other-links {
    margin-bottom: 20px;
}

#subekashi-links i {
    font-size: 32px;
    margin: 0 15px;
}

#imicom {
    display: block;
    margin: 0 auto 15px auto;
    width: 70vw;
    max-width: 300px;
    height: auto;
}

#subeana {
    text-decoration: none;
    font-size: min(36px, 8.5vw);
}

#credit {
    margin-bottom: 30px;
}

#credit p, #credit a {
    overflow-wrap: break-word;
    font-size: 15px;
}