/* デフォ子誕生日記念*/
#defoko {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: #444;
    margin: 0 auto;
    border: solid 10px #FFF;
}

#defoko p {
    padding: 5px;
}

#defoko img {
    display: block;
    height: 30vh;
    margin: 0 auto;
}


.dummybutton {
    margin: 0 auto;
}

.lyrics {
    text-align: center;
    margin: 20px;
}

#subekashi1 {
    display: block;
    margin: 20px auto 0 auto;
}

#imicom {
    display: block;
    margin: 40px auto -20px auto;
    width: 425px;
}

@media (max-width: 640px) {
    #imicom {
        width: 70vw;
    }
}

#subekashi1 {
    width: 64vw;
    height: 36vw;
}

.subeana {
    text-align: center;
    text-decoration: none;
}

.subeana h1 {
    margin-top: 50px;
    font-size: 44px;
}
@media (max-width: 640px) {
    .subeana h1 {
        font-size: 30px;
    }
}

#feedback {
    display: block;
    width: calc(70vw - 60px);
    margin: 20px auto;
}

#feedbacksend {
    display: block;
    width: 200px;
    margin: 20px auto;
}

.twitter-timeline-wrapper {
    padding: 20px 0;
}

.twitter-timeline {
    display: block;
    width: 60vw;
    height: 100vw;
    margin: 0 auto;
    overflow: scroll;
}

#credit {
    margin-bottom: 30px;
}

#credit p, #credit a {
    font-size: 15px;
}