#news-wrapper {
    margin-top: 20px;
    height: 100px;
}

#news-display {
    background-color: #555;
    width: 100%;
    padding: 5px;
    overflow-y: hidden;
}

#news-display > * {
    display: block;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s, transform 1s;
}

#news-display a {
    font-size: 18px;
}

h1:nth-child(2) {
    margin-top: 30px;
}

.youtube {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    min-width: 300px;
    margin-bottom: 20px;
    aspect-ratio: 16 / 9;
}

.youtube iframe {
    width: 100%;
    height: 100%;
}

.lyrics {
    text-align: center;
    margin: 20px;
}

#subekashi1 {
    display: block;
    margin: 20px auto 0 auto;
}

#imicom {
    display: block;
    margin: 40px auto -20px auto;
    width: 425px;
}

@media (max-width: 640px) {
    #imicom {
        width: 70vw;
    }
}

#subekashi1 {
    width: 64vw;
    height: 36vw;
}

.subeana {
    text-align: center;
    text-decoration: none;
}

.subeana h1 {
    margin-top: 50px;
    font-size: 44px;
}
@media (max-width: 640px) {
    .subeana h1 {
        font-size: 30px;
    }
}

#feedback {
    width: calc(100% - 20px);
}

#feedbacksend {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 0;
}

.twitter-timeline-wrapper {
    padding: 20px 0;
}

.twitter-timeline {
    display: block;
    width: 60vw;
    height: 100vw;
    margin: 0 auto;
    overflow: scroll;
}

#credit {
    margin-bottom: 30px;
}

#credit p, #credit a {
    overflow-wrap: break-word;
    font-size: 15px;
}