<div id="categorys">
    <button type="button" data-category="0">DSC模倣</button>
    <button type="button" data-category="1">.[short]模倣</button>
    <button type="button" data-category="2">..[short]模倣</button>
    <button type="button" data-category="3">◘模倣</button>
    <button type="button" data-category="4">.模倣</button>
    <button type="button" data-category="5">..模倣</button>
    <button type="button" data-category="6">教育模倣</button>
    <button type="button" data-category="7">アブジェ模倣</button>
    <button type="button" data-category="8">...模倣</button>
    <button type="button" data-category="9">表/裏模倣</button>
    <button type="button" data-category="10">名の無い星模倣</button>
    <button type="button" data-category="11">エヌ模倣</button>
    <button type="button" data-category="12">K²模倣</button>
    <button type="button" data-category="13">無題です。模倣</button>
</div>