{% load songcard %}

<a class="songcard" href="{% url 'subekashi:song' song.id %}">
    <table>
        <tr>
            <td class="songcard-col1"><i class="fas fa-music"></i>{{ song.title }}</td>
            <td class="songcard-like"><i class="far fa-thumbs-up"></i>{{ song.like }}</td>
            <td class="songcard-urls">{% get_url song %}</td>
        </tr>
        <tr>
            <td class="songcard-col1">{% get_channel song %}</td>
            <td class="songcard-view"><i class="fas fa-play"></i>{{ song.view }}</td>
            <td class="songcard-lyrics">{% get_lyrics song %}</td>
        </tr>
    </table>
</a>