{% load song_card %}

<a class="song-card" href="{% url 'subekashi:song' song.id %}">
    <table>
        <tr>
            <td class="song-card-col1 sansfont"><i class="fas fa-music"></i>{{ song.title }}</td>
            <td class="song-card-like">{% get_like song %}</td>
            <td class="song-card-urls">{% get_url song %}</td>
        </tr>
        <tr>
            <td class="song-card-col1">{% get_author song %}</td>
            <td class="song-card-view">{% get_view song %}</td>
            <td class="song-card-lyrics">{% get_lyrics song %}</td>
        </tr>
    </table>
</a>