.nation-form {
    display:inline-flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#nation {
    height: 50px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}

#nation:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #BB002D inset;
}

#nation:focus::placeholder {
    color: transparent;
}

.nation-submit {
    height: 49.5px;
    width: 100px;
    border: none;
    font-size: 20px;
}

.nation-submit:active {
    border: none;
    box-shadow: 0 0 0 2px #BB002D inset;
}

.modarticle {
    margin: 0px;
    color: #70e2ff;
    text-decoration: underline 2px #70e2ff;
    text-decoration-line: underline;
    font-weight: bold;
    text-underline-offset:0.2em;
}