.edit-article {
    font-size: 14px;
    margin-left: 30px;
}

.whatIsChank {
    cursor: pointer;
}

.fa-share {
    font-size: 95px !important;
    margin: 10px 0 5px 0 !important;
}

#dynmap {
    display: block;
    height: 65vh;
    width: 65vw;
    margin: 0 auto;
}

#imagefile {
    height: 28.4px;
    width: 360px;
    margin-left: 25px;
    font-size: 15px;
}

@media (max-width: 480px) {
    #imagefile {
        width: 240px;
    }
}

#imagesubmit {
    background-color: #ccc;
    margin: 10px 0 0 24px;
    height: 28.4px;
    font-size: 14px;
    width: 160px;
}

@media (max-width: 360px) {
    #imagesubmit {
        width: 100px;
    }
}

#imagesubmit:hover {
    background-color: #bbb;
}

#imagesubmit:active {
    border: none;
    box-shadow: 0 0 0 2px #BB002D inset;
    background-color: #ddd;
}

.container {
    margin-left: 15px;
}

.imagelist {
    width: 460px;
    margin: 10px;
}

@media (max-width: 992px) {
    .imagelist {
        margin: 10px auto;
        width: 60%;
    }
}