.clImg {
    position: relative;
}

.clImg img {
    position: absolute;
    height: calc(100vh - 64px);
    left: 0;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 850px) {
    .clImg img {
        height: calc(100vh - 64px);
    }
}

.firstview {
    padding-bottom: 95vh;
}

.index_title {
    position: absolute;
    top: 50%;
    right: 30px;
    text-align: right;
    font-family: 'Microsoft Sans Serif';
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #00000077;
}

.photo_info {
    position: absolute;
    bottom: 40px;
    left: 70%;
    width: 25%;
    padding: 2.5px 10px;
    border-radius: 5px;
    color: #bbb;
    background-color: #00000055;
}

#photo_title, #photo_player {
    font-family: 'Microsoft Sans Serif';
    font-size: 15px;
    margin: 5px 0;
}

#photo_title i {
    padding-right: 2px;
}

#photo_player i {
    padding: 0 5px 0 1px;
}

#photo_progress {
    font-family: 'Microsoft Sans Serif';
    font-size: 10px;
    margin: 5px 0 5px 75%;
}