.clImg {
    position: relative;
}

.clImg img {
    position: absolute;
    height: calc(100vh - 64px);
    left: 0;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .clImg img {
        height: calc(100vh - 128px);
    }
}

.firstview {
    padding-bottom: 95vh;
}

@media (max-width: 640px) {
    .firstview {
        padding-bottom: 87.5vh;
    }
}

.firstview h1 {
    position: absolute;
    top: 48%;
    right: 30px;
    text-align: right;
    font-family: 'Microsoft Sans Serif';
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #00000077;
}

@media (max-width: 480px) {
    .firstview b {
        font-size: 40px;
        top: 45%;
        width: 300px;
    }
}

.photo_info {
    position: absolute;
    bottom: 40px;
    right: 30px;
    width: 200px;
    padding: 2.5px 10px;
    border-radius: 5px;
    color: #bbb;
    background-color: #00000055;
}

#photo_title, #photo_player {
    font-family: 'Microsoft Sans Serif';
    font-size: 15px;
    margin: 5px 0;
}

#photo_title i {
    padding-right: 2px;
}

#photo_player i {
    padding: 0 5px 0 0px;
}

#photo_progress {
    font-family: 'Microsoft Sans Serif';
    font-size: 10px;
    margin: 5px 0 5px 75%;
}

.container {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.basicinfo_item {
    height: 300px;
    width: 200px;
    border: 5px solid #BB002D;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

.basicinfo_title {
    color: #000;
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
}

.basicinfo_underline {
    height: 5px;
    width: 205px;
    background-color: #BB002D;
}

.basicinfo_info {
    margin-left: 0;
    color: #000;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.basicinfo_warning {
    margin-left: 0;
    color: #f2a744;
    text-align: center;
    font-family: sans-serif;
    font-size: 8px;
    line-height: 10px;
}

.basicinfo_item i {
    margin-top: 20px;
    display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
    text-align: center;
    color: #000;
    font-size: 100px;
}

.basicinfo_item a {
    display: block;
    color: #000;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline 2px #BB002D;
    font-family: sans-serif;
    line-height: 16px;
}

.basicinfo_flag {
    display: block;
    width: 150px;
    margin: 70px auto 0 auto;
}

.skin {    
    display: block;
    width: 60px;
    margin: 10px auto;
}

#dynamap {
    display: block;
    height: 65vh;
    width: 65vw;
    margin: 0 auto;
}