{% extends "subeana/base/base.html" %}
{% block title %}歌詞生成{% endblock %}
{% block ogtitle %}歌詞生成{% endblock %}
{% load static %}
{% block css %}{% static 'subeana/css/make.css'%}{% endblock %}

{% block content %}
<section id="formsection">
    <h1>歌詞の生成</h1>
    <div class="underline"></div>
    <form action="{% url 'subeana:make' %}" method="POST" class="post-form" id="makeForm">{% csrf_token %}
        <label>生成タイプ</label>
        <div class="devinput" onclick="devinput(0)">
            <input type="radio" class="genetype" name="genetype" value="category" oninput="changetype(0)" checked>
            <label>カテゴリ</label>
        </div>
        <div class="devinput" onclick="devinput(1)">
            <input type="radio" class="genetype" name="genetype" value="song" oninput="changetype(1)">
            <label>ソング</label>
        </div>
        <div class="devinput" onclick="devinput(2)">
            <input type="radio" class="genetype" name="genetype" value="model" oninput="changetype(2)">
            <label>モデル</label>
        </div><br>
        <div id="categorysec">
            <label>カテゴリ*</label>
            <select id="category" name="category" oninput="makeform();">
                <option>選択してください</option>
                <option>.模倣</option>
                <option>..模倣</option>
                <option>教育模倣</option>
                <option>アブジェ模倣</option>
                <option>...模倣</option>
                <option>表/裏模倣</option>
                <option>名の無い星が空に堕ちたら模倣</option>
                <option>エヌ模倣</option>
                <option>K²</option>
            </select>
        </div>
        <div id="songsec">
            <label>曲名*</label>
            <input type="text" id="title" name="title" oninput="searchsong()"><br>
            {% for ins_song in ins_songs %}
            <div class="songrow">
                <p class="songs" id="{{ ins_song.title }}" onclick="titleinput('{{ ins_song.title }}')"><span class="channel"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</span> <i class="fas fa-music"></i> {{ ins_song.title }}</p>
            </div>
            {% endfor %}
        </div>
        <div id="similarsec">
            <label id="similarlabel">類似度</label>
            <input type="range" id="similar" name="similar" min="1" max="10" value="5" oninput="similarinput()">
            <p id="similarvalue">5</p><br>
        </div>
        <input type="submit" value="生成" id="submit" disabled>
        <p class="bottomelement">*がついているラベルは入力が必須です。</p>
    </form>
</section>

<section id="discribesection">
    <h1>生成タイプについて</h1>
    <div class="underline"></div>
    <div class="formmargin">
        <p>カテゴリ・・・全てあなたの所為です。の特定の曲とその模倣曲から生成する方法</p>
        <p>ソング・・・特定の曲を中心とした模倣関係となっている曲から生成する方法</p>
        <p>モデル・・・模倣曲を学習した言語モデルを用いて生成する方法</p>
    </div>
    <h1>類似度について</h1>
    <div class="underline"></div>
    <div class="formmargin">
        <p>類似度を高めに指定すると指定した曲により近い歌詞を生成します。具体的には</p>
        <ul>
            <li>指定した曲に登場する単語やその単語の類義語の生成割合が増える</li>
            <li>生成に用いる模倣曲の数を減らし指定した曲の構文形式に寄せる</li>
        </ul>
        <p>等の効果があります。</p>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subeana/js/makeform.js' %}" rel="stylesheet"></script>
<script>
    window.addEventListener('load', function(){
        getSong('{{ basedir }}');
        if ('{{ error }}') {
            displayerror('{{ error }}');
        }
    })
</script>
{% endblock %}