{% extends "subeana/base/base.html" %}
{% load static %}
{% block title %}歌詞の登録{% endblock %}
{% block ogtitle %}歌詞の登録{% endblock %}

{% block content %}
<section>
    <h1> 歌詞の登録 </h1>
    <div class="underline"></div>
    <form action="{% url 'subeana:new' %}" method="POST" class="post-form" id="newForm">{% csrf_token %}
        <label>曲名*</label>
        <input type="text" id="title" name="title"><br>
        <label>作者*</label>
        <input type="text" id="channel" name="channel"><br>
        <label>URL</label>
        <input type="text" id="url" name="url"><br>
        <label>カテゴリ*</label>
        <select id="imitate" name="imitate">
            <option>選択してください</option>
            <option>原曲</option>
            <option>.模倣</option>
            <option>..模倣</option>
            <option>教育模倣</option>
            <option>アブジェ模倣</option>
            <option>...模倣</option>
            <option>表裏模倣</option>
            <option>名の無い星が空に堕ちたら模倣</option>
            <option>エヌ模倣</option>
            <option>オリジナル模倣</option>
            <option>模倣曲模倣</option>
        </select><br>
        <label id="lyricslabel">歌詞</label>
        <textarea id="lyrics" name="lyrics" oninput="autotextarea()"></textarea><br>
        <input type="submit" value="登録" id="submit">
    </form>
    <p class="bottomelement">*がついているラベルは入力が必須です。</p>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'subeana/js/checkform.js' %}" rel="stylesheet"></script>
<script>
    checksong("{{ basedir }}");
</script>
{% endblock %}