{% extends "subeana/base/base.html" %}
{% block title %}{{ ins_song.title }}{% endblock %}
{% block ogtitle %}{{ ins_song.title }}{% endblock %}
{% load static %}
{% block css %}{% static 'subeana/css/song.css'%}{% endblock %}

{% block content %}
<section>
    <p id="songtitle"><i class="fas fa-music"></i>{{ ins_song.title }}</p>
    <p id="songchannel"><i class="fas fa-user-circle"></i>{{ ins_song.channel }}</p>
    {% if ins_song.url %}
        <a id="songurl" href="{{ ins_song.url }}"><i class="fas fa-link"></i>{{ ins_song.url }}</a>
        <div></div>
    {% endif %}
    <p id="songimitateslabel"><i class="fas fa-tags"></i></p>
    {% if imitates %}
        {% for imitate in imitates %}
            <p class="songimitate">{{ imitate }}模倣</p>
        {% endfor %}
    {% else %}
        <p class="songimitate">オリジナル</p>
    {% endif %}
    <p id="songlyrics">{{ ins_song.lyrics }}</p>
</section>
{% endblock %}

{% block js %}
<script>
    window.addEventListener('load', function(){
        songlyricsEle = document.getElementById("songlyrics");
        songlyricsEle.innerHTML = songlyrics.innerHTML.replace(/\n/g, "<br><br>");
    });
</script>
{% endblock %}