{% extends "subeana/base/base.html" %}
{% block title %}{{ song_ins.title }}{% endblock %}
{% block ogtitle %}{{ song_ins.title }}{% endblock %}
{% load static %}
{% block css %}{% static 'subeana/css/song.css'%}{% endblock %}

{% block content %}
<section>
    <p id="songtitle"><i class="fas fa-music"></i> {{ song_ins.title }}</p>
    <p id="songchannel"><i class="fas fa-user-circle"></i> {{ song_ins.channel }}</p>
    <a id="songurl" href="{{ song_ins.url }}"><i class="fas fa-link"></i> {{ song_ins.url }}</a>
    {% for imitate in imitates %}
        <p class="songimitate"><i class="fas fa-tags"></i> {{ imitate }}</p>
    {% endfor %}
    <p id="songlyrics">{{ song_ins.lyrics }}</p>
</section>
{% endblock %}

{% block js %}
<script>
    window.addEventListener('load', function(){
        songlyricsEle = document.getElementById("songlyrics");
        songlyricsEle.innerHTML = songlyrics.innerHTML.replace(/\n/g, "<br><br>");
    });
</script>
{% endblock %}