<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="KANATA2000">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@KANATA20002">
        <meta name="og:type" content="website">
        <meta name="og:title" content="全て歌詞の所為です。">
        <!-- <meta name="og:image" content="{% static 'subeana/image/emctour.png' %}"> -->
        <meta name="og:description" content="全て歌詞の所為です。">
        <!-- <meta name="og:url" content="https://config.pythonanywhere.com/subeana"> -->
        <meta name="description" content="全て歌詞の所為です。">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>全て歌詞の所為です。</title>
        <link rel="stylesheet" type="text/css" href="{% static 'subeana/css/common.css'%}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'subeana/css/emctour.css'%}"> -->
        <!-- <link rel="shortcut icon" href="{% static 'subeana/image/emctour.ico' %}"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- font awesome -->
        <link rel="preconnect" href="https://fonts.googleapis.com">     <!-- sans font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        <!-- sans font -->
        <link href="{% static 'subeana/js/kanji.js' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">      <!-- sans font -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /> <!-- toastr -->
    </head>


    <body>
        <header>
            <div class="header-left">
                <p href="{% url 'xia:top' %}" class="logomoji">全て歌詞の所為です。</p>
            </div>

            <div class="header-right">
                <nav>
                    <a href="{% url 'subeana:top' %}">トップ</a>
                </nav>
            </div>

            <div class="clear"></div>
        </header>

        <main>
            <article>
                <section>
                    <p>
                        全てあなたの所以です。 / 鵺<br><br>
                        瑕瑾に託せども<br>
                        聞けば｢牽強付会の説に過ぎず｣と。<br>
                        柘榴に求む長三度、<br>
                        頭蓋の線が繋がらずとも。<br>
                        朱く塗られた現実は、<br>
                        全てあなたの所以です。<br>
                        歯向かおうとするなれば、<br>
                        卑しき誤謬を抱えていて。<br>
                        唸り、悔み、迷い星になり、<br>
                        天命を待つのでしょう。<br>
                        逢瀬を這える短二度は、<br>
                        歪められた鳥居と知らずに。<br>
                        光を厭う紙の中、<br>
                        何を見ているのですか？<br>
                        朱く塗られた現実は、<br>
                        全てあなたの所以です。<br>
                    </p>
                </section>
            </article>
        </main>

        
        <!--
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="footer-right">
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="https://creativecommons.org/images/deed/zero_white_x2.png"><img src="https://creativecommons.org/images/deed/cc_icon_white_x2.png"></a>
                    <p>2022 KANATA</p>
                </div>

                <div class="clear"></div>
            </div>
        </footer>-->
    </body>

    <script>
    window.onload = function() {
        ps = document.getElementsByTagName('p');
        for (p of ps) {
            p.innerHTML = p.innerHTML.replace(/([\u4E00-\u9FFF])/gi,"<font class=kanji>$1</font>");
        }
    }
    </script>

</html>