{% extends "subeana/base/base.html" %}
{% block title %}トップ{% endblock %}
{% block ogtitle %}トップ{% endblock %}
{% load static %}
{% block css %}{% static 'subeana/css/top.css' %}{% endblock %}

{% block content %}
<section>
    <h1>新着の曲</h1>
    <div class="underline"></div>
    {% for ins_song in ins_songs %}
        <div class="songcard" onclick="songpage('{{ basedir }}', '{{ ins_song.id }}')">
            <div class="cardleft">
                <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title }}</p>
                <a class="songchannel" href="{% url 'subeana:channel' ins_song.channel %}"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</a>
            </div>
            <div class="cardright">
                {% if ins_song.lyrics %}
                    <p class="songlyrics">{{ ins_song.lyrics|slice:"25" }}...</p>
                {% else %}
                    <p class="songlyrics">歌詞未登録</p>
                {% endif %}
                {% if ins_song.url %}
                    <a class="songurl" href="{{ ins_song.url }}">{{ ins_song.url }}</a>
                {% else %}
                    <p class="songurl">URL未登録</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="dummybutton" onclick="tosearch('')"><p class="dummybuttonp">もっと見る</p></div>

    {% if ins_lacks %}
        <h1>情報不足の曲</h1>
        <div class="underline"></div>
        {% for ins_song in ins_lacks %}
            <div class="songcard" onclick="songpage('{{ basedir }}', '{{ ins_song.id }}')">
                <div class="cardleft">
                    <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title }}</p>
                    <a class="songchannel" href="{% url 'subeana:channel' ins_song.channel %}"><i class="fas fa-user-circle"></i> {{ ins_song.channel }}</a>
                </div>
                <div class="cardright">
                    {% if ins_song.lyrics %}
                        <p class="songlyrics">{{ ins_song.lyrics|slice:"25" }}...</p>
                    {% else %}
                        <a class="songlyrics" href="{% url 'subeana:edit' %}?id={{ ins_song.id }}">歌詞未登録</a>
                    {% endif %}
                    {% if ins_song.url %}
                        <a class="songurl" href="{{ ins_song.url }}">{{ ins_song.url }}</a>
                    {% else %}
                        <a class="songurl" href="{% url 'subeana:edit' %}?id={{ ins_song.id }}">URL未登録</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="dummybutton" onclick="tosearch('?lacks=1')"><p class="dummybuttonp">もっと見る</p></div>
    {% endif %}

    {% if ins_nones %}
        <h1>未登録の曲</h1>
        <div class="underline"></div>
        {% for ins_song in ins_nones %}
            <div class="songcard" onclick="songlack('{{ basedir }}', '{{ ins_song.id }}')">
                <div class="cardleft">
                    <p class="songtitle"><i class="fas fa-music"></i> {{ ins_song.title }}</p>
                    <p class="songchannel"><i class="fas fa-user-circle"></i> チャンネル未登録</p>
                </div>
                <div class="cardright">
                    <p class="songlyrics">歌詞未登録</p>
                    <p class="songurl">URL未登録</p>
                </div>
            </div>
        {% endfor %}
            <div class="dummybuttons">
                <div class="dummybutton dummybuttonf" onclick="tosearch('?nones=1')"><p class="dummybuttonp">もっと見る</p></div>
                <div class="dummybutton dummybuttonf" onclick="tonew()"><p class="dummybuttonp">曲を登録する</p></div>
            </div>
    {% endif %}
    
    <h1>リンク</h1>
    <div class="underline"></div>
    <a href="https://imicomweb.com/"><img id="imicom" src="{% static 'subeana/image/imicom.png' %}"></a>
    <a href="https://www.youtube.com/@subeteanatanoseidesu" id="subeana"><h1>全てあなたの所為です。</h1></a>
</section>
{% endblock %}

{% block js %}
    <script src="{% static 'subeana/js/songlist.js' %}" rel="stylesheet"></script>
    <script>
        function tosearch(query) {
            window.location.href = "{% url 'subeana:search' %}" + query;
        }

        function tonew() {
            window.location.href = "{% url 'subeana:new' %}";
        }
    </script>
{% endblock %}